:host ::ng-deep {
  .ngx-datatable {
    > div {
      min-height: 500px;
      datatable-body {
        max-height: max-content;
      }
    }
  }
}

.w-sdc-distribution-view-header {
  display: flex;
  -webkit-justify-content: space-between;
  margin: 0 25px 5px 40px;

  .header-spacer {
    flex-grow: 5;
  }

  .w-sdc-distribution-view-title{
    color: #191919;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 30px;


    .blue-font {
      color: #009fdb;
      font-family: OpenSans-Semibold, sans-serif;
      font-size: 14px;
    }
  }

}

.distribution-page {
  max-height: 150px;
}

  .distributionIDBlock {
    display: inline-block;
  }

  .expand-collapse-cell {
    display: inline-block;
  }

  .statusIcon {
    display: inline-block;
    margin-right: 10px;
  }

  .btnMarkAsDistributed {
    float: right;
    background-color: #E5F3FF;
    border: 1px solid #8DCCD5;
    width: 55px;
    height: 21px;
    text-align: center;
  }

  .distributionRowContainer{
    background-color: #eaeaea;
    text-align: center;
  }

  .distributionRowLabel {
    overflow: hidden;
    padding-top: 10px;
    color: #000000;
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  .distributionRowValue {
    color: #263d4d;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
  }

.ellipsisCell {
  width: 92%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}




