.flat-children-container {
    dynamic-property:first-child .dynamic-property-row:not(.with-top-border) {
        border-top:none;
    }
    .dynamic-property-row {
        border-top: solid 1px #CCC;
    }
}
.dynamic-property-row {
    display:flex;
    flex-direction:row;
    align-items: center;
    
    .table-cell {
        flex: 1;
        padding:5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
        min-height:32px;

        &:first-child {
            flex: 0 0 50%;
            border-right:#d2d2d2 solid 1px;
            
        
            &:only-of-type {
                flex: 1 1 100%;
                border-right:none;
            }
        }

    }
    .property-icon {
        flex: 0 0 auto;
    }
    span.expand-icon {
        transition: 200ms transform ease-in-out;
    }
    span.expand-icon.expanded {
        transform: rotate(-180deg);
    }
}
.filtered {
    /deep/ .checkbox-label-content{
        background-color: yellow;
    }
}
