
.entitlement-pools-list-editor {

  .list-editor-view-list {
    .list-editor-item-view {
      min-height: 110px;
      height: 110px;
    }
    .list-editor-item-view-field {

      .entitlement-pools-count, .entitlement-parameters, .contract-number, .type{
        color: $purple;
      }
      .entitlement-parameters {
        @include ellipsis;
        margin-bottom: 2px;
      }
      .entitlement-pools-count {
        @extend .heading-1;
        margin-top: -10px;

      }
    }
  }
}

.entitlement-pools-modal {
  .validation-form-content {
    padding: 50px;
  }
  .modal-body {
    padding: 0;
  }
  .entitlement-pools-form {
    .tab-content {
      padding: 50px;
    }
		.threshold-section {
			display: flex;
			justify-content: space-between;
			.validation-input-wrapper {
				flex: 0 0 46%;
			}
		}
  }
  .validation-buttons {
    padding: 20px 50px;
  }
}
