
.entitlement-pools-list-editor {  
    .list-editor-item-view-field {

      .entitlement-pools-count {
        @extend .heading-1;
      color: $purple;
    }
  }
}

.entitlement-pools-modal {
  .entitlement-pools-form {
    .threshold-section, .date-section {
			display: flex;
			justify-content: space-between;
			.validation-input-wrapper {
				flex: 0 0 46%;
			}
    }
		}
}
