.feature-groups-list-editor {
  .list-editor-view-list {
    .list-editor-item-view {
      min-height: 110px;
      height: 110px;
    }
    .list-editor-item-view-field {
      .feature-groups-count-field {
        display: inline-block;
        &:first-child {
          margin-right: 95px;
        }
      }
      .feature-groups-count-ep {
        @extend .heading-1;
        color: $light-blue;
      }
      .feature-groups-count-lk {
        @extend .heading-1;
        color: $light-green;
      }
    }
  }
}

.feature-group-modal {
  .modal-body {
    padding: 0;
  }
  .feature-group-form {
    .button-tab {
      @extend .body-1-medium;
      color: $dark-gray;
      padding: 6px;
      border: 0;
      background-color: $white;
      box-shadow: none;
      &:first-child {
        margin-right: 28px;
      }
      &.active, &:hover {
        color: $text-black;
        border-bottom: 2px solid $blue;
      }
    }
    .no-items-msg {
      margin-top: 55px;
      color: $dark-gray;
    }
    .tab-content {
      padding: 50px;
      .field-section {
        @extend .body-2-medium;
        margin-bottom: 23px;
        width: 400px;
        color: $black;
      }
      .description-field {
        height: 170px;
      }
      .list-editor-item-view-content {
        white-space: nowrap;
        overflow: hidden;
        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          &:not(:last-of-type) {
            margin-right: 24px;
          }
        }
      }
    }
    .validation-buttons {
      padding: 20px 50px;
    }
  }
}
