.license-model-type-modal {
  .modal-body {
    padding: 0;
  }
  .validation-form-content {
    padding: 50px;
    .field-section {
      @extend .body-2-semibold;
      margin-bottom: 23px;
      width: 400px;
      color: $black;
    }
    textarea {
      height: 107px;
    }
  }
  .validation-buttons {
    padding: 20px 50px;
  }
}
