.software-product-type-modal {
  .modal-dialog {
    @extend .modal-lg !optional;
    .modal-body {
      padding: 0;
    }
    .validation-form-content {
      padding: 50px;
      .software-product-form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .software-product-inline-section {
          padding: 0 20px;
          flex: 45%;
          .validation-input-wrapper {
            .field-section {
              @extend .body-2-medium;
              margin-bottom: 23px;
              color: $black;
            }
            textarea {
              height: 191px;
            }
            select optgroup[label] {
              color: $dark-blue;
            }
            option {
              color: black;
            }
          }
        }
      }
    }
    .validation-buttons {
      padding: 20px 50px;
    }
  }
}
