.vsp-components-general {
  .general-data {
    .one-line-textarea {
      height: 30px;
    }
    .multi-line-textarea {
      height: calc(100% - 25px);
      textarea {
        height: inherit;
      }
    }
  }
}
