
.validation-results-test-result-label {
  padding-left: 10px;
}
.validation-results-test-result-json {
  min-height: 50px;
  overflow: auto;
  min-width: 100px;
  height: 100px;
  width: 900px;
  max-width: 900px;
}
.validation-results-test-result-string {
  min-height: 50px;
  overflow: auto;
  min-width: 100px;
  height: 100px;
  width: 900px;
  max-width: 900px;
}
.vcp-validation-refresh-btn {
  float: right;
  border: 1px solid $dark-gray;
  width: 98px;
  height: 32px;
  border-radius: 2px;
  padding-top: 6px;
  padding-left: 10px;
  margin-left: 9px;
  margin-right: 10px;
  .__versionControllerSync {
    height: 12px;
  }
  &:hover:not(.disabled) {
    cursor: pointer;
    background-color: $tlv-light-gray;
}
}
div.testresults {
  div.open {
    max-height: 100000px !important;
  }
}

