
.vsp-component-monitoring {
  .snmp-dropzone {
    .section-title {
      padding-bottom: 20px;
    }
    &:first-child {
      padding-bottom: 50px;
    }
    .software-product-landing-view-top-block-col-upl {
      @extend .body-1;
      width: 400px;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      border: 2px dashed $light-gray;
      padding: 25px 0;
      align-items: center;
      .upload-btn {
        padding: 20px;
        padding-top: 7px;
        padding-bottom: 3px;
      }
      .drag-text {
        color: $blue;
        font-weight: bolder;
      }
      .or-text {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  }

  .delete-button {
    min-width: 0;
  }
}
