.vsp-component-computeFlavor-view {
  .component-questionnaire-validation-form {
    .vm-sizing-section {
      .section-title {
        text-transform: capitalize;
        font-size: 18px;
      }
      .duplicate-title-line label.control-label{
        height: 2.7em;
      }
    }
  }
}

.compute-flavor-editor-modal-edit {
  .modal-lg {
    width: 1182px;
  }
}