.w-sdc-modal-confirmation {
    form.w-sdc-form{
        padding: 0;
    }

    .w-sdc-modal-body-content {
        .b_6;
        word-break: break-word;

    }
    .w-sdc-modal-body {
        height: auto;
        /* padding: 47px 60px 20px 60px; */
        border-bottom: none;
    }
    .w-sdc-modal-body-content {
        padding: 0;
    }
    .w-sdc-modal-body-comment {
        width: 430px;
        height: 127px;
        border: solid 1px @color_e;
        margin: 20px 0 0 0;
        padding: 15px;
    }
    .w-sdc-modal-label {
        .m_14_r;
        text-align: left;
    }
}
