<div class="w-sdc-resource-viewer">
    <loader data-display="isLoading"></loader>
    <div class="w-sdc-resource-viewer-modal-close sprite x-btn-black" data-ng-click="close()">X</div>
    <div class="w-sdc-resource-viewer-content" data-ng-if="component">
        <div class="w-sdc-resource-viewer-left">
            <h3 class="w-sdc-resource-viewer-left-title clearfix">
                <div class="w-sdc-resource-viewer-left-title-icon i-sdc-form-item-suggested-icon  borderElement large {{component.iconSprite}} {{component.icon}}"></div>
                    <span class="w-sdc-resource-viewer-left-title-name"
                          tooltips tooltip-content="{{component.name | resourceName}}">{{component.name | resourceName}}</span>
                <br/>
                <span class="w-sdc-resource-viewer-left-title-version">v{{component.version}}</span>
            </h3>
            <p class="w-sdc-resource-viewer-left-title-uuid">
                UUID: {{component.uuid}}
            </p>
            <div class="w-sdc-resource-viewer-leftbar-section">
                <div class="w-sdc-resource-viewer-leftbar-section-title">Version History</div>
                <perfect-scrollbar class="w-sdc-resource-viewer-version">
                    <div class="i-sdc-resource-viewer-version-container">
                        <div data-ng-repeat="version in versionsList | orderBy: '-versioning'">
                             <span class="i-sdc-resource-viewer-version-item"  data-ng-class="{'active': version.versionNumber == component.version}" data-ng-click="onVersionChanged(version)">{{ version.versionNumber }}</span>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>

            <div class="w-sdc-resource-viewer-leftbar-section">
                <div class="w-sdc-resource-viewer-leftbar-section-title">Composition</div>
                <perfect-scrollbar class="w-sdc-resource-viewer-leftbar-section-structure" ng-show="component.isComplex()">
                    <structure-tree component="component"></structure-tree>
                </perfect-scrollbar>
            </div>
        </div>

        <div class="w-sdc-resource-viewer-right">
              <button class="w-sdc-resource-viewer-right-tab"
                      data-ng-class="{'selected': isSelected('PROPERTIES')}"
                      data-ng-click="moveToTab('PROPERTIES')"
                      translate="ENTITY_VIEWER_PROPERTIES_TAB">
              </button>

            <button class="w-sdc-resource-viewer-right-tab"
                      data-ng-if="component.isResource() || component.isService()"
                      data-ng-class="{'selected': isSelected('ACTIVITY_LOG')}"
                      data-ng-click="moveToTab('ACTIVITY_LOG')"
                      translate="ENTITY_VIEWER_ACTIVITY_LOG_TAB">
              </button>

              <perfect-scrollbar include-padding="true" class="w-sdc-resource-viewer-right-content">
                 <ng-include src="templateUrl"  ng-if="true"></ng-include>
              </perfect-scrollbar>
              <div style="clear:both;"></div>
        </div>
    </div>
</div>
