<div class="properties-step" data-ng-controller="Sdc.ViewModels.Wizard.PropertiesStepViewModel">

    <div class="w-sdc-classic-btn gray" data-tests-id="addGrey" data-ng-click="addOrUpdateProperty()">Add</div>

    <div class="table-container-flex">

        <div class="table">
            <div class="head flex-container">
                <div class="table-header head-row hand flex-item" data-ng-repeat="header in tableHeadersList track by $index" data-ng-click="sort(header.property)">{{header.title}}
                    <span data-ng-if="sortBy === header.property" class="table-header-sort-arrow" data-ng-class="{'down': reverse, 'up':!reverse}"> </span>
                </div>
                <div class="table-no-text-header head-row flex-item"></div>
                <!--div class="table-no-text-header head-row flex-item"></div-->
            </div>

            <div class="body">
                <perfect-scrollbar scroll-y-margin-offset="0" include-padding="true" class="scrollbar-container">
                    <div data-ng-if="component.properties.length === 0 " class="no-row-text">
                        There are no properties to display <br>
                        click <a data-ng-click="addOrUpdateProperty()">here</a> to add one
                    </div>
                    <div data-ng-repeat-start="property in component.properties | orderBy:sortBy:reverse track by $index"
                         class="flex-container data-row" data-ng-class="{'selected': property.selected}"
                         data-ng-click="property.selected = !property.selected">

                        <div class="table-col-general flex-item text">
                            <span class="sprite table-arrow" data-ng-class="{'opened': property.selected}"></span>
                            <span  data-tests-id="{{property.name}}" tooltips tooltip-content="{{property.name}}">{{property.name}}</span>

                        </div>

                        <div class="table-col-general flex-item text" data-tests-id="{{property.type}}" data-ng-bind="property.type"></div>

                        <div class="table-col-general flex-item text">
                             <span tooltips tooltip-content="{{property.defaultValue}}" data-tests-id="{{property.defaultValue}}" data-ng-bind="property.defaultValue"></span>
                        </div>

                        <div class="table-btn-col flex-item">
                            <button class="table-edit-btn" data-ng-show="property.parentUniqueId==component.uniqueId"
                                    data-ng-click="addOrUpdateProperty(property); $event.stopPropagation();"> </button>
                            <button class="table-delete-btn" data-ng-show="property.parentUniqueId==component.uniqueId"
                                    data-ng-click="delete(property); $event.stopPropagation();"> </button>
                        </div>

                        <!--div class="table-btn-col flex-item">

                        </div-->
                    </div>
                    <div data-ng-repeat-end="" data-ng-if="property.selected && property.description" class="item-opened" data-ng-bind="property.description">
                    </div>
                </perfect-scrollbar>
            </div>

        </div>
    </div>

</div>
