.sdc-edit-artifact-form-container {

    .w-sdc-form-note {
        .h_9;
        display: block;
        position: relative;
        top: 13px;
    }

    .i-sdc-form-textarea{
        min-height: 95px;
    }

    .i-sdc-form-url {
        padding-bottom: 0px;
    }

    &.mandatory-artifact {
        .w-sdc-form-column {
            width: 100%;
            padding: 0;
            min-height: initial;
        }
    }
    .w-sdc-form .i-sdc-form-item.upload input[type="file"] {
        display: none
    }

    .artifact-info {
        text-align: left;
        color:  rgb(140, 140, 140);
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: 5px;
        width: 100%;
        min-height: initial;

        span {
            color:  #666666;
            padding-left: 4px;
        }
    }

}
