parameters:
  vdbe_flavor_name: m1.vsrx.dpdk
  vdbe_image_name: vSRX-15.1X49-D50.3 
  availability_zone_0: novadpdk1 
  availability_zone_1: novadpdk2  
  #vnf_name: dbfx0005v
  #vnf_id: dbfx0005v
  #vf_module_id: dbfx0005v_base
  #vdbe_device_name: dbf
  #vdbe_name_0: dbfx0005vm001
  #vdbe_name_1: dbfx0005vm002
  #oam_net_name: 'default-domain:IPXHUB-26177-t-01:VOIP_OAM_NET2'
  control_int_net_shared: False
  control_int_net_forwarding_mode: l2
  control_int_net_flood_unknown_unicast: True
  control_int_net_rpf: 'disable'
  fabric_int_net_shared: False
  fabric_int_net_forwarding_mode: l2
  fabric_int_net_flood_unknown_unicast: True
  fabric_int_net_rpf: 'disable'
  #untrusted_net_name: 'default-domain:IPXHUB-26177-t-01:VOIP_DATA_UNTRUSTED_NET2'
  #trusted_net_name: 'default-domain:IPXHUB-26177-t-01:VOIP_DATA_TRUSTED_NET2'
  #control_subnet_cidr: 129.16.0.1/2
  #fabric_subnet_cidr: 30.17.0.200/8
  #vdbe_oam_mac_0: 4c:96:14:ee:11:e5
  #vdbe_oam_mac_1: 4c:96:14:ef:11:f5
  #vdbe_hw_untr_mac_0: 4c:96:14:11:e5:01
  #vdbe_hw_untr_mac_1: 4c:96:14:11:f5:01
  #vdbe_hw_trst_mac_0: 4c:96:14:11:e5:02
  #vdbe_hw_trst_mac_1: 4c:96:14:11:f5:02
  #vdbe_oam_ip_0: 10.10.50.54
  #vdbe_oam_ip_1: 10.10.50.55
  #vdbe_control_ip_0: 129.16.1.54
  #vdbe_control_ip_1: 130.16.1.55
  #vdbe_fabric_ip_0: 30.17.1.254
  #vdbe_fabric_ip_1: 30.18.1.255
  #vdbe_untrusted_ip_0: 192.168.2.54
  #vdbe_untrusted_v6_ip_0: 2001:1890:fc45:f026:135:25:246:d852
  #vdbe_untrusted_ip_1: 192.168.2.55
  #vdbe_untrusted_v6_ip_1: 2001:1890:fc45:f026:135:25:246:d853
  #vdbe_trusted_ip_0: 10.10.20.54
  #vdbe_trusted_v6_ip_0: 2001:1890:fc45:f046:135:25:246:e852
  #vdbe_trusted_ip_1: 10.10.20.55
  #vdbe_trusted_v6_ip_1: 2001:1890:fc45:f046:135:25:246:e853
  #vdbe_untrusted_vmac_address: 00:10:db:ff:50:00
  #vdbe_aap_untrusted_ip_prefix: 192.168.2.54
  #vdbe_aap_untrusted_ip_prefix_len: 24
  #vdbe_aap_sec_untrusted_ip_prefix: 192.168.2.55
  #vdbe_aap_sec_untrusted_ip_prefix_len: 32
  #vdbe_aap_untrusted_v6_ip_prefix: 2001:1890:fc45:f026:135:25:246:d852
  #vdbe_aap_untrusted_v6_ip_prefix_len: 64
  #vdbe_trusted_vmac_address: 00:10:db:ff:50:01
  vdbe_aap_trusted_ip_prefix: "0.0.0.0"
  vdbe_aap_trusted_ip_prefix_len: "0"
  #vdbe_aap_sec_trusted_ip_prefix: 10.10.20.55
  #vdbe_aap_sec_trusted_ip_prefix_len: 32
  vdbe_aap_trusted_v6_ip_prefix: "::" 
  vdbe_aap_trusted_v6_ip_prefix_len: "0"
  aap_address_mode : 'active-standby'
  #untrusted_num_vn: 3
  #untrusted_vlan_tags: ["100", "200", "300"]
  #untrusted_vn_networks: ['default-domain:IPXHUB-26177-t-01:VOIP_DATA_UNTRUSTED_NET2_1', 'default-domain:IPXHUB-26177-t-01:VOIP_DATA_UNTRUSTED_NET2_2', 'default-domain:IPXHUB-26177-t-01:VOIP_DATA_UNTRUSTED_NET2_3']

