@import './../../../../../../assets/styles/variables.less';

.add-path-link {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 10px;
}

.generic-table {
  max-height: 233px;
}

.path-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sprite-new {
    cursor: pointer;
  }
  & > span:only-child {
    margin: auto;
}
}