# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Package Files #
*.jar
*.war
*.ear

# Other
*.class
*.orig
catalog-ui/.*
catalog-ui/app/scripts/tsconfig.json
catalog-ui/app/scripts/references.ts
catalog-ui/app/scripts/**/*.js
catalog-ui/app/scripts/**/*.js.map

# catalog-ui
catalog-ui/app/**/*.css
catalog-ui/.editorconfig
catalog-ui/.jshintrc
catalog-ui/.yo-rc.json
catalog-ui/app/robots.txt
catalog-ui/node_modules/
catalog-ui/bower_components/
catalog-ui/app/tsconfig.json


catalog-be/.checkstyle
catalog-be/bin/
catalog-be/src/main/java/META-INF/MANIFEST.MF
catalog-builders/src/test/java/com/att/tlv/sdc/be/builders/tosca/t1
a4c/
catalog-ui/*.tmp.txt
catalog-dao/bin/
catalog-ui/dist
catalog-builders/bin/
common-app-api/bin/
data/compute.png
data/loadbalancer.png
data/mysql.png
data/network.png
data/normative-types-blockStorage.yml
data/normative-types-compute.yml
data/normative-types-database.yml
data/normative-types-DBMS.yml
data/normative-types-network.yml
data/normative-types-objectStorage.yml
data/normative-types-root.yml
data/normative-types-softwareComponent.yml
data/normative-types-webApplication.yml
data/normative-types-webServer.yml
data/objectstore.png
data/relational_db.png
data/root.png
data/router.png
data/software.png
data/volume.png
catalog-ui/app/dist/*
catalog-fe/src/main/webapp/*
catalog-fe/bin
!catalog-fe/src/main/webapp/WEB-INF/
!catalog-fe/src/main/webapp/META-INF/
ui-ci/.tern-project
catalog-be/data/*
ci/src/main/java/com/att/tlv/sdc/ci/tests/execute/ShayPracticeTests.java
ci/src/main/java/com/att/tlv/sdc/ci/tests/execute/ShayPracticeTests.java
.metadata/*
.metadata/*
.idea/*
*.iml
catalog-ui/npm-debug.log
sdnc-tests/logs/wordnik.log
distribution-ci/logs/*
vagrant-asdc-all-in-one/
catalog-ui/tests/Coverage/*
catalog-ui/Chrome*
catalog-ui/PhantomJS_1.9.8_(Windows_7_0.0.0)/*

.metadata/
bin/
Vagrantfile
sdnc-tests/test-output/*
sdnc-tests-new-frame-work/test-output/*
ui-ci/test-output/*


sdnc-tests-new-frame-work/test-output/**
asdc-tests/test-output/**

asdc-chef/cookbooks/Deploy-SDandC/attributes/version.rb
asdc-tests/ExtentReport/ASDC_CI_Extent_Report.html


**/*.log
sdctool.tar
asdc-tests.tar
