table { width:100%;}
tr {border-bottom: #d2d2d2 solid 1px;}
tr:last-child { border-bottom:none;}
td { border:none; padding:5px;}
td:first-child { border-right:#d2d2d2 solid 1px;}

.prop-value{
    span {
        position: absolute;
        top: 5px;
        right: 2px;

        &.delete-span {
            right:20px;
        }

        &.datatype-text {
            position:static;
        }

    }
}

.add-data-row {
    padding:5px;
    text-align:right;
    border-bottom: #d2d2d2 solid 1px;

    &:last-child {
        border-bottom:none;
    }
}
.table-inner-row {
    display:flex;
    flex-direction:row;
    border-bottom: #d2d2d2 solid 1px;
    flex: 0 0 100%;
    position:relative;

    &:last-child {
        border-bottom:none;
    }

    .table-cell {
        flex: 0 0 50%;
        padding:5px;
        position:relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child {
            border-right:#d2d2d2 solid 1px;
            overflow:hidden;
        }


    }

    .table-inner-container, .inner-table-container {
        flex: 0 0 100%;
    }
}
/deep/ map-property, /deep/ properties-value-inner-table, /deep/ list-property{
    width:100%;
}

.filtered {
    /deep/ .checkbox-label-content{
        background-color: yellow;
    }
}
