
<template  ngFor let-childProp [ngForOf]="property.childrenProperties" let-i="index">
    <div class="table-inner-row" (click)="onChildPropertySelected(childProp)" [ngClass]="{'selected': selectedPropertyId === childProp.treeNodeId}">
        <div class="table-cell" [ngClass]="{'filtered':childProp.name === propertyNameSearchText}">
            <checkbox [label]="childProp.name" [(checked)]="childProp.isSelected" [disabled]="property.isDisabled"></checkbox>
        </div>
        <div class="table-cell  prop-value">
            <input class="value-input" *ngIf="childProp.isSimpleType"
                   [(ngModel)]="property.valueObjectRef[childProp.name]"
                   (change)="putDefaultValueInEmptyChildProperty(childProp);propValueChanged();"
                   type="childProp.derivedFromSimpleTypeName || childProp.type"/>
            <span class="datatype-text" *ngIf="childProp.isDataType">{{ childProp.type | contentAfterLastDot }}</span>
            <span *ngIf="!childProp.isSimpleType" (click)="property.updateExpandedChildPropertyId(childProp.treeNodeId)">V</span>
        </div>
    </div>
    <div class="table-inner-row" *ngIf="childProp.type === 'list' && property.expandedChildPropertyId === childProp.treeNodeId">
            <list-property [property]="childProp"
                           [selectedPropertyId]="selectedPropertyId"
                           [propertyNameSearchText]="propertyNameSearchText"
                            (valueChanged)="propValueChanged()"
                            (selectChildProperty)="onChildPropertySelected($event)"></list-property>

    </div>
    <div class="table-inner-row" *ngIf="childProp.type === 'map' && property.expandedChildPropertyId == childProp.treeNodeId">
            <map-property [property]="childProp"
                            [selectedPropertyId]="selectedPropertyId"
                          [propertyNameSearchText]="propertyNameSearchText"
                            (valueChanged)="propValueChanged()"
                            (selectChildProperty)="onChildPropertySelected($event)"></map-property>

    </div>
    <div class="table-inner-row" *ngIf="childProp.isDataType && property.expandedChildPropertyId == childProp.treeNodeId">
            <properties-value-inner-table [property]="childProp"
                                          [selectedPropertyId]="selectedPropertyId"
                                          [propertyNameSearchText]="propertyNameSearchText"
                                            (selectChildProperty)="onChildPropertySelected($event)"
                                            (valueChanged)="propValueChanged()"></properties-value-inner-table>
    </div>
</template>


