.navigation-wrapper {
    text-align: left;
}

.node-item {
    border: 1px dotted;
    border-right: none;
    border-bottom: none;
    width: 100%;
}

.node-item:last-child {
    border-left: none;
}

.node-data-wrapper {
    cursor: default;
    height: 39px;
    line-height: 39px;
    position: relative;
    top: -20px;
    background-color: white;
    margin-left: 0.7em;
}

.children-node {
    padding-left: 40px;
}

.node-data {
    margin-left: 10px;
    margin-right: 10px;
}

.node-data-wrapper.selected {
    background-color: #e6f6fb;

    .node-data {
        color:  #009fdb;
    }
}

.node-data-wrapper:hover {
    background-color: #eaeaea;
}

.mark{
    background-color: yellow;
}



