<div class="navigation-wrapper">
    <div class="node-item" *ngFor="let item of displayData" (click)="onClick($event, item)">
        <div class="node-data-wrapper" [ngClass]="{'selected': selectedItem && selectedItem === item[displayOptions.idProperty]}">
            <span class="node-data" [ngClass]="{'mark':item[displayOptions.valueProperty] === displayOptions.searchText}" [attr.data-tests-id]="item[displayOptions.valueProperty]">{{item[displayOptions.valueProperty]}}</span>
        </div>
        <div class="children-node" *ngIf="item[displayOptions.childrenProperty]">
            <hierarchy-navigation class="children-hierarchy" [displayData]="item[displayOptions.childrenProperty]"
                                  [selectedItem]="selectedItem"
                                  [displayOptions]="displayOptions"
                                  (updateSelected)="onSelectedUpdate($event)"></hierarchy-navigation>
        </div>
    </div>
</div>
