.action-bar-wrapper {
  flex: 0 0 30%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-attr-icon{
  cursor: pointer;
}

.attr-container {
  display: flex;
  justify-content: space-between;

  .attr-col {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    flex-grow: 1;
  }

}

.attributeType {
  margin-bottom: 10px;
}

sdc-checkbox {
  margin-top: 20px;
}

.actionColumn {
  text-align: center;
  padding: 5px;
}