<div class="properties-table">
    <loader [display]="isLoading" [size]="'large'" [relative]="true"></loader>
    <div class="table-header">
        <div class="table-cell col1">Property Name</div>
        <div class="table-cell col3">From Instance</div>
        <div class="table-cell col2">Type</div>
        <div class="table-cell valueCol">Value</div>
    </div>
    <div class="table-body">
        <div class="no-data" *ngIf="!inputs || !inputs.length">No data to display</div>
        <div>
            <div class="table-row" *ngFor="let input of inputs" (click)="selectedInputId = input.path" [ngClass]="{'selected': selectedInputId && selectedInputId === input.path}">
                <div class="table-cell col1">
                    <div class="inner-cell-div" tooltip="{{input.name}}"><span class="property-name">{{input.name}}</span></div>
                    <span *ngIf="input.description"
                          class="property-description-icon sprite-new show-desc"
                          tooltip="{{input.description}}" tooltipDelay="0"></span>
                </div>
                <div class="table-cell col3">
                    <div class="inner-cell-div" tooltip="{{instanceNamesMap[input.instanceUniqueId]}}">
                        <span>{{instanceNamesMap[input.instanceUniqueId]}}</span>
                    </div>
                </div>
                <div class="table-cell col2">
                    <div class="inner-cell-div" tooltip="{{input.type | contentAfterLastDot}}">
                        <span>{{input.type | contentAfterLastDot}}</span>
                    </div>
                </div>
                <div class="table-cell valueCol input-value-col" [class.inner-table-container]="input.childrenProperties || !input.isSimpleType">
                    <dynamic-element class="value-input"
                                     *ngIf="input.isSimpleType"
                                     pattern="validationUtils.getValidationPattern(input.type)"
                                     [(value)]="input.defaultValue"
                                     [type]="input.type"
                                     [name]="input.name"
                                 (change)="onInputValueChanged(input);"
                                 [readonly]="readonly">
                    </dynamic-element>
                    <div class="delete-button-container">
                        <span *ngIf="input.instanceUniqueId && !readonly" class="sprite-new delete-btn" (click)="openDeleteModal(input)" data-tests-id="delete-input-button"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


