
@import './../../../../../assets/styles/variables.less';

:host /deep/ input { width:100%;}

.metadata-container {
    .metadata-entry {
        border-top:solid 1px #d2d2d2;
        flex: 1;
        display:flex;
        flex-direction:row;
        align-items: stretch;
		
        .metadata-key-value {
            flex: 1;
            padding:8px;
            justify-content: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .metadata-key {
            flex: 0 0 50%;
            border-right:#d2d2d2 solid 1px;
        }

        .delete-icon {
            flex: 0 0 auto;
            margin-right:10px;
            align-self:center;
            cursor:pointer;
        }
    }
}

.properties-table {
    display:flex;
    flex-direction:column;
    flex: 1;
    height:100%;
    text-align:left;

    .inner-cell-div{
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 20px;
    }


    .table-header {
        font-weight:bold;
        border-top: #d2d2d2 solid 1px;
        background-color: #eaeaea;
        color:#191919;

        .table-cell {
            font-size: 13px;
            .table-header-sort-arrow {
                display: inline-block;
                background-color: transparent;
                border: none;
                color: #AAA;
                margin: 8px 0 0 5px;
                &.up {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid;
                }
                &.down {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid;
                }
            }
        }
        .valueCol {
            justify-content: flex-start;
            padding: 10px 8px 10px 8px;
        }

        .metadata-col-small {
            padding: 10px;
	        flex: 0 0 115px;
         }
        .metadata-col-wide {
            justify-content: flex-start;
            padding: 0px;
            flex: 1;

           .metadata-col-wide-text {
	            justify-content: flex-start;
	            padding: 10px;
			}
        }
    }
    .table-header, .table-row {
        display: flex;
        flex-direction:row;
        flex: 0 0 auto;
    }

    .table-body {
        display:flex;
        flex-direction: column;
        overflow-y:auto;
        flex: 1;

        .no-data {
            border: #d2d2d2 solid 1px;
            border-top:none;
            text-align: center;
            height: 100%;
            padding: 20px;
        }
        /deep/.selected{
            background-color: #e6f6fb;
            color:  #009fdb;
        }
    }

    .table-row {
        &:hover {
             background-color:#f8f8f8; cursor:pointer;
        }

        &:last-child {
            flex: 1 0 auto;
        }
        .selected-row {
            background-color:#e6f6fb;
        }
        .table-cell.valueCol {
            padding:8px;
        }
        .table-cell.metadataCol {
            padding:0px;
            .value-input {
                flex: 1;
                border: none;
                background-color: inherit;

                &:focus, &:active {
                    border:none;
                    outline:none;
                }
            }
			.metadata-add {
		        padding: 10px;
	        	height: 40px;
        	}
        }

        .table-cell.metadata-col-small {
	        flex: 0 0 115px;
            padding: 0px 10px 0px 10px;
            .metadata-add {
                padding: 10px 0px 10px 0px;
                height: 40px;
                margin-right: 0px;
            }
        }

    }

     .table-cell {
        font-size:13px;
        flex:1;
        border: #d2d2d2 solid 1px;
        border-right:none;
        border-top:none;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;


        &:last-child {
            border-right:#d2d2d2 solid 1px;
        }

        // Column: Property Name
        &.col1 {
            flex: 1 0 130px;
            max-width: 250px;
            display: flex;

            justify-content: space-between;

            .property-name {
                flex: 1;
            }

            .property-description-icon {
                float: right;
                margin-top: 4px;
                margin-left: 5px;
                flex: 0 0 auto;
            }
        }

        // Column: Type
        &.col2 {
            flex: 0 1 140px;
            max-width: 110px;
        }

        // Column: From Instance
        &.col3 {
            flex: 0 1 120px;
            max-width: 120px;
        }

        // Column: Required in Runtime
        &.col4 {
            flex: 0 0 80px;
            max-width: 80px;
            text-align: center;
        }

        // Column: Value
        &.valueCol {
             .value-input {
                flex: 1;
                border: none;
                background-color: inherit;

                &:focus, &:active {
                    border:none;
                    outline:none;
                }
            }

            .delete-btn {
                flex: 0 0 auto;
            }

            .delete-button-container {
                max-height: 24px;
            }

            &.inner-table-container {
                padding: 0px;

                .delete-button-container {
                    padding: 0 8px 0 0 ;
                }
            }
        }
    }

    .filtered {
        /deep/ .checkbox-label-content{
            background-color: yellow;
        }
    }

}
