<h1 class="w-sdc-designer-sidebar-section-title"
    tooltip="{{titleTooltip}}"
    [ngClass]="{'expanded': state == 0, 'collapsed': state == 1}"
    (click)="toggleState()">
    {{caption}}<span class="w-sdc-designer-sidebar-section-title-icon"></span>
    <ng-content select="header"></ng-content>
    <span class="w-sdc-designer-sidebar-section-title-icon"></span>
</h1>

<div class="expand-collapse-content" [ngClass]="{'visible': state === 0, 'hidden': state === 1}">
    <ng-content></ng-content>
    <ng-content select="content"></ng-content>
</div>
