<div class="sdc-general-tab hierarchy-tab" ng-class="">
    <loader data-display="isLoading" relative="true" size="medium"></loader>
    <div class="sdc-general-tab-title" data-tests-id="tab-header" translate="HIERARCHY_TAB_TITLE"></div>
    <div class="sdc-general-tab-sub-title" data-tests-id="tab-sub-header">{{component.name}}</div>

    <div class="resizable-container">
        <div class="resizable-section">
            <perfect-scrollbar scroll-y-margin-offset="0" include-padding="true"
                               class="general-tab-scrollbar-container">

                <expand-collapse expanded-selector=".hierarchy-module-member-list.{{$index}}"
                                 class="general-tab-expand-collapse" is-close-on-init="true"
                                 data-tests-id="hierarchy-module-{{$index}}"
                                 data-ng-repeat-start="module in component.groups">
                    <div class="expand-collapse-title" data-tests-id="hierarchy-module-{{$index}}-title" ng-class="{'selected': selectedIndex === $index}" data-ng-click="onModuleSelected(module.uniqueId, $index)">
                        <div class="expand-collapse-title-icon"></div>
                        <span class="expand-collapse-title-text" data-ng-bind="module.name" tooltips
                              tooltip-content="{{module.name}}"></span>

                    </div>
                </expand-collapse>

                <div data-ng-repeat-end="" class="hierarchy-module-member-list {{$index}}">
                    <div ng-repeat="(memberName, value) in ::module.members track by $index">
                        <div class="expand-collapse-sub-title"  tooltips tooltip-content="{{memberName}}">{{memberName}}</div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>

        <div  resizable r-directions="['top']" r-flex="true" ng-if="selectedModule" class="resizable-section module-data-container" data-tests-id="selected-module-data">
            <perfect-scrollbar scroll-y-margin-offset="0" include-padding="true"
                               class="general-tab-scrollbar-container">
                <div class="module-data">
                    <div>
                        <div class="module-name module-text-overflow" data-tests-id="selected-module-name" tooltips tooltip-content="{{selectedModule.name}}">{{selectedModule.name}}</div>
                        <div class="edit-name-container">
                            <edit-name-popover header="Edit Module Name" direction="auto top" module="selectedModule" on-save="updateHeatName()" ng-class="{'disabled': isViewOnly}" class="sdc-edit-icon" data-tests-id="edit-name-popover-icon"></edit-name-popover>
                        </div>
                    </div>
                    <div class="module-text-overflow" data-tests-id="selected-module-group-uuid" tooltips tooltip-content="{{selectedModule.groupUUID}}"> Module ID: {{selectedModule.groupUUID}}</div>
                    <div class="module-text-overflow"  data-tests-id="selected-module-is-base" tooltips tooltip-content="{{selectedModule.invariantUUID}}">Invariant UUID: {{selectedModule.invariantUUID}}</div>
                    <div data-tests-id="selected-module-version">Version: {{selectedModule.version}}</div>
                    <div data-tests-id="selected-module-is-base">IsBase: {{selectedModule.isBase}}</div>

                </div>
                <div ng-repeat="artifact in selectedModule.artifacts track by $index">
                    <div class="artifact-data">
                        <div class="artifact-name  module-text-overflow" data-tests-id="selected-module-artifact-name" tooltips tooltip-content="{{artifact.artifactName}}">{{artifact.artifactName}}</div>
                        <div class="module-text-overflow" tooltips data-tests-id="selected-module-artifact-uuid" tooltip-content="{{artifact.artifactUUID}}"> UUID: {{artifact.artifactUUID}}</div>
                        <div data-tests-id="selected-module-artifact-version">Version: {{artifact.artifactVersion}}</div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>
