<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Heat-Validation</display-name>

    <welcome-file-list>
        <welcome-file>heat.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>js</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>

        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>public, no-cache</param-value>
        </init-param>
        <init-param>
            <param-name>etags</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>js</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>resources</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>

        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>public, max-age=31536000</param-value>
        </init-param>
        <init-param>
            <param-name>etags</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>resources</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>httpSecurityHeaders</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>httpSecurityHeaders</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>antiClickJackingOption</param-name>
            <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>

</web-app>
