<div class="name-update-container">
     <sdc-input #updateNameInput 
        label="Instance Name" 
        required="true" 
        [maxLength]="50" 
        [(value)]="name" 
        testId="instanceName"></sdc-input>
     <sdc-validation [validateElement]="updateNameInput" (validityChanged)="validityChanged($event)">
        <sdc-required-validator message="Name is required."></sdc-required-validator>
        <sdc-regex-validator message="Special characters not allowed." [pattern]="pattern"></sdc-regex-validator>
    </sdc-validation>
</div>