<ul class="sdc-wizard-step">
    <li class="step" data-ng-repeat="step in steps track by $index">
        <div class="step-wrapper">
            <button class="step-index"
                  data-ng-click="controllerStepClicked(step.name)"
                  data-ng-class="{'selected': step.selected===true, 'valid': step.valid===true, 'disabled': !step.enabled || step.enabled===false}">
                  {{$index+1}}
            </button>
            <span class="step-name"
                  data-ng-class="{'selected': step.selected===true, 'valid': step.valid===true, 'disabled': !step.enabled || step.enabled===false}">{{step.name}}
            </span>
        </div>
        <div class="step-seperator"></div>
    </li>
</ul>

