.information-artifact-page {

  .add-artifact-btn {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .download-artifact-button {
    display: flex;
    justify-content: center;

    .action-icon{
      margin-right: 10px;
    }
  }

  .add-artifacts-dynamic-btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    .add-artifacts-dynamic-btn{
      width: 350px;
      margin-top: 15px;
    }
  }
}