@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.w-sdc-catalog-main {
  height: 100%;
  overflow-y: scroll;
  padding: 10px 50px;

  .catalog-top-bar {
    display: flex;
    justify-content:space-between;
    padding: 0px 10px;
  }

  .catalog-elements-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

}


.i-sdc-designer-left-sidebar {
  margin-top: 43px;
}

.sdc-catalog-selector-item {
  text-transform: none;
  line-height: 40px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 20px;
}

.sdc-catalog-selector-wrapper {
  position: absolute;
  left: 0px;
  top: 42px;
  width: 241px;
  height: auto;
  cursor: pointer;
  opacity: 1;
  z-index: 1000;
  box-shadow: 1px 2px 3px #b1b1b1;
}

.sdc-catalog-selector-item {
  text-transform: none;
  line-height: 40px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: @main_color_l;
  background-color: @main_color_p;
  padding-left: 20px;
}

.sdc-catalog-selector-item:hover {
  color: @main_color_a;
  background-color: @tlv_color_v;
}

.i-sdc-designer-leftbar-section-left-switch-header {
  text-transform: uppercase;
  .l_14_m;
  line-height: 40px;
  width: 243px;

  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;

  color:  @main_color_a;
  background-color: @tlv_color_t;
  border: solid 1px fade(@main_color_t, 40%);
  cursor: pointer;
  opacity: 1;
  z-index: 9999;
  position: relative;
}

.i-sdc-designer-leftbar-section-left-switch-header-text {
  display: inline-block;
  width: 180px;
  margin-left: 20px;
}

.i-sdc-designer-leftbar-section-left-switch-header-icon {
  display: inline-block;
  vertical-align: middle;
}

.w-sdc-dashboard-catalog-items-header {
  color: @main_color_m;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 12px;
  display: inline-block;
  font-style: normal; size: 12px;
  margin-left: 11px;
  font-weight: normal;
  b {
    font-family: OpenSans-Bold, sans-serif;
    color: @main_color_l;
    font-weight: bold;
  }
}

.w-sdc-dashboard-catalog-header-order1 {
  font-style: normal;
  font-size: 12px;
  font-weight: 800;
}
