@import '../../../../assets/styles/variables.less';

.interface-operation {
    .add-btn {
        position: relative;
        top: -31px;
        text-transform: uppercase;
        font-size: 14px;
    }

    a:not(.disabled) {
        &:hover {
            cursor: pointer;
        }
    }

    .operation-list {
        border-top: 1px solid @main_color_o;
        padding-top: 25px;

        .operation-row {
            width: 100%;
            border: 1px solid @main_color_o;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;

            &:hover {
                border-color: @main_color_c;
                cursor: pointer;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }

            .operation-info-container {
                height: 100%;
                display: flex;
                align-items: center;
                margin-right: 60px;

                .operation-title, .operation-description {
                    display: flex;
                    align-items: center;

                    .operation-text {
                        overflow: hidden;
                        margin-bottom: 0;
                        max-height: 5rem;
                    }
                }

                .operation-title {
                    flex-shrink: 0;
                    width: 200px;
                    height: calc(100% - 13px);
                    border-right: 1px solid @main_color_o;
                    margin: 4px 0;
                    padding: 0 30px;

                    .operation-text {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .operation-description {
                    padding-left: 30px;
                    text-align: left;
                    font-family: @font-opensans-regular;

                    .operation-text {
                        word-break: break-word;
                    }
                }
            }

            .operation-dumbo {
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                align-items: left;
            }
        }
    }
}
