<div class='service-path'>
	<button class='zoom-icons create-path-button' data-tests-id="pathsMenuBtn" (click)="showServicePathMenu = !showServicePathMenu">...</button>
	<div class="service-path-menu" *ngIf="showServicePathMenu">
		<div >
			<ul>
				<li *ngIf='!isViewOnly'><div class="hand" (click)="onCreateServicePath()" data-tests-id="createPathMenuItem">
					Create Service Flow
				</div></li>
				<li><div class="hand" (click)="onListServicePath()" data-tests-id="pathsListMenuItem">
					Service Flows List
				</div></li>
			</ul>
		</div>
	</div>
</div>