<div class='service-path'>
	<button class='zoom-icons create-path-button' data-tests-id="pathsMenuBtn" (click)="showServicePathMenu = !showServicePathMenu">...</button>
	<div class="service-path-menu"
		 *ngIf="showServicePathMenu" >
		<div >
			<ul>
				<li><div class="hand" (click)="onCreateServicePath()" data-tests-id="createPathMenuItem">
					Create Service Path
				</div></li>
				<li><div class="hand" (click)="onListServicePath()" data-tests-id="pathsListMenuItem">
					Service Paths List
				</div></li>
			</ul>
		</div>
	</div>
	<!-- TODO  - ask Orit about positioning issues and styling issues -->
	<!--
	<menu-list [open]="showServicePathMenu" [position]="menuPos" >
		<menu-item [action]="onCreateServicePath">Create Path</menu-item>
		<menu-item [action]="onListServicePath">Paths' List</menu-item>
	</menu-list> -->
</div>