//@import 'src/assets/styles/variables.less';
@import './../../../../../assets/styles/variables.less';
.service-path {
	position: relative;
	.create-path-button{
		&:extend(.search-bar-button);
		width: 30px;
		height: 30px;
		&:hover {
			color: @main_color_a;
		}
		&:active {
			background: @main_color_a;
			color: @main_color_p;
		}
		&:focus {
			outline: none;
		}
	}
	.service-path-menu {
		border: 1px solid @main_color_o;
		border-radius: 0 0 2px 2px;
		border-top-color: @main_color_a;
		border-top-width: 3px;

		box-sizing: border-box;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);

		background-color: @main_color_p;

		padding: 5px 0;
		right: 34px;
		position: absolute;
		top: 10px;
		width: 150px;
		font-size: 13px;
		font-family: @font-opensans-regular;

		li {
			color: @main_color_m;
			padding: 0 10px;
			line-height: 20px;
			&:hover {
				cursor: pointer;
				color: @main_color_a;
				background-color: fade(@main_color_a, 5%);
			}
		}

	}
}
