<div class="expand-collapse-menu-box">
    <expand-collapse expanded-selector=".w-sdc-designer-sidebar-section-content" class="expand-collapse-menu-box-title">
        <div class="expand-collapse-header">
            <div class="expand-collapse-menu-box-title-icon"></div>
            <span class="w-sdc-designer-sidebar-section-title-text" data-ng-bind="menuTitle" tooltips tooltip-content="{{menuTitle}}"></span>
        </div>
    </expand-collapse>

    <div class="w-sdc-designer-sidebar-section-content" >
        <div class="i-sdc-designer-sidebar-section-content-item expand-collapse-menu-box-item second-level"
             ng-class="{'selected': $index == menuItemsGroup.selectedIndex}" ng-repeat="(key, menuItem) in menuItemsGroup.menuItems track by $index">
            <div class="expand-collapse-menu-box-item-text" ng-click="onMenuItemClick(menuItem)"  ng-class="{'disabled': menuItem.isDisabled }" data-tests-id="{{menuItem.text}}step" >{{menuItem.text}}</div>
        </div>
    </div>

</div>

