.sdc-canvas-zone {
    width: 285px;
    max-height:186px;
    display:flex;
    flex-direction:column;
    color:white;
    font-family:OpenSans-Regular, sans-serif;
    transition: width .2s ease-in-out, max-height .2s ease-in-out .1s;
    position:relative;
    bottom:0px;
    margin-right: 5px; 
    
    .sdc-canvas-zone__header {
        background: #5A5A5A;
        border-radius: 2px 2px 0 0;
        padding: 5px 10px;
        display:flex;
        justify-content: space-between;
        font-size: 14px;
        text-transform:uppercase;
        .sdc-canvas-zone__state-button {
            font-weight:bold;
            cursor:pointer;
        }
    }

    .sdc-canvas-zone__container {
        padding:5px;
        background-color: #5A5A5A;
        opacity:0.9;
        flex: 1;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap:wrap;
        overflow-y:auto;
        min-height: 80px;
        max-height: 170px;
    }


    &.minimized {
        max-height:30px;
        width:120px;
        cursor:pointer;
        
        .sdc-canvas-zone__state-button {
            display:none;
        }
        .sdc-canvas-zone__container {
            flex: 0 0 0;
            min-height: 0;
            padding: 0;
            overflow-y:hidden;
            transition: min-height .2s ease-in-out .2s;
            transition: padding .1s ease-in-out 0s;
        }
    }
    &.hidden {
        display:none;
    }
}