
<div class="sdc-catalog-container">
    <loader data-display="isLoading"></loader>
    <!-- HEADER -->
<!--
    <ecomp-header menu-data="menuItems" version="{{version}}"></ecomp-header>
-->

    <div class="w-sdc-main-container">

        <perfect-scrollbar include-padding="true" class="w-sdc-main-right-container">

            <div class='w-sdc-row-flex-items'>

                <!-- ADD Component -->
                <div ng-if="user.role === 'DESIGNER'" class="w-sdc-dashboard-card-new"
                    data-ng-mouseleave="displayActions = false"
                    data-ng-mouseover="displayActions = true"
                    data-ng-init="displayActions = false">
                    <div class="w-sdc-dashboard-card-new-content" data-tests-id="AddButtonsArea">
                        <div class="w-sdc-dashboard-card-new-content-plus" data-ng-show="!displayActions"></div>
                        <div class="sdc-dashboard-create-element-container" data-ng-show="displayActions">
                            <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createResourceButton" class="tlv-btn outline blue" data-ng-click="openCreateModal('RESOURCE')">Add VF</button>
                            <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createPNFButton" class="tlv-btn outline blue" data-ng-click="createPNF()">Add PNF</button>
                            <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createServiceButton" class="tlv-btn outline blue" data-ng-click="openCreateModal('SERVICE')">Add Service</button>
                        </div>
                    </div>
                </div>

                <!-- Import Component -->
                <div ng-if="user.role === 'DESIGNER'" class="w-sdc-dashboard-card-new"
                    data-ng-mouseleave="displayActions = false"
                    data-ng-mouseover="displayActions = true"
                    data-ng-init="displayActions = false">
                    <div class="w-sdc-dashboard-card-new-content" data-tests-id="importButtonsArea"  >
                        <div class="w-sdc-dashboard-card-import-content-plus" data-ng-show="!displayActions"></div>
                        <div class="sdc-dashboard-import-element-container" data-ng-show="displayActions">
                            <div data-ng-if="roles[user.role].dashboard.showCreateNew" class="tlv-btn outline blue">Import VFC
                                <file-opener on-file-upload="onImportVfc(file)" data-tests-id="importVFCbutton" extensions="{{sdcConfig.toscaFileExtension}}" data-ng-click="displayActions=false"></file-opener>
                            </div>
                            <div data-ng-if="roles[user.role].dashboard.showCreateNew" class="tlv-btn outline blue" data-ng-click="notificationIconCallback()">Import VSP</div>
                            <div data-ng-if="roles[user.role].dashboard.showCreateNew" class="tlv-btn outline blue import-dcae">Import DCAE asset
                                <file-opener on-file-upload="onImportVf(file)" data-tests-id="importVFbutton" extensions="{{sdcConfig.csarFileExtension}}" data-ng-click="displayActions=false"></file-opener>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tile new -->
                <div class="sdc-tile sdc-tile-fix-width" data-ng-repeat="component in components | filter:{resourceType:('!'+vfcmtType)} | entityFilter:checkboxesFilter | filter:search">
                 
                    <div class='sdc-tile-header' data-ng-class="{'purple': component.isResource(), 'blue': !component.isResource()}">
                        <div data-ng-if="component.isResource()" data-tests-id="asset-type">{{component.getComponentSubType()}}</div>
                        <div data-ng-if="component.isService()">S</div>
                    </div>

                    <div class='sdc-tile-content' data-tests-id="dashboard-Elements" data-ng-click="goToComponent(component)">
                        <div class='sdc-tile-content-icon'>
                            <div class="{{component.iconSprite}} {{component.icon}}"
                                data-ng-class="{'sprite-resource-icons': component.isResource(), 'sprite-services-icons': component.isService()}"
                                data-tests-id="{{component.name}}"></div>
                        </div>

                        <div class='sdc-tile-content-info'>
                            <div class="sdc-tile-info-line title" data-tests-id="{{component.name | resourceName}}" sdc-smart-tooltip>{{component.name | resourceName}}</div>
                            <div class="sdc-tile-info-line subtitle" data-tests-id="{{component.name}}Version">V {{component.version}}</div>
                        </div>
                    </div>

                    <div class='sdc-tile-footer'>
                        <div class="sdc-tile-footer-content">
                            <div class='sdc-tile-footer-text'>{{component.getStatus(sdcMenu)}}</div>
                        </div>
                    </div>

                </div>
                <!-- Tile new -->

            </div>

        </perfect-scrollbar>

        <div class="w-sdc-left-sidebar">
            <div class="i-sdc-left-sidebar-item "
                 data-ng-repeat="folder in folders.getFolders()"
                 data-ng-class="{'category-title': folder.isGroup(), 'selectedLink': folder.isSelected()}"
                 >
                <span data-ng-if="folder.isGroup()">{{folder.text}}</span>

                <sdc-checkbox data-ng-if="!folder.isGroup() && !folder.dist"
                              elem-id="checkbox-{{folder.text | lowercase | clearWhiteSpaces}}"
                              sdc-checklist-model="checkboxesFilter.selectedStatuses"
                              sdc-checklist-value="folder.state"
                              text="{{folder.text}}"></sdc-checkbox>

                <sdc-checkbox data-ng-if="!folder.isGroup() && folder.dist"
                              elem-id="checkbox-{{folder.text | lowercase | clearWhiteSpaces}}"
                              sdc-checklist-model="checkboxesFilter.distributed"
                              sdc-checklist-value="folder.dist"
                              text="{{folder.text}}"></sdc-checkbox>
                <span class="i-sdc-left-sidebar-item-state-count">{{entitiesCount(folder)}}</span>
            </div>
        </div>

    </div>

    <top-nav [top-lvl-selected-index]="0" [version]="version" [search-term]="search.filterTerm" (search-term-change)="search.filterTerm=$event" [notification-icon-callback]="notificationIconCallback"></top-nav>

</div>
<div data-ui-view=""></div>


