
<div class="sdc-catalog-container">
    <loader data-display="isLoading"></loader>
    <!-- HEADER -->
<!--
    <ecomp-header menu-data="menuItems" version="{{version}}"></ecomp-header>
-->

    <div class="w-sdc-main-container">

        <perfect-scrollbar id="dashboard-main-scroll" include-padding="true" class="w-sdc-main-right-container">

            <div infinite-scroll-disabled='isAllItemDisplay' infinite-scroll="raiseNumberOfElementToDisplay()" infinite-scroll-container="'#dashboard-main-scroll'" infinite-scroll-distance="'0.2'" infinite-scroll-parent>

                <div class='w-sdc-row-flex-items'>

                    <!-- ADD Component -->
                    <div ng-if="user.role === 'DESIGNER'" class="w-sdc-dashboard-card-new"
                        data-ng-mouseleave="displayActions = false"
                        data-ng-mouseover="displayActions = true"
                        data-ng-init="displayActions = false">
                        <div class="w-sdc-dashboard-card-new-content" data-tests-id="AddButtonsArea">
                            <div class="w-sdc-dashboard-card-new-content-plus" data-ng-show="!displayActions"></div>
                            <div class="sdc-dashboard-create-element-container" data-ng-show="displayActions">
                                <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createResourceButton" class="tlv-btn outline blue" data-ng-click="openCreateModal('RESOURCE')">Add VF</button>
                                <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createCRButton" class="tlv-btn outline blue" data-ng-click="createCR()">Add CR</button>
                                <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createPNFButton" class="tlv-btn outline blue" data-ng-click="createPNF()">Add PNF</button>
                                <button data-ng-if="roles[user.role].dashboard.showCreateNew" data-tests-id="createServiceButton" class="tlv-btn outline blue" data-ng-click="openCreateModal('SERVICE')">Add Service</button>
                            </div>
                        </div>
                    </div>

                    <!-- Import Component -->
                    <div ng-if="user.role === 'DESIGNER'" class="w-sdc-dashboard-card-new"
                        data-ng-mouseleave="displayActions = false"
                        data-ng-mouseover="displayActions = true"
                        data-ng-init="displayActions = false">
                        <div class="w-sdc-dashboard-card-new-content" data-tests-id="importButtonsArea"  >
                            <div class="w-sdc-dashboard-card-import-content-plus" data-ng-show="!displayActions"></div>
                            <div class="sdc-dashboard-import-element-container" data-ng-show="displayActions">
                                <div data-ng-if="roles[user.role].dashboard.showCreateNew" class="tlv-btn outline blue">Import VFC
                                    <file-opener on-file-upload="onImportVfc(file)" data-tests-id="importVFCbutton" extensions="{{sdcConfig.toscaFileExtension}}" data-ng-click="displayActions=false"></file-opener>
                                </div>
                                <div data-ng-if="roles[user.role].dashboard.showCreateNew" class="tlv-btn outline blue" data-ng-click="notificationIconCallback()">Import VSP</div>
                                <div data-ng-if="roles[user.role].dashboard.showCreateNew" class="tlv-btn outline blue import-dcae">Import DCAE asset
                                    <file-opener on-file-upload="onImportVf(file)" data-tests-id="importVFbutton" extensions="{{sdcConfig.csarFileExtension}}" data-ng-click="displayActions=false"></file-opener>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tile new -->
                    <ng2-ui-tile data-ng-repeat="component in components | filter:{resourceType:('!'+vfcmtType)} | entityFilter:filterParams.checkboxes | filter:filterParams.searchTerm | limitTo:numberOfItemToDisplay"
                        [component]="component" (on-tile-click)="goToComponent(component)"></ng2-ui-tile>
                    <!-- Tile new -->

                </div>

            </div>

        </perfect-scrollbar>

        <div class="w-sdc-left-sidebar">
            <div class="i-sdc-left-sidebar-item "
                 data-ng-repeat="folder in folders.getFolders()"
                 data-ng-class="{'category-title': folder.isGroup(), 'selectedLink': folder.isSelected()}"
                 >
                <span data-ng-if="folder.isGroup()">{{folder.text}}</span>

                <ng1-checkbox data-ng-if="!folder.isGroup() && !folder.dist"
                              elem-id="checkbox-{{folder.text | lowercase | clearWhiteSpaces}}"
                              sdc-checklist-model="filterParams.checkboxes.selectedStatuses"
                              sdc-checklist-value="folder.state"
                              sdc-checklist-change="changeFilterParams()"
                              text="{{folder.text}}"></ng1-checkbox>

                <ng1-checkbox data-ng-if="!folder.isGroup() && folder.dist"
                              elem-id="checkbox-{{folder.text | lowercase | clearWhiteSpaces}}"
                              sdc-checklist-model="filterParams.checkboxes.distributed"
                              sdc-checklist-value="folder.dist"
                              sdc-checklist-change="changeFilterParams()"
                              text="{{folder.text}}"></ng1-checkbox>
                <span class="i-sdc-left-sidebar-item-state-count">{{entitiesCount(folder)}}</span>
            </div>
        </div>

    </div>

    <top-nav [top-lvl-selected-index]="0" [version]="version" [search-term]="filterParams.searchTerm" (search-term-change)="updateSearchTerm($event);changeFilterParams()" [notification-icon-callback]="notificationIconCallback"></top-nav>

</div>
<div data-ui-view=""></div>


