.popup-panel {
  position: absolute;
  display: inline-block;
  background-color: white;
  border: solid 1px #d2d2d2;
  border-top: solid 3px #13a7df;
  left: 208px; top: 0px;
  width: 140px;
  height: 40px;
  z-index: 10000;

  &:hover {
    background-color: whitesmoke;
  }

  .popup-panel-group {
    padding-left: 8px;
    padding-top: 8px;
    cursor: pointer;

    .popup-panel-plus {
      border-radius: 50%;
      color: white;
      background-color: #13a7df;
      width: 20px;
      text-align: center;
      display: inline-block;
    }
    
    .popup-panel-title {
      padding-left: 10px;
      display: inline-block;
    }
    
  }

}
