{
	"presets": [
		[
		  "@babel/preset-env",
		  {
			"targets": {
			  "browsers": [
				"last 2 versions",
				"Firefox >= 47"
			  ]
			}
		  }
		],
		"@babel/preset-react"
	  ],
	"plugins": [
	    "@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-transform-runtime",
		"@babel/plugin-transform-modules-commonjs",
		[
			"@babel/plugin-proposal-decorators",
			{
			  "legacy": true
			}
		]
	],
	"sourceMap": "inline"
}
