<div tooltip="{{zoneInstance.instanceData.name}}"  #currentComponent
        class="zone-instance mode-{{zoneInstance.mode}}" [class.locked]="activeInstanceMode > MODE.HOVER" [class.hiding]="hidden"
     (mouseenter)="setMode(MODE.HOVER)" (mouseleave)="setMode(MODE.NONE)" (click)="setMode(MODE.SELECTED, $event)">
        <div *ngIf="zoneInstance.handle" class="target-handle {{zoneInstance.handle}}" (click)="tagHandleClicked($event)"></div>
        <div *ngIf="!isViewOnly" class="zone-instance__handle" (click)="setMode(MODE.TAG, $event)">+</div>
        <div class="zone-instance__body">
            <div class="zone-instance__body-content">{{zoneInstance.assignments.length || defaultIconText}}</div>
        </div>
        <div class="zone-instance__name">{{zoneInstance.instanceData.name}}</div>
</div>