.w-sdc-dark-header {
    .c_11;
    .bg_i;
    height: 94px;
    width: 100%;
    display: flex;
    align-items: center;

    .w-sdc-dark-header-logo {
        .hand;
        height: 92px;
        width: 240px;
        padding: 28px 28px 28px 60px;
        .flex-fixed(240px);

        .w-sdc-dark-header-logo-icon {
            display: inline-block;
            margin-right: 8px;
            vertical-align: -6px;
        }
        a.w-sdc-dark-header-logo-link {
            .c_5;
            text-decoration: none;
        }
        .w-sdc-dark-header-version{
            .c_16;
            .opacity(0.6);
        }
    }

    .i-sdc-dark-header-caption {
        min-width: 175px;
        text-align: left;
        cursor: default;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-grow: 10;
        padding-left: 27px;
        white-space: nowrap;

        .i-sdc-dark-header-caption-text {

            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .w-sdc-header-user-container {
        .c_7;
    }
}
