// OpenSans Bold
@font-face {
    font-family: OpenSans-Bold;
    src: url("fonts/OpenSans/OpenSans-Bold.ttf") format('truetype');
}

// OpenSans Bold Italic
@font-face {
    font-family: OpenSans-BoldItlaic;
    src: url("fonts/OpenSans/OpenSans-BoldItalic.ttf") format('truetype');
}

// OpenSans Extra Bold
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("fonts/OpenSans/OpenSans-ExtraBold.ttf") format('truetype');
}

// OpenSans Extra Bold Italic
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url("fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf") format('truetype');
}

// OpenSans Italic
@font-face {
    font-family: OpenSans-Italic;
    src: url("fonts/OpenSans/OpenSans-Italic.ttf") format('truetype');
}

// OpenSans Light
@font-face {
    font-family: OpenSans-Light;
    src: url("fonts/OpenSans/OpenSans-Light.ttf") format('truetype');
}

// OpenSans Light Italic
@font-face {
    font-family: OpenSans-LightItalic;
    src: url("fonts/OpenSans/OpenSans-LightItalic.ttf") format('truetype');
}

// OpenSans Regular
@font-face {
    font-family: OpenSans-Regular;
    src: url("fonts/OpenSans/OpenSans-Regular.ttf") format('truetype');
}

// OpenSans Semi Bold
@font-face {
    font-family: OpenSans-Semibold;
    src: url("fonts/OpenSans/OpenSans-Semibold.ttf") format('truetype');
}

// OpenSans Semi Bold Italic
@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url("fonts/OpenSans/OpenSans-SemiboldItalic.ttf") format('truetype');
}

