//Omnes_ATT W02 Italic
@font-face {
  font-family: omnes-italic;
  src: url('fonts/OmnesATT/Omnes_ATTW02Italic.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02Italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02Italic.ttf');
}

//Omnes_ATT W02 Light
@font-face {
  font-family: omnes-light;
  src: url('fonts/OmnesATT/Omnes_ATTW02Light.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02Light.ttf');
}

//Omnes_ATT W02 Light Italic
@font-face {
  font-family: omnes-light-italic;
  src: url('fonts/OmnesATT/Omnes_ATTW02LightItalic.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02LightItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02LightItalic.ttf');
}

//Omnes_ATT W02 Medium
@font-face {
  font-family: omnes-medium;
  src: url('fonts/OmnesATT/Omnes_ATTW02Medium.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02Medium.ttf');
}

//Omnes_ATT W02 Medium Italic
@font-face {
  font-family: omnes-medium-italic;
  src: url('fonts/OmnesATT/Omnes_ATTW02MediumItalic.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02MediumItalic.ttf');
}

//Omnes_ATT W02 Regular
@font-face {
  font-family: omnes-regular;
  src: url('fonts/OmnesATT/Omnes_ATTW02.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02.ttf');
}

//Omnes_ATT W02 Bold
@font-face {
  font-family: omnes-bold;
  src: url('fonts/OmnesATT/Omnes_ATTW02Bold.eot');
  src: url('fonts/OmnesATT/Omnes_ATTW02Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/Omnes_ATTW02Bold.ttf');
}

//Omnes_ATT W02 Bold Italic
@font-face {
  font-family: omnes-bold-italic;
  src: url('fonts/OmnesATT/OmnesATTW02BoldItalic.eot');
  src: url('fonts/OmnesATT/OmnesATTW02BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/OmnesATT/OmnesATTW02BoldItalic.ttf');
}


//ClearviewATT Book
@font-face {
  font-family: clearview-book;
  src: url('fonts/ClearviewATT/ClearviewATT-Bk.eot');
  src: url('fonts/ClearviewATT/ClearviewATT-Bk.eot?#iefix') format('embedded-opentype'),
  url('fonts/ClearviewATT/ClearviewATT-Bk.ttf');
}
