.sprite-services-icons {
    background-image: url('images/sprites/sprite-services-icons.png');
    display: inline-block;
}

.sprite-services-icons.disable                  { opacity:0.5;}

.sprite-services-icons.compute                  { background-position: -282px -46px;  width: 55px; height: 53px;}
.sprite-services-icons.compute.small            { background-position: -210px -71px;  width: 29px; height: 28px;}
.sprite-services-icons.compute.medium           { background-position: -140px -59px;  width: 41px; height: 40px;}
.sprite-services-icons.compute.large            { background-position: -70px  -41px;  width: 61px; height: 60px;}

.sprite-services-icons.platform                 { background-position: -282px -122px;  width: 55px; height: 45px;}
.sprite-services-icons.platform.small           { background-position: -210px -140px;  width: 29px; height: 29px;}
.sprite-services-icons.platform.medium          { background-position: -140px -128px;  width: 41px; height: 41px;}
.sprite-services-icons.platform.large           { background-position: -70px  -109px;  width: 61px; height: 60px;}

.sprite-services-icons.storage                  { background-position: -282px -194px;  width: 55px; height: 44px;}
.sprite-services-icons.storage.small            { background-position: -210px -210px;  width: 29px; height: 29px;}
.sprite-services-icons.storage.medium           { background-position: -140px -198px;  width: 41px; height: 41px;}
.sprite-services-icons.storage.large            { background-position: -70px  -178px;  width: 61px; height: 61px;}

.sprite-services-icons.call_controll            { background-position: -282px -268px;  width: 36px; height: 41px;}
.sprite-services-icons.call_controll.small      { background-position: -210px -280px;  width: 29px; height: 29px;}
.sprite-services-icons.call_controll.medium     { background-position: -140px -268px;  width: 41px; height: 41px;}
.sprite-services-icons.call_controll.large      { background-position: -70px  -248px;  width: 61px; height: 61px;}

.sprite-services-icons.collaboration            { background-position: -282px -335px;  width: 43px; height: 44px;}
.sprite-services-icons.collaboration.small      { background-position: -210px -350px;  width: 29px; height: 29px;}
.sprite-services-icons.collaboration.medium     { background-position: -140px -338px;  width: 41px; height: 41px;}
.sprite-services-icons.collaboration.large      { background-position: -70px  -318px;  width: 61px; height: 61px;}

.sprite-services-icons.collaboration1           { background-position: -280px -417px;  width: 49px; height: 32px;}
.sprite-services-icons.collaboration1.small     { background-position: -209px -419px;  width: 29px; height: 29px;}
.sprite-services-icons.collaboration1.medium    { background-position: -140px -408px;  width: 41px; height: 41px;}
.sprite-services-icons.collaboration1.large     { background-position: -70px  -388px;  width: 61px; height: 61px;}

.sprite-services-icons.messaging                { background-position: -282px -482px;  width: 43px; height: 40px;}
.sprite-services-icons.messaging.small          { background-position: -210px -491px;  width: 28px; height: 28px;}
.sprite-services-icons.messaging.medium         { background-position: -140px -478px;  width: 41px; height: 41px;}
.sprite-services-icons.messaging.large          { background-position: -70px  -458px;  width: 61px; height: 61px;}

.sprite-services-icons.notification             { background-position: -282px -538px;  width: 43px; height: 52px;}
.sprite-services-icons.notification.small       { background-position: -210px -561px;  width: 28px; height: 28px;}
.sprite-services-icons.notification.medium      { background-position: -140px -548px;  width: 41px; height: 41px;}
.sprite-services-icons.notification.large       { background-position: -70px  -528px;  width: 60px; height: 60px;}

.sprite-services-icons.mobility                 { background-position: -282px -598px;  width: 64px; height: 62px;}
.sprite-services-icons.mobility.small           { background-position: -210px -630px;  width: 29px; height: 29px;}
.sprite-services-icons.mobility.medium          { background-position: -140px -618px;  width: 41px; height: 41px;}
.sprite-services-icons.mobility.large           { background-position: -70px  -601px;  width: 60px; height: 60px;}

.sprite-services-icons.network_l_1-3            { background-position: -282px -672px;  width: 63px; height: 57px;}
.sprite-services-icons.network_l_1-3.small      { background-position: -210px -701px;  width: 28px; height: 28px;}
.sprite-services-icons.network_l_1-3.medium     { background-position: -139px -688px;  width: 41px; height: 41px;}
.sprite-services-icons.network_l_1-3.large      { background-position: -70px  -671px;  width: 60px; height: 60px;}

.sprite-services-icons.network_l_4              { background-position: -286px -744px;  width: 63px; height: 57px;}
.sprite-services-icons.network_l_4.small        { background-position: -210px -771px;  width: 28px; height: 28px;}
.sprite-services-icons.network_l_4.medium       { background-position: -140px -758px;  width: 41px; height: 41px;}
.sprite-services-icons.network_l_4.large        { background-position: -70px  -740px;  width: 61px; height: 61px;}

.sprite-services-icons.defaulticon              { background-position: -270px -810px;  width: 60px; height: 60px;}
.sprite-services-icons.defaulticon.small        { background-position: -220px -842px;  width: 28px; height: 28px;}
.sprite-services-icons.defaulticon.medium       { background-position: -169px -830px;  width: 40px; height: 40px;}
.sprite-services-icons.defaulticon.large        { background-position: -70px -809px;  width: 60px; height: 60px;}
