.sprite-proxy-services-icons {
    background-image: url('images/sprites/sprite-services-icons.png');
    display: inline-block;
}

.sprite-proxy-services-icons.disable                  { opacity:0.5;}


.sprite-proxy-services-icons.compute.large            { background-position: -611px -41px;  width: 61px; height: 60px;}
.sprite-proxy-services-icons.compute.medium            { background-position: -693px -60px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.platform.large           { background-position: -611px -109px;  width: 61px; height: 60px;}
.sprite-proxy-services-icons.platform.medium           { background-position: -693px -128px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.storage.large            { background-position: -611px -178px;  width: 61px; height: 61px;}
.sprite-proxy-services-icons.storage.medium            { background-position: -693px -198px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.call_controll.large      { background-position: -611px -248px;;  width: 61px; height: 61px;}
.sprite-proxy-services-icons.call_controll.medium      { background-position: -693px -268px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.collaboration.large      { background-position:  -611px -318px;  width: 61px; height: 61px;}
.sprite-proxy-services-icons.collaboration.medium      { background-position:  -693px -338px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.messaging.large          { background-position: -611px -458px; width: 61px; height: 61px;}
.sprite-proxy-services-icons.messaging.medium          { background-position: -693px -478px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.notification.large       { background-position: -611px -529px;  width: 60px; height: 60px;}
.sprite-proxy-services-icons.notification.medium       { background-position: -693px -548px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.mobility.large           { background-position: -611px -601px;  width: 60px; height: 60px;}
.sprite-proxy-services-icons.mobility.medium           { background-position: -693px -620px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.network_l_1-3.large      { background-position: -611px -669px;  width: 60px; height: 60px;}
.sprite-proxy-services-icons.network_l_1-3.medium      { background-position: -693px -688px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.network_l_4.large        { background-position: -611px -739px;  width: 61px; height: 61px;}
.sprite-proxy-services-icons.network_l_4.medium        { background-position: -693px -758px;  width: 41px;  height: 41px;}

.sprite-proxy-services-icons.defaulticon.large        { background-position: -611px -810px; width: 60px; height: 60px;}
.sprite-proxy-services-icons.defaulticon.medium       { background-position: -695px -829px;  width: 41px;  height: 41px;}
