.sprite-new {
    background-image: url('images/sprites/sprite-global.png');
    display: inline-block;
}

.add-icon                             { background-position: -50px  -77px; width: 23px; height: 23px;}
.add-icon-hover                       { background-position: -150px -77px; width: 23px; height: 23px;}
.import-icon                          { background-position: -100px -81px; width: 23px; height: 23px;}

.add-icon-blue                        { background-position: -350px -125px; width: 18px; height: 18px;}
.add-icon-blue-hover                  { background-position: -400px -125px; width: 18px; height: 18px;}

.video-icon                           { background-position: -54px  -113px; width: 33px; height: 26px;}
.video-icon_1                         { background-position: -104px -113px; width: 33px; height: 26px;}
.video-icon_2                         { background-position: -154px -113px; width: 33px; height: 26px;}
.video-icon_disabled                  { background-position: -204px -113px; width: 33px; height: 26px;}
.video-icon_focus                     { background-position: -250px -111px; width: 41px; height: 32px;}

.vsp-list-icon                        { background-position: -54px  -143px; width: 26px; height: 29px;}
.vsp-list-icon-active                 { background-position: -104px -143px; width: 26px; height: 29px;}
.vsp-list-icon:active:not(.disable)   { background-position: -104px -143px; width: 26px; height: 29px;}
.vsp-list-icon-hover                  { background-position: -154px -143px; width: 26px; height: 29px;}
.vsp-list-icon:hover:not(.disable)    { background-position: -154px -143px; width: 26px; height: 29px;}
.vsp-list-icon.disable                { background-position: -204px -143px; width: 26px; height: 29px;}

.info-icon                            { background-position: -50px  -179px; width: 14px; height: 14px;}
.info-icon_1                          { background-position: -100px -179px; width: 14px; height: 14px;}

.plus-icon                            { background-position: -50px  -231px; width: 12px; height: 12px;}
.plus-icon-hover                      { background-position: -100px -231px; width: 12px; height: 12px;}

.delete-icon                            { background-position: -675px -231px; width: 11px; height: 13px;}
.delete-icon-hover                      { background-position: -702px -231px; width: 11px; height: 13px;}

.view-icon                              { background-position: -671px -252px; width: 18px; height: 10px; }
.view-icon-hover                        { background-position: -699px -252px; width: 18px; height: 10px; }
.view-icon:hover:extend(.view-icon-hover) {}

.arrow-up                             { background-position: -350px -236px; width: 12px; height: 7px;}
.arrow-up-hover                       { background-position: -400px -236px; width: 12px; height: 7px;}

.arrow-up-small                       { background-position: -250px -237px; width: 12px; height: 6px;}
.arrow-up-small-hover                 { background-position: -300px -237px; width: 12px; height: 6px;}

.sort-arrows                          { background-position: -450px -231px; width: 8px; height: 12px;}
.sort-arrows-hover                    { background-position: -500px -231px; width: 8px; height: 12px;}

.arrow-right                          { background-position: -550px -235px;  width: 5px;  height: 8px;}
.arrow-right-hover                    { background-position: -600px -235px;  width: 5px;  height: 8px;}

.menu-open-left                       { background-position: -350px -283px;  width: 6px;  height: 10px;}
.menu-open-right                      { background-position: -400px -283px;  width: 6px;  height: 10px;}


.private-status-icon                  { background-position: -50px  -326px; width: 21px; height: 17px;}
.in-design-status-icon                { background-position: -307px -327px; width: 16px; height: 16px;}
.checkout-editable-status-icon        { background-position: -100px -326px; width: 24px; height: 17px;}
.checkin-status-icon                  { background-position: -200px -326px; width: 24px; height: 17px;}
.checkout-not-editable-status-icon    { background-position: -150px -326px; width: 24px; height: 17px;}


//workspace buttons
.x-btn                                {  background-position: -50px -419px;  width: 24px;  height: 24px;  }
.x-btn:hover                          {  background-position: -50px -447px;  width: 24px;  height: 24px;  }
.x-btn:active                         {  background-position: -50px -479px;  width: 24px;  height: 24px;  }

.delete-btn                           {  background-position: -140px -419px;  width: 24px;  height: 24px;  }
.delete-btn:hover:not(.disable)       {  background-position: -140px -447px;  width: 24px;  height: 24px;  }
.delete-btn:active:not(.disable)      {  background-position: -140px -479px;  width: 24px;  height: 24px;  }
.delete-btn.disable                   {  background-position: -140px -539px;  width: 24px;  height: 24px;  }

.save-btn                             {  background-position: -230px -419px;  width: 24px;  height: 24px;  }
.save-btn:hover:not(.disable)         {  background-position: -230px -447px;  width: 24px;  height: 24px;  }
.save-btn:active:not(.disable)        {  background-position: -230px -479px;  width: 24px;  height: 24px;  }
.save-btn.disable                     {  background-position: -230px -539px;  width: 24px;  height: 24px;  }

.revert-btn                           {  background-position: -200px -419px;  width: 24px;  height: 24px;  }
.revert-btn:hover:not(.disable)       {  background-position: -200px -447px;  width: 24px;  height: 24px;  }
.revert-btn:active:not(.disable)      {  background-position: -200px -479px;  width: 24px;  height: 24px;  }
.revert-btn.disable                   {  background-position: -200px -539px;  width: 24px;  height: 24px;  }

.success-circle                       {  background-position: -50px  -703px;  width: 20px;  height: 20px;  }
.success-circle-small                       {  background-position: -170px -706px;  width: 12px;  height: 12px;  }
.sdc-success                          {  background-position: -101px -707px;  width: 10px;  height: 10px;  }
.sdc-error                            {  background-position: -151px -707px;  width: 10px;  height: 10px;  }

.print-screen-btn                           {  background-position: -259px -419px;  width: 24px;  height: 24px;  }
.print-screen-btn:hover:not(.disable)       {  background-position: -259px -447px;  width: 24px;  height: 24px;  }
.print-screen-btn:active:not(.disable)      {  background-position: -259px -479px;  width: 24px;  height: 24px;  }
.print-screen-btn.disable                   {  background-position: -259px -539px;  width: 24px;  height: 24px;  }

.url-btn                                {  background-position: -636px -424px;  width: 19px;  height: 19px;  }
.url-btn:hover                          {  background-position: -636px -424px;  width: 19px;  height: 19px;  }
.url-btn:active                         {  background-position: -636px -482px;  width: 19px;  height: 19px;  }




/*new tabs icons*/
.sprite-new.info                                { background-position: -51px -631px; width: 18px; height: 18px;}
.sprite-new.info:active                         { background-position: -51px -669px; width: 18px; height: 18px;}
.active > .sprite-new.info                      { background-position: -51px -669px; width: 18px; height: 18px;}


.sprite-new.structure                          { background-position: -101px -630px; width: 18px; height: 17px;}
.sprite-new.structure:active                   { background-position: -101px -668px; width: 18px; height: 17px;}
.active > .sprite-new.structure                { background-position: -101px -668px; width: 18px; height: 17px;}


.sprite-new.deployment-artifacts               { background-position: -150px -629px; width: 17px; height: 19px;}
.sprite-new.deployment-artifacts:active        { background-position: -150px -667px; width: 17px; height: 19px;}
.active > .deployment-artifacts                { background-position: -150px -667px; width: 17px; height: 19px;}

.sprite-new.inputs                             { background-position: -200px -634px; width: 20px; height: 12px;}
.sprite-new.inputs:active                      { background-position: -200px -672px; width: 20px; height: 12px;}
.active > .sprite-new.inputs                   { background-position: -200px -672px; width: 20px; height: 12px;}


.sprite-new.information-artifacts               { background-position: -250px -631px; width: 17px; height: 19px;}
.sprite-new.information-artifacts:active        { background-position: -250px -669px; width: 17px; height: 19px;}
.active > .sprite-new.information-artifacts     { background-position: -250px -669px; width: 17px; height: 19px;}

.sprite-new.relations                           { background-position: -300px -632px; width: 20px;  height: 20px;}
.sprite-new.relations:active                    { background-position: -300px -632px; width: 20px;  height: 20px;}
.active > .sprite-new.relations                 { background-position: -300px -632px; width: 20px;  height: 20px;}


.sprite-new.api                                 { background-position: -400px -631px; width: 23px;  height: 19px;}
.sprite-new.api:active                          { background-position: -400px -671px; width: 23px;  height: 19px;}
.active > .sprite-new.api                       { background-position: -400px -671px; width: 23px;  height: 19px;}

.sprite-new.properties                          { background-position: -350px -631px; width: 19px;  height: 19px;}
.sprite-new.properties:active                   { background-position: -350px -671px; width: 19px;  height: 19px;}
.active > .sprite-new.properties                { background-position: -350px -671px; width: 19px;  height: 19px;}

.sprite-new.distribution-bth                    { background-position: -399px -716px; width: 55px;  height: 21px;}
.sprite-new.distribution-bth.disable            { background-position: -464px -716px; width: 55px;  height: 21px;}

.Distributed                                    { background-position: -547px -718px; width: 16px;  height: 16px;}
.Deployed                                       { background-position: -573px -718px; width: 16px;  height: 16px;}

.error-icon                                     { background-position: -51px -751px; width: 13px;  height: 11px;}
.asdc-warning                                   { background-position: -100px -748px; width: 17px;  height: 15px;}

.link-btn                                       {  background-position: -636px -424px;  width: 19px;  height: 19px;}
.link-btn:hover                                 {  background-position: -636px -453px;  width: 19px;  height: 19px;}
.link-btn:active                                {  background-position: -636px -482px;  width: 19px;  height: 19px;}

.refresh-btn                                    {  background-position: -293px -419px;  width: 24px;  height: 24px;}
.refresh-btn:hover:not(.disable)                {  background-position: -293px -447px;  width: 24px;  height: 24px;}
.refresh-btn:active:not(.disable)               {  background-position: -293px -479px;  width: 24px;  height: 24px;}
.refresh-btn.focus                              {  background-position: -293px -508px;  width: 24px;  height: 24px;}
.refresh-btn.disable                            {  background-position: -293px -539px;  width: 24px;  height: 24px;}

.download-btn                                   {  background-position: -530px -419px;  width: 24px;  height: 24px;}
.download-btn:hover:not(.disable)               {  background-position: -530px -448px;  width: 24px;  height: 24px;}
.download-btn:active:not(.disable)              {  background-position: -530px -479px;  width: 24px;  height: 24px;}
.download-btn.focus                             {  background-position: -530px -508px;  width: 24px;  height: 24px;}
.download-btn.disable                           {  background-position: -530px -539px;  width: 24px;  height: 24px;}

.expand-collapse-plus-icon                      { background-position: -334px -888px;  width: 14px;  height: 14px;}
.expand-collapse-plus-icon:hover                { background-position: -422px -888px;  width: 14px;  height: 14px;}
.expand-collapse-minus-icon                     { background-position: -378px -888px;  width: 14px;  height: 14px;}
.expand-collapse-minus-icon:hover               { background-position: -466px -888px;  width: 14px;  height: 14px;}


//tabs
.close-open-left-arrow                          { background-position: -507px -942px;  width: 6px;  height: 10px;}
.close-open-right-arrow                         { background-position: -506px -922px;  width: 6px;  height: 10px;}

.hierarchy                                      { background-position: -560px -887px;  width: 21px;  height: 15px;}
.hierarchy.hover                                { background-position: -500px -887px;  width: 21px;  height: 15px;}
.hierarchy.disable                              { background-position: -531px -887px;  width: 21px;  height: 15px;}
.hierarchy.selected                             { background-position: -500px -887px;  width: 21px;  height: 15px;}

.refresh-small-btn                              {  background-position: -598px -419px;  width: 24px;  height: 24px;}
.refresh-small-btn:hover:not(.disable)          {  background-position: -598px -448px;  width: 24px;  height: 24px;}
.refresh-small-btn:active:not(.disable)         {  background-position: -598px -479px;  width: 24px;  height: 24px;}
.refresh-small-btn.focus                        {  background-position: -598px -508px;  width: 24px;  height: 24px;}
.refresh-small-btn.disable                      {  background-position: -598px -539px;  width: 24px;  height: 24px;}

.download-file-btn                          {  background-position: -673px -419px;  width: 24px;  height: 24px;}
.download-file-btn:hover:not(.disable)      {  background-position: -673px -448px;  width: 24px;  height: 24px;}
.download-file-btn:active:not(.disable)     {  background-position: -673px -479px;  width: 24px;  height: 24px;}
.download-file-btn.focus                    {  background-position: -673px -508px;  width: 24px;  height: 24px;}
.download-file-btn.disable                  {  background-position: -673px -539px;  width: 24px;  height: 24px;}

.refresh-file-btn                           {  background-position: -707px -419px;  width: 24px;  height: 24px;}
.refresh-file-btn:hover:not(.disable)       {  background-position: -707px -448px;  width: 24px;  height: 24px;}
.refresh-file-btn:active:not(.disable)      {  background-position: -707px -479px;  width: 24px;  height: 24px;}
.refresh-file-btn.focus                     {  background-position: -707px -508px;  width: 24px;  height: 24px;}
.refresh-file-btn.disable                   {  background-position: -707px -539px;  width: 24px;  height: 24px;}

.import-file-btn                            {  background-position: -745px -419px;  width: 24px;  height: 24px;}
.import-file-btn:hover:not(.disable)        {  background-position: -745px -448px;  width: 24px;  height: 24px;}
.import-file-btn:active:not(.disable)       {  background-position: -745px -479px;  width: 24px;  height: 24px;}
.import-file-btn.focus                      {  background-position: -745px -508px;  width: 24px;  height: 24px;}
.import-file-btn.disable                    {  background-position: -745px -539px;  width: 24px;  height: 24px;}

.left-arrow                    {  background-position: -590px -876px;  width: 26px;  height: 26px;}
.left-arrow:hover              {  background-position: -662px -876px;  width: 26px;  height: 26px;}
.right-arrow                   {  background-position: -626px -876px;  width: 26px;  height: 26px;}
.right-arrow:hover             {  background-position: -698px -876px;  width: 26px;  height: 26px;}
.search-white-icon                          {  background-position: -434px -128px;  width: 14px;  height: 14px;}

.blue-right-arrow-circle                    {  background-position: -650px -619px;  width: 29px;  height: 29px;}
.blue-right-arrow-circle:hover              {  background-position: -689px -619px;  width: 29px;  height: 29px;}

.small-x-button            {  background-position: -190px -282px;  width: 11px;  height: 11px;}
.small-x-button:hover      {  background-position: -210px -283px;  width: 11px;  height: 11px;}
.close-info-tooltip-button {.small-x-button}
.close-info-tooltip-button:hover      {  background-position: -230px -283px;  width: 11px;  height: 11px;}
.expand-all {     background-position: -500px -420px;  width: 20px;  height: 22px;}
.expand-all:hover {     background-position: -500px -449px;  width: 20px;  height: 22px;}
.collapse-all {     background-position: -465px -420px;  width: 20px;  height: 22px;}
.collapse-all:hover {     background-position: -465px -449px;  width: 20px;  height: 22px;}

.delete-param:hover{    background-position: -702px -231px;  width: 12px;  height: 13px;}
.delete-param{    background-position: -675px -231px;  width: 12px;  height: 13px;}
.revert-param:hover{    background-position: -700px -48px;  width: 12px;  height: 11px;}
.revert-param{    background-position: -676px -48px;  width: 12px;  height: 11px;}
.show-desc:hover{    background-position: -635px -75px;  width: 13px;  height: 14px;}
.show-desc{         background-position: -599px -75px;  width: 13px;  height: 14px;}
.expand-list{background-position: -812px -66px;  width: 21px;  height: 21px;}
.expand-list:hover{background-position: -812px -96px;  width: 21px;  height: 21px;}
.expand-list.open{background-position: -853px -66px;  width: 21px;  height: 21px;}
.expand-list.open:hover{background-position: -853px -96px;  width: 21px;  height: 21px;}
//.search-icon{    background-position: -50px -279px;  width: 14px;  height: 14px;}
.search-icon:hover,.search-icon.selected{    background-position: -894px -101px;  width: 14px;  height: 14px;}
.search-icon{    background-position: -894px -71px;  width: 14px;  height: 14px;}
.asc{background-position: -924px -71px;  width: 8px;  height: 12px;}
.desc{background-position: -924px -101px;  width: 8px;  height: 12px;}

.delete-item-icon       { background-position: -140px -1119px;  width: 11px;  height: 15px; }
.delete-item-icon:hover { background-position: -167px -1119px;  width: 11px;  height: 15px; }
.filter-icon            { background-position: -48px -1040px;  width: 19px;  height: 20px;}
.filter-icon:hover      { background-position: -99px -1040px;  width: 19px;  height: 20px;}
.filled-checkbox-icon   { background-position: -100px -1079px;  width: 14px;  height: 14px;}
.round-checked-icon     { background-position: -50px -1157px; width: 16px; height: 18px;}
.round-checked-icon.disabled   { background-position: -100px -1157px; width: 16px; height: 18px;}
.round-expand-icon             { background-position: -50px -1188px;  width: 15px;  height: 15px; }
.round-expand-icon:hover       { background-position: -100px -1188px;  width: 15px;  height: 15px; }
.round-expand-icon.open        { background-position: -50px -1216px;  width: 15px;  height: 15px; }
.round-expand-icon.open:hover  { background-position: -100px -1216px;  width: 15px;  height: 15px; }
.update-component-icon {    background-position: -140px -1213px;  width: 20px;  height: 20px;}
.update-component-icon:hover {    background-position: -169px -1213px;  width: 20px;  height: 20px;}
.notification-user-icon{	background-position: -206px -1211px;  width: 18px;  height: 22px;}
.notification-error-icon{ background-position: -244px -1216px;  width: 17px;  height: 17px;}
.notification-success-icon{ background-position: -281px -1215px;  width: 21px;  height: 19px;}
.notification-process-icon{ background-position: -322px -1206px;  width: 28px;  height: 28px;}
/*
.sprite-new.expand-asset-icon {  background-position: -740px -590px;  width: 40px;  height: 40px; }
.sprite-new.view-info-icon {  background-position: -739px -621px;  width: 40px;  height: 40px; }
.sprite-new.cp-icon {  background-position: -741px -652px;  width: 40px;  height: 40px; }
.sprite-new.vl-icon {  background-position: -740px -682px;  width: 40px;  height:40px; }
.sprite-new.trash-icon {  background-position: -740px -712px;  width: 40px;  height: 40px; }

.sprite-new.expand-asset-icon:hover {  background-position: -780px -590px;  }
.sprite-new.view-info-icon:hover {  background-position: -779px -621px;  }
.sprite-new.cp-icon:hover {  background-position: -781px -652px; }
.sprite-new.vl-icon:hover {  background-position: -780px -682px; }
.sprite-new.trash-icon:hover {  background-position: -780px -712px; }

.sprite-new.expand-asset-icon:active, .sprite-new.expand-asset-icon.disabled-icon {  background-position: -820px -590px;}
.sprite-new.view-info-icon:active, .sprite-new.view-info-icon.disabled-icon {  background-position: -819px -621px;  }
.sprite-new.cp-icon:active, .sprite-new.cp-icon.disabled-icon {  background-position: -821px -652px;  }
.sprite-new.vl-icon:active, .sprite-new.vl-icon.disabled-icon {  background-position: -820px -682px; }
.sprite-new.trash-icon:active, .sprite-new.trash-icon.disabled-icon {  background-position: -820px -712px; }
*/


.sprite-new.magnify-search {   background-position: -206px -1276px;  width: 30px;  height: 30px; }
.sprite-new.magnify-search:hover {   background-position: -125px -1276px; }
.sprite-new.magnify-search:active {   background-position: -46px -1275px; }

.sprite-new.zoom-plus {   background-position: -208px -1380px;  width: 30px;  height: 30px; }
.sprite-new.zoom-plus:hover {   background-position: -128px -1380px; }
.sprite-new.zoom-plus:active {   background-position: -47px -1379px; }

.sprite-new.zoom-minus {    background-position: -208px -1433px;  width: 30px;  height: 30px; }
.sprite-new.zoom-minus:hover {    background-position: -128px -1433px; }
.sprite-new.zoom-minus:active {    background-position: -47px -1432px; }

.sprite-new.canvas-fit-all {    background-position: -208px -1326px;  width: 30px;  height: 30px;}
.sprite-new.canvas-fit-all:hover {    background-position: -128px -1326px;  }
.sprite-new.canvas-fit-all:active {    background-position: -47px -1325px;}

.blue-arrow-next{	background-position: -734px -878px;  width: 23px;  height: 23px;}
.blue-arrow-back{	background-position: -767px -878px;  width: 23px;  height: 23px;}
.white-arrow-next{	background-position: -734px -918px;  width: 23px;  height: 23px;}
.white-arrow-back{	background-position: -767px -918px;  width: 23px;  height: 23px;}
.link-tooltip-arrow{background-position:-746px -961px;  width: 20px; height: 14px;}

