.tlv-sprite {
    background-image: url("images/sprites/tlv-sprite.png");
    display: inline-block;
    vertical-align: middle;

    &.logo-blue {
        background-position: -10px -20px;
        width: 28px;
        height: 28px;
    }

    &.user {
        background-position: -50px -20px;
        width: 15px;
        height: 20px;
    }

    .facebook {
        background-position: -10px -260px;
        width: 36px;
        height: 36px;
    }

    .facebook-hover {
        background-position: -10px -300px;
        width: 36px;
        height: 36px;
    }

    .twitter {
        background-position: -50px -260px;
        width: 36px;
        height: 36px;
    }

    .twitter-hover {
        background-position: -50px -300px;
        width: 36px;
        height: 36px;
    }

    .linkedin {
        background-position: -89px -260px;
        width: 36px;
        height: 36px;
    }

    .linkedin-hover {
        background-position: -89px -300px;
        width: 36px;
        height: 36px;
    }

    .youtube {
        background-position: -130px -260px;
        width: 36px;
        height: 36px;
    }

    .youtube-hover {
        background-position: -130px -300px;
        width: 36px;
        height: 36px;
    }

    .footer-open {
        background-position: -250px -59px;
        width: 14px;
        height: 10px;
    }

    .footer-open-hover {
        background-position: -250px -79px;
        width: 14px;
        height: 10px;
    }

    .footer-close {
        background-position: -230px -59px;
        width: 14px;
        height: 10px;
    }

    .footer-close-hover {
        background-position: -230px -79px;
        width: 14px;
        height: 10px;
    }

    .checkbox-disadbled {
        background-position: -10px -60px;
        width: 14px;
        height: 14px;
    }

    .checkbox {
        background-position: -10px -60px;
        width: 14px;
        height: 14px;
    }

    .checkbox-hover {
        background-position: -10px -100px;
        width: 14px;
        height: 14px;
    }

    .checkbox-checked {
        background-position: -10px -120px;
        width: 14px;
        height: 14px;
    }

    .radio-disabled {
        background-position: -50px -60px;
        width: 14px;
        height: 14px;
    }

    .radio {
        background-position: -50px -80px;
        width: 14px;
        height: 14px;
    }

    .radio-checked {
        background-position: -50px -120px;
        width: 14px;
        height: 14px;
    }
}

.tlv-x-btn, .tlv-x-btn:hover {
    background-position: -17px -147px;
    width: 10px;
    height: 10px;
}

