/* Fonts */
@font-opensans-light: OpenSans-Light, sans-serif;
@font-opensans-regular: OpenSans-Regular, sans-serif;
@font-opensans-medium: OpenSans-Semibold, sans-serif;
@font-opensans-medium-italic: OpenSans-SemiboldItalic, sans-serif;
@font-opensans-bold: OpenSans-Bold, sans-serif;

/*----------------------------------------------    General    ----------------------------------------------*/
@images: "images";

/* Main Colors */
@main_color_a: #009fdb;
@main_color_b: #056bae;
@main_color_c: #71c5eb;
@main_color_d: #4ca90c;
@main_color_e: #007a3e;
@main_color_f: #b5bd00;
@main_color_g: #ea7499;
@main_color_h: #ffb81c;
@main_color_i: #702f8a;
@main_color_j: #9063cd;
@main_color_k: #caa2dd;
@main_color_l: #000000;
@main_color_m: #5a5a5a;
@main_color_n: #959595;
@main_color_o: #d2d2d2;
@main_color_p: #ffffff;
@main_color_q: #999999;

/* Functional Colors */
@func_color_q: #cf2a2a;
@func_color_r: #f2f2f2;
@func_color_s: #191919;
@func_color_b: #0568ae;
@func_color_e: #007a3e;
@func_color_h: #ffb81c;

/* Tlv Colors */
@tlv_color_t: #f8f8f8;
@tlv_color_u: #eaeaea;
@tlv_color_v: #e6f6fb;
@tlv_color_w: #c6e6f2;
@tlv_color_x: #067ab4;

/*---------------------------------------------- Parameters ----------------------------------------------*/
@header_height: 0px;
@top_nav_height: 50px;
@top_nav_admin_height: 44px;
@action_nav_height: 53px;
@footer_height: 89px;
@border_color_view-mode: #ededed;
