.sprite-welcome {
    background-image: url(images/welcome/sprite.png);
    display: inline-block;
    vertical-align: middle;

    &.logo {
        background-position: 0 0;
        width: 149px;
        height: 47px;
        position: absolute;
        top: 25px;
        left: 20px;
    }

    &.play {
        background-position: 0 -60px;
        width: 120px;
        height: 120px;
    }

    &.close {
        background-position: -166px -11px;
        width: 25px;
        height: 25px;
    }

    &.close_white {
        background-position: -166px -37px;
        width: 25px;
        height: 25px;
    }

    &.recycle {
        background-position: -125px -60px;
        width: 24px;
        height: 24px;
    }

    &.idea {
        background-position: -159px -57px;
        width: 23px;
        height: 25px;
    }

    &.jigsaw {
        background-position: -125px -94px;
        width: 25px;
        height: 25px;
    }

    &.ball {
        background-position: -159px -95px;
        width: 23px;
        height: 23px;
    }

}
