@import "components/punchOut";
@import "components/forms";
@import "components/validationForm";
@import "components/dualListBox";
@import "components/listEditorView";
@import "components/toggleInput";
@import "components/notifications";
@import "components/inputOptions";
@import "components/progressBar";
@import "components/versionController";
@import "components/sequenceDiagram";
@import "components/navigationSideBar";
@import "components/loader";
@import "components/dropzone";
@import "components/submitErrorResponse";
@import "components/expandableInput";
@import "components/grid";
@import "components/activityLog";
@import "components/selectActionTable";
@import "components/datepicker";
@import "components/tree";
@import "components/commitModal";
@import "components/userNotifications";
@import "components/overlay";

%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.next-to-icon-label {
  $margin: 10px;
  margin-left: $margin;
  &.right {
    margin-left: 0;
    margin-right: $margin;
  }
}

.search-wrapper {
  display: flex;
  .search-input-control {
    flex: 1 1;
    margin: 0;
    .form-control {
      font-style: italic;
    }
  }
  .search-icon {
    position: relative;
    left: -23px;
    align-self: center;
    width: 0;
    color: $dark-gray;
  }
  .filter-icon {
    position: relative;
    left: -20px;
    align-self: center;
    width: 0;
    background-color: $white;
  }
}


.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.8em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  vertical-align: top;
  width: 0.8em;
}
.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}
.chevron.down:before {
  transform: rotate(135deg);
}
.chevron.left:before {
  transform: rotate(-135deg);
}
.chevron.top:before {
  transform: rotate(-45deg);
}
