@import "modules/licenseModelOverview";
@import "modules/licenseModelLimits";
@import "modules/licenseAgreement";
@import "modules/featureGroup";
@import "modules/entitlementPools";
@import "modules/licenseKeyGroup";
@import "modules/softwareProductLandingPage";
@import "modules/softwareProductCreatePage";
@import "modules/_softwareProductAttachmentPage";
@import "modules/_softwareProductProcessesPage";
@import "modules/_vspComponentQuestionnaire";
@import "modules/_softwareProductComponentNetwork";
@import "modules/_softwareProductComponentGeneral";
@import "modules/_softwareproductComponentLoadBalancing";
@import "modules/_softwareProductComponentProcessesPage";
@import "modules/_softwareProductComponentImage";
@import "modules/softwareProductComponentCompute";
@import "modules/vspComponentCompute";
@import "modules/vspComponentMonitoring";
@import "modules/licenseModel";
@import "modules/onboardingCatalog";
@import "modules/workflows";
@import "modules/uploadScreen";
@import "modules/vspHeatSetup";
@import "modules/softwareProductDependencies";
@import "modules/_permissions.scss";
@import "modules/_revisions.scss";
@import "modules/softwareProductDeployment";
@import "modules/versionsPage";
@import "modules/mergeEditor";
