@import './../../../../../assets/styles/variables.less';
@import './../../../../../assets/styles/override.less';
.deployment-page {
  width: 100%;
  height: 100%;

  /deep/ .sdc-tabs {
    height: 100%;
  }
  /deep/ .sdc-tabs-list {
    position: absolute;
    top: 22px;
    right: 303px;
    background-color: @sdcui_color_silver;

    svg-icon-label {
      vertical-align: middle;
    }
  }
  /deep/ .sdc-tab-content {
    height: 100%;
  }
}

