@import '../../../../../../assets/styles/variables';

/deep/ ui-element-integer-input {

    input {
        text-indent: 6px;
        border: solid 1px @main_color_o;
    }

    .error {
        border: solid 1px @func_color_q;
        color: @func_color_q;
        outline: none;
        box-sizing: border-box;
    }

}
