<div class="slide" id="slide-1" data-ng-controller="Sdc.ViewModels.WelcomeStepsControllerViewModel">
    <div class="asdc-welcome-frame frame-01">
        <div class="asdc-welcome-header">
            <!--<a class="sprite-welcome logo" class="welcome-logo" ui-sref="dashboard"></a>-->
            <!--<a class="whats-new" data-ng-click="gotoSlideIndex(0)">What`s New</a>-->
        </div>

        <!--<video id="asdc-welcome-video" class="asdc-welcome-video">&lt;!&ndash; autoplay loop muted &ndash;&gt;
            <source ng-src="{{video_mp4}}" type="video/mp4" />
            <source ng-src="{{video_ogg}}" type='video/ogg' />
        </video>-->

        <div class="asdc-welcome-cover"></div>
        <div class="asdc-welcome-main">

            <!--<div class="asdc-welcome-main-title">INNOVATIVE. RAPID. RELIABLE</div>
            <div class="asdc-welcome-main-message">
                AT&Ts leading collaborative network solution design platform
            </div>

            <div class="asdc-welcome-main-back-btn-ph">
                <a class="asdc-welcome-main-back-btn" ui-sref="dashboard">Home</a>
            </div>

            <div class="asdc-welcome-video-icon">
                <div class="asdc-welcome-video-icon-play sprite-welcome play" data-ng-click="onPlayVideo()"></div>
                <div class="asdc-welcome-inner-circle"></div>
            </div>-->

            <h1>Welcome to SDC</h1>

        </div>
    </div>
</div>
