<div>
    <div data-ng-repeat="i in getNumber(mapKeys.length) track by $index" class="map-item" data-ng-class="{'primitive-value-map':!isSchemaTypeDataType}">
        <div class="i-sdc-form-item map-item-field" data-ng-class="{error:(parentFormObj['mapKey'+fieldsPrefixName+$index].$dirty && parentFormObj['mapKey'+fieldsPrefixName+$index].$invalid)}">
            <label class="i-sdc-form-label required">Key</label>
            <input class="i-sdc-form-input"
                   data-tests-id="mapKey{{fieldsPrefixName}}{{$index}}"
                   data-ng-model="mapKeys[$index]"
                   type="text"
                   data-ng-maxlength="50"
                   maxlength="50"
                   name="mapKey{{fieldsPrefixName}}{{$index}}"
                   data-ng-pattern="MapKeyValidationPattern"
                   data-ng-model-options="{ debounce: 200 }"
                   data-ng-change="changeKeyOfMap(mapKeys[$index], $index,'mapKey'+fieldsPrefixName+$index);$event.stopPropagation();"
                   data-ng-readonly="readOnly"
                   data-required
                   autofocus/>
            <div class="input-error" data-ng-show="parentFormObj['mapKey'+fieldsPrefixName+$index].$dirty && parentFormObj['mapKey'+fieldsPrefixName+$index].$invalid">
                <span ng-show="parentFormObj['mapKey'+fieldsPrefixName+$index].$error.keyExist" translate="PROPERTY_EDIT_MAP_UNIQUE_KEYS"></span>
                <span ng-show="parentFormObj['mapKey'+fieldsPrefixName+$index].$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Key' }"></span>
                <span ng-show="parentFormObj['mapKey'+fieldsPrefixName+$index].$error.maxlength" translate="VALIDATION_ERROR_MAX_LENGTH" translate-values="{'max': '50' }"></span>
                <span ng-show="parentFormObj['mapKey'+fieldsPrefixName+$index].$error.pattern" translate="VALIDATION_ERROR_SPECIAL_CHARS_NOT_ALLOWED"></span>
            </div>
        </div>
        <div data-ng-if="!isSchemaTypeDataType" class="i-sdc-form-item map-item-field" data-ng-class="{error:(parentFormObj['mapValue'+fieldsPrefixName+$index].$dirty && parentFormObj['mapValue'+fieldsPrefixName+$index].$invalid)}">
            <label class="i-sdc-form-label required">Value</label>
            <input class="i-sdc-form-input"
                   ng-if="!((schemaProperty.simpleType||schemaProperty.type) == 'boolean')"
                   data-ng-readonly="readOnly"
                   data-ng-model="valueObjRef[mapKeys[$index]]"
                   type="text"
                   name="mapValue{{fieldsPrefixName}}{{$index}}"
                   data-tests-id="mapValue{{fieldsPrefixName}}{{$index}}"
                   data-ng-pattern="getValidationPattern((schemaProperty.simpleType||schemaProperty.type))"
                   data-ng-change="!parentFormObj['mapValue'+fieldsPrefixName+$index].$error.pattern && parseToCorrectType(valueObjRef, key, (schemaProperty.simpleType||schemaProperty.type))"
                   data-ng-model-options="{ debounce: 200 }"
                   data-ng-maxlength="maxLength"
                   maxlength="{{maxLength}}"
                   data-required
                   autofocus />
            <select class="i-sdc-form-select"
                    data-tests-id="mapValue{{fieldsPrefixName}}{{$index}}"
                    ng-if="(schemaProperty.simpleType||schemaProperty.type) == 'boolean'"
                    data-ng-disabled="readOnly"
                    name="mapValue{{fieldsPrefixName}}{{$index}}"
                    data-ng-model="valueObjRef[mapKeys[$index]]"
                    data-required>
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <div class="input-error" data-ng-show="parentFormObj['mapValue'+fieldsPrefixName+$index].$dirty && parentFormObj['mapValue'+fieldsPrefixName+$index].$invalid">
                <span ng-show="parentFormObj['mapValue'+fieldsPrefixName+$index].$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Value' }"></span>
                <span ng-show="parentFormObj['mapValue'+fieldsPrefixName+$index].$error.pattern" translate="PROPERTY_EDIT_PATTERN"></span>
                <span ng-show="parentFormObj['mapValue'+fieldsPrefixName+$index].$error.maxlength" translate="VALIDATION_ERROR_MAX_LENGTH" translate-values="{'max': '{{maxLength}}' }"></span>
            </div>
        </div>
        <div data-ng-if="isSchemaTypeDataType" class="i-sdc-form-item map-item-field">
            <label class="i-sdc-form-label">Value</label>
            <fields-structure value-obj-ref="valueObjRef[mapKeysStatic[$index]]"
                              type-name="schemaProperty.type"
                              parent-form-obj="parentFormObj"
                              fields-prefix-name="'mapValue'+fieldsPrefixName+''+$index"
                              read-only="readOnly"
            ></fields-structure>
        </div>
        <span ng-click="deleteMapItem($index)" class="delete-map-item" data-tests-id="delete-map-item{{fieldsPrefixName}}{{$index}}" data-ng-class="{'disabled': readOnly}"></span>
    </div>
    <div class="add-map-item" data-ng-class="{'schema-data-type':isSchemaTypeDataType}">
        <div class="add-btn" data-tests-id="add-map-item"
             data-ng-class="{'disabled': readOnly || !schemaProperty.type || mapKeys.indexOf('')>-1 || !isMapKeysUnique}" data-ng-click="addMapItemFields()">Add</div>
    </div>
</div>

