.list-value-items{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid @main_color_o;
    padding-bottom: 10px;
    min-height: 100px;
    clear: both;
    background-color: white;
    .list-value-item{
        display: inline-block;
        background-color: @tlv_color_v;
        margin: 10px 0 0 10px;
        .delete-list-item{
            margin: 0 0 0 2px;
            .hand;
        }
    }
}

.add-btn {
    .f-color.a;
    .f-type._14_m;
    .hand;

    &.add-list-item {
        float: left;
        margin-top: 5px;
        width: 44px;
    }

    &:before {
        .sprite-new;
        .plus-icon;
        margin-right: 5px;
        content: "";

    }
    &:hover {
        .f-color.b;
        &:before {
            .sprite-new;
            .plus-icon-hover;
        }
    }

}

.dt-list-item {
    min-width: 300px;
    min-height: 65px;
    background-color: @tlv_color_v;
    border-radius: 3px;
    margin: 8px;
    float: left;
    display: flex;
    .delete-dt-list-item{
        float: right;
        position: relative;
        top: 5px;
        right: 5px;
        .sprite-new;
        .delete-icon;
        &:hover{
            .delete-icon-hover;
        }
    }
    .list-new-item{
        margin: 7px 12px !important;
            float: left;
            min-height: 50px;
            select{
                width:171px;
            }
            input[type="text"]{
                width: 170px;
            }
            &>.data-type-fields-structure{
                padding: 0;
            }
    
            .i-sdc-form-input:read-only{
                opacity: 0.4;
                cursor: auto;
            }
    }
    .data-type-name{
        margin-right: 16px;
    }
}

.dt-list{
    display: inline-block;
    &>.add-list-item{
        float:none;
    }
}

.div-tosca-function {
    max-width: 165px;
}

.tosca-error {
    max-width: 165px;
}

.temp-form {
    all: unset;
}

