<div class="sdc-workspace-container">
    <loader data-display="isLoading"></loader>
    <div class="w-sdc-main-container">

        <div class="w-sdc-left-sidebar" data-ng-if="!isComposition">
            <div class="menu-header" tooltips tooltip-content="{{menuComponentTitle}}">
                {{menuComponentTitle}}
            </div>
            <div class="i-sdc-designer-sidebar-section-content-item" ng-class="{'selected': menuItem.state == $state.current.name}" ng-repeat="menuItem in leftBarTabs.menuItems track by $index">
                <div class="expand-collapse-menu-box-item-text" ng-click="onMenuItemPressed(menuItem.state)" ng-class="{'disabled': menuItem.isDisabled }" data-tests-id="{{menuItem.text}}LeftSideMenu">{{menuItem.text}}</div>
            </div>
        </div>

        <div include-padding="true" class="w-sdc-main-right-container" data-ng-class="{'composition':isComposition, 'deployment':isDeployment}">
            <loader data-display="isCreateProgress" data-ng-show="isCreateProgress" relative="false"></loader>

            <div class="sdc-workspace-top-bar">
                <div class="version-container">

                <span data-ng-if="!isCreateMode() && !component.isLatestVersion()" class="not-latest"></span>
                <select class="version-selector" data-ng-if="!isCreateMode()" data-tests-id="versionHeader" data-ng-model="changeVersion.selectedVersion"
                        ng-options="'V'+version.versionNumber for version in versionsList" data-ng-change="onVersionChanged(changeVersion.selectedVersion.versionId)">
                </select>
                </div>

                <div class="lifecycle-state">
                    <div data-ng-show="showLifecycleIcon()" class="lifecycle-state-icon" data-ng-class="{'in-design-status-icon': isCreateMode(), '{{sdcMenu.LifeCycleStatuses[component.lifecycleState].icon}}': !isCreateMode()}"></div>
                    <span class="lifecycle-state-text" data-tests-id="formlifecyclestate">{{getStatus()}}</span>
                </div>


                <div class="progress-container" >
                    <top-progress class="general-view-top-progress" progress-value="progressService.getProgressValue(component.uniqueId)" progress-message="progressMessage"></top-progress>
                </div>

                <div class="sdc-workspace-top-bar-buttons">

                    <span ng-if="!isCreateMode() && !component.isLatestVersion() && !showChangeStateButton()">Switch to the&nbsp;<a ng-click="getLatestVersion()">latest version</a></span>

                    <button ng-if="isDesigner() && !isCreateMode()"
                            data-ng-class="{'disabled' :!isValidForm || isDisableMode() || isViewMode()}"
                            ng-click="save()"
                            class="tlv-btn blue"
                            data-tests-id="create/save"
                            data-ng-show="showFullIcons()"
                            sdc-smart-tooltip="">Update</button>

                    <button ng-repeat="(key,button) in changeLifecycleStateButtons"
                            ng-click="changeLifecycleState(key)"
                            ng-if="showChangeStateButton() && key != 'deleteVersion'"
                            data-ng-disabled="isCreateMode() || button.disabled || disabledButtons || !isValidForm"
                            class="change-lifecycle-state-btn tlv-btn"
                            ng-class="$first ? 'outline green' : 'grey'"
                            data-tests-id="{{button.text  | testsId}}">
                            {{button.text}}
                        </button>

                    <button ng-if="!isViewMode() && isCreateMode()" data-ng-disabled="!isValidForm || isDisableMode() || isLoading" ng-click="save()" class="tlv-btn outline green" data-tests-id="create/save">Create</button>

                    <span data-ng-if="isDesigner() && !isCreateMode() && component.lifecycleState === 'NOT_CERTIFIED_CHECKOUT'" sdc-smart-tooltip=""
                        data-ng-class="{'disabled' : !isValidForm || isDisableMode() || isViewMode()}" ng-click="changeLifecycleState('deleteVersion')"
                        class="sprite-new delete-btn" data-tests-id="delete_version" sdc-smart-tooltip="">Delete</span>

                    <span data-ng-if="isDesigner()" data-ng-class="{'disabled' :isDisableMode() || isViewMode()}"  ng-click="revert()" class="sprite-new revert-btn" data-tests-id="revert"
                          data-ng-show="showFullIcons()" sdc-smart-tooltip="">Revert</span>
                    
                    <span class="delimiter"></span>
                    <span class="sprite-new x-btn" data-ng-click="goToBreadcrumbHome()" sdc-smart-tooltip="">Close</span>

                </div>
            </div>
            <div class="w-sdc-main-container-body-content-wrapper">
                <div class="tab-title" data-ng-if="!isComposition && !isDeployment">
                    {{getTabTitle()}}
                </div>
                <div class="w-sdc-main-container-body-content" data-ng-class="{'third-party':thirdParty}" data-ui-view></div>
            </div>
        </div>
    </div>
    <top-nav [hide-search]="true" [menu-model]="breadcrumbsModel" [version]="version"></top-nav>
</div>
