@import '../../../../../assets/styles/variables.less';

.operation-creator {
    font-family: @font-opensans-regular;
    user-select: none;
    padding-top: 12px;
    padding-bottom: 20px;

    .i-sdc-form-label {
        font-size: 12px;
    }

    .w-sdc-form .i-sdc-form-item {
        margin-bottom: 15px;
    }

    .side-by-side {
        display: flex;

        .i-sdc-form-item {
            flex-basis: 100%;

            &:first-child {
                flex-basis: 40%;
                margin-right: 10px;
            }
        }
    }

    .input-param-title {
        font-size: 16px;
        text-transform: uppercase;
    }

    .separator-buttons {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        .add-param-link {
            &:not(.disabled):hover {
                cursor: pointer;
            }
        }
    }

    .generic-table {
        max-height: 233px;
        min-height: 89px;
        background: @main_color_p;

        .header-row .header-cell {
            &.remove {
                padding: 8px;
            }

            .info-icon {
                float: right;
            }

            /deep/ .tooltip-inner {
                max-width: 280px;
                font-size: 11px;
            }
        }

        .data-row {
            &.empty-msg {
                .bold-message {
                    font-weight: 600;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 17px 0;
            }
        }

        /deep/ .cell {
            &.field-name {
                flex: 2;
            }


            &.field-mandatory {
                flex: 0.5;
                text-align: center;
            }

            &.field-property {
                &, &:last-child {
                    flex: 1;
                }
            }

            &.remove {
                min-width: 40px;
            }
        }

    }
}
