.workspace-inputs {

    .service-inputs-view {

        .table-container-flex {
            width:100% !important;
        }

        .table-loader {
            position: relative;
            top:215px;
        }

    }

    .infinite-scroll {

        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 400px;
    }

    .class_with_css_props_leading_to_a_scroll {
        height: 100%;
        overflow-y: auto;
    }

    .table-container-flex {
        .expand-collapse-table-row {
            .service-input-row {
                padding-left: 15px;
                border: none;
                border-bottom: rgba(120, 136, 148, 0.26) solid 1px;

                &.service-input-row {
                    background: @tlv_color_u;
                    &.new-input {
                        background: @tlv_color_v;
                    }
                }
            }


        }
    }

}
