<select-requirement-or-capability [optionalRequirementsMap]="optionalRequirementsMap"
                                  [optionalCapabilitiesMap]="optionalCapabilitiesMap"
                                  [selectedReqOrCapModel]="connectWizardService.selectedMatch && (connectWizardService.selectedMatch.isFromTo ? connectWizardService.selectedMatch.requirement : connectWizardService.selectedMatch.capability)"
                                  [currentComponent]="connectWizardService.currentComponent"
                                  [componentInstanceId]="connectWizardService.connectRelationModel.fromNode.componentInstance.uniqueId"
                                  (updateSelectedReqOrCap)="updateSelectedReqOrCap($event)"
                                  (updateCapabilityProperties)="onCapabilityPropertiesUpdate($event)">
</select-requirement-or-capability>