<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <property scope="system" name="OPENECOMP-component-name" value="ASDC"/>
    <property scope="system" name="OPENECOMP-subcomponent-name" value="ASDC-BE"/>
    <property file="${config.home}/catalog-be/configuration.yaml"/>
    <property scope="context" name="enable-all-log" value="false"/>

    <!--statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <include resource="asdc_debug_logback.xml"/-->

    <!-- value used by pattern field list (| - is inter-field separator, || - unavailable or not applicable field value) (m - mandatory, o- optional)-->
    <!--timestamp(m)| requestID(m)| serviceInstanceID(o)| threadID(m)| physicalServerName(o)| serviceName(m)| userID(m)| logLevel(m)| severity(o)| serverIpAddress(m)| serverName(m)| clientIpAddress(o)| className(m)| timer(o)| detailedMessage(o)-->
    <property name="default-log-pattern"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%X{uuid}|%X{serviceInstanceID}|%thread||${OPENECOMP-subcomponent-name}|%X{userId}|%level|%X{alarmSeverity}|%X{localAddr}|${beFqdn}|%X{remoteAddr}|%logger{35}|%X{timer}|ActivityType=&lt;%M&gt;, Desc=&lt;%msg&gt;%n"/>

    <property name="asdc-debug-log-pattern"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%X{RequestId}|%msg %n"/>

    <property name="error-log-pattern"
              value="%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%X{RequestID}|%thread|%X{ServiceName}|%X{PartnerName}|%X{TargetEntity}|%X{TargetServiceName}|%X{ErrorCategory}|%X{ErrorCode}|${p_msg} ${p_ex}|%n%nopex"/>

    <!-- Console appenders replacing RollingFileAppender -->
    <appender name="ALL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${default-log-pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${error-log-pattern}</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${asdc-debug-log-pattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ERROR_CONSOLE"/>
        <appender-ref ref="DEBUG_CONSOLE"/>
        <if condition='property("enable-all-log").equalsIgnoreCase("true")'>
            <then>
                <appender-ref ref="ALL_CONSOLE"/>
            </then>
        </if>
    </root>

    <logger name="org.openecomp.sdc" level="INFO"/>

    <logger name="org.openecomp.sdc.vendorsoftwareproduct" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_CONSOLE"/>
    </logger>

    <logger name="org.openecomp.sdc.vendorlicense" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_CONSOLE"/>
    </logger>
</configuration>
