<!--
<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<appender name="DEBUG_ROLLING"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>DOX-BE.log
		</file>

		&lt;!&ndash; No need to deny audit messages - they are INFO only, will be denied
			anyway &ndash;&gt;
		&lt;!&ndash; Transaction messages filter - deny Transaction messages, there are
			some DEBUG level messages among them &ndash;&gt;


		&lt;!&ndash; accept DEBUG and TRACE level &ndash;&gt;

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/DOX-BE.log.%i
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%level	[%d{yyyy-MM-dd'T'HH:mm:ss}] - Method=%M,	Desc=&lt;%msg&gt;%n</pattern>
		</encoder>
	</appender>


	<root level="info">
		<appender-ref ref="DEBUG_ROLLING" />
	</root>
</configuration>-->
<configuration scan="true" scanPeriod="3 seconds">

    <property name="logDir" value="logs"/>
    <property name="componentName" value="ASDC"/>
    <property name="ECOMP-subcomponent-name" value="ASDC-BE"/>

    <property name="defaultPattern"
              value="%msg%n"/>

    <!--<property name="MetricsLogPattern" value="%X{BeginTimestamp}|%X{EndTimestamp}|%X{RequestId}|%X{ServiceInstanceId}|%thread|%X{ServerName}|%X{ServiceName}|%X{PartnerName}|%X{TargetEntity}|%X{TargetServiceName}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|%X{InstanceUUID}|%X{CategoryLogLevel}|%X{Severity}|%X{ServerIPAddress}|%X{ElapsedTime}|%X{ServerFQDN}|%X{ClientIP}|%logger%n" />
    <property name="AuditLogPattern" value="%X{BeginTimestamp}|%X{EndTimestamp}|%X{RequestId}|%X{ServiceInstanceId}|%thread|%X{ServerName}|%X{ServiceName}|%X{PartnerName}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|%X{InstanceUUID}|%X{CategoryLogLevel}|%X{Severity}|%X{ServerIPAddress}|%X{ElapsedTime}|%X{ServerFQDN}|%X{ClientIP}%n" />
    <property name="ErrorLogPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS, GMT}|%X{RequestId}|%thread|%X{ServiceName}|%X{PartnerName}|%X{TargetEntity}|%X{TargetServiceName}|%X{ErrorCategory}|%X{ErrorCode}|%X{ErrorDescription}|%msg%n"/>
    <property name="DebugLogPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS, GMT}|%X{RequestId}||%logger|%msg%n"/>-->

    <!-- new pattern -->
    <property name="default-log-pattern"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%X{BeginTimestamp}|%X{EndTimestamp}|%X{uuid}|%X{serviceInstanceID}|%thread|%X{ServerName}|%X{ServiceName}|${ECOMP-subcomponent-name}|%X{userId}|%X{TargetEntity}|%X{TargetServiceName}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|%X{InstanceUUID}|%X{ErrorCategory}|%X{ErrorCode}|%X{ErrorDescription}|%level|%X{alarmSeverity}|%X{localAddr}|%X{ElapsedTime}|%X{beFqdn}|%X{remoteAddr}|%logger{35}|%X{timer}|ActivityType=&lt;%M&gt;, Desc=&lt;%msg&gt;%n"/>

    <property name="logDirectory" value="${logDir}/${componentName}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="DISPATCHER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="org.openecomp.core.logging.logback.EventTypeDiscriminator"/>
        <sift>
            <appender name="${eventType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${logDirectory}/${eventType}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${logDirectory}/${eventType}.%i.log.zip</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>9</maxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <maxFileSize>5MB</maxFileSize>
                </triggeringPolicy>
                <encoder>
                    <pattern>${default-log-pattern}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="DISPATCHER"/>
    </root>

</configuration>