<div class="w-sdc-distribution-view">
    <div class="w-sdc-distribution-view-header">
        <div class="w-sdc-distribution-view-title">DISTRIBUTION <span data-ng-bind="'[' + distributions.length +']'"
                                                                      class="blue-font"></span></div>
        <div class="header-spacer"></div>
        <div class="top-search">
            <input type="text"
                   class="search-text"
                   data-tests-id="searchTextbox"
                   placeholder="Search"
                   data-ng-model="searchBind"
                   data-tests-id="main-menu-input-search"
                   ng-model-options="{ debounce: 500 }"/>
            <span class="w-sdc-search-icon magnification"></span>
        </div>
        <div class="sprite-new refresh-btn" data-tests-id="refreshButton" data-ng-click="initDistributions()" sdc-smart-tooltip=""
             title="Refresh"></div>
    </div>


    <perfect-scrollbar include-padding="true" class="w-sdc-distribution-view-content">
        <div class="w-sdc-distribution-view-content-section" data-tests-id="ditributionTable">
            <ul>
                <li data-ng-repeat="item in distributions | orderBy: '-timestamp' | filter:searchBind"
                    data-ng-init="item.dateFormat = ( item.timestamp | stringToDateFilter | date: 'MM/dd/yyyy h:mma':'UTC' )"
                    class="w-sdc-distribute-parent-block" data-tests-id="record_{{$index}}" data-ng-class="{'extends': item.showDetails}">
                    <div class="w-sdc-distribute-row w-sdc-distribute-row-extends"
                         data-ng-class="{'extends': item.showDetails  && item.distributionComponents.length}">
                        <div class="w-sdc-distribution-arrow-btn" data-tests-id="ShowRecordButton_{{$index}}" data-ng-click="showComponents(item); item.showDetails=!item.showDetails"
                             data-ng-class="{'extends': item.showDetails}"
                             ></div>
                        <div class="w-sdc-distribute-row-content">
                            <div class="w-sdc-distribute-content">
                                <div class="title-section item-1">
                                    <div class="title">Distribution ID</div>
                                    <div data-ng-bind="item.distributionID"></div>
                                </div>
                                <div class="title-section item-2">
                                    <div class="title" translate="DISTRIBUTION_VIEW_TITLE_USER_ID"></div>
                                    <div data-ng-bind="item.userId"></div>
                                </div>
                                <div class="title-section item-3">
                                    <div class="title">Time[UTC]:</div>
                                    <div
                                        data-ng-bind="item.dateFormat"></div>
                                </div>
                                <div class="title-section item-4">
                                    <span class="sprite-new status-icon" data-ng-class="item.deployementStatus"></span>
                                    <span class="sprite-new" data-ng-bind="item.deployementStatus"></span>
                                </div>
                                <div>
                                    <div class="sprite-new distribution-bth item-5"
                                         data-ng-class="{'disable':item.deployementStatus==='Deployed'}"
                                         data-ng-click="(item.deployementStatus==='Deployed') || markAsDeployed(item)"></div>
                                </div>
                            </div>
                            <div class="w-sdc-distribute-status-block" data-ng-if="item.statusCount">
                                <div class="status-item-1">Total Artifacts:<span data-ng-bind="(item.statusCount.NOT_NOTIFIED || 0) + (item.statusCount.NOTIFIED || 0) "
                                                                       class="blue-font" data-tests-id="totalArtifacts_{{$index}}"></span></div>
                                <div class="status-item-2 " ><sapn class="link" data-ng-click="openDisributionStatusModal(item,'NOTIFIED')">Notified:</sapn><span
                                    data-ng-bind="item.statusCount.NOTIFIED || 0" class="blue-font" data-tests-id="notified_{{$index}}"></span></div>

                                <div class="status-item-3 link" ><sapn class="link" data-ng-click="openDisributionStatusModal(item,'DOWNLOAD_OK')">Downloaded:</sapn><span
                                    data-ng-bind="item.statusCount.DOWNLOAD_OK || 0" class="blue-font" data-tests-id="downloaded_{{$index}}"></span></div>

                                <div class="status-item-4 link"><sapn class="link" data-ng-click="openDisributionStatusModal(item,'DEPLOY_OK')">Deployed:</sapn><span
                                    data-ng-bind="item.statusCount.DEPLOY_OK || 0" class="blue-font" data-tests-id="deployed_{{$index}}" ></span><span
                                    data-ng-class="{'deployed':(item.statusCount.DEPLOY_OK > 0)}"></span></div>
                                <div class="status-item-5 link" ><sapn class="link" data-ng-click="openDisributionStatusModal(item,'NOT_NOTIFIED')">Not Notified:</sapn><span
                                    data-ng-bind="item.statusCount.NOT_NOTIFIED || 0" class="blue-font" data-tests-id="NotNotified_{{$index}}"></span></div>
                                <div class="status-item-6"><sapn class="link" data-ng-click="openDisributionStatusModal(item,'DEPLOY_ERROR')" >Deploy Errors:</sapn><span
                                    data-ng-bind="item.statusCount.DEPLOY_ERROR || 0" class="red-font "></span><span
                                    data-ng-class="{'error':(item.statusCount.DEPLOY_ERROR > 0)}" data-tests-id="errors_{{$index}}"></span></div>
                                <div class="status-item-7"><sapn class="link" data-ng-click="openDisributionStatusModal(item,'DOWNLOAD_ERROR')" >Download Errors:</sapn><span
                                    data-ng-bind="item.statusCount.DOWNLOAD_ERROR || 0" class="red-font "></span><span
                                    data-ng-class="{'error':(item.statusCount.DOWNLOAD_ERROR > 0)}" data-tests-id="errors_{{$index}}"></span></div>
                            </div>
                        </div>
                    </div>

                    <ul data-ng-if="item.showDetails && item.distributionComponents.length"
                        class="w-sdc-distribute-components-block disable-hover">

                        <li data-ng-repeat="(omfComponentID,omfComponentList) in ::item.distributionComponents | orderBy: '-timestamp' | filter:searchBind | groupBy:'omfComponentID' "
                            class="disable-hover"
                            data-ng-init="statusCount = getStatusCount(omfComponentList);">
                            <div class="w-sdc-distribute-row omf-component-row w-sdc-distribute-row-extends"
                                 data-ng-class="{'extends': omfComponentListExtends}">
                                <div class="w-sdc-distribution-arrow-btn" data-ng-click="omfComponentListExtends=!omfComponentListExtends"
                                     ng-class="{'extends': omfComponentListExtends}"
                                     data-ng-init="omfComponentListExtends=false"
                                     ></div>
                                <div class="w-sdc-distribute-status-block">
                                    <div class="status-item-1">{{omfComponentID}} <span class="blue-font">{{(statusCount.NOT_NOTIFIED || 0) + (statusCount.NOTIFIED || 0) }}</span>
                                    </div>
                                    <div class="status-item-2">Notified:<span data-ng-bind="statusCount.NOTIFIED || 0"
                                                                              class="blue-font"></span></div>
                                    <div class="status-item-3">Downloaded:<span
                                        data-ng-bind="statusCount.DOWNLOAD_OK || 0" class="blue-font"></span></div>
                                    <div class="status-item-4">Deployed:<span data-ng-bind="statusCount.DEPLOY_OK || 0"
                                                                              class="blue-font"></span><span
                                        data-ng-class="{'deployed':(statusCount.DEPLOY_OK > 0)}"></span></div>
                                    <div class="status-item-5">Not Notified:<span
                                        data-ng-bind="statusCount.NOT_NOTIFIED || 0" class="blue-font"></span></div>
                                    <div class="status-item-6">Deploy Errors:<span
                                        data-ng-bind="statusCount.DEPLOY_ERROR || 0" class="red-font"></span><span
                                        data-ng-class="{'error':(statusCount.DEPLOY_ERROR > 0)}"></span></div>
                                    <div class="status-item-7">Download Errors:<span
                                        data-ng-bind="statusCount.DOWNLOAD_ERROR || 0" class="red-font"></span><span
                                        data-ng-class="{'error':(statusCount.DOWNLOAD_ERROR > 0)}"></span></div>
                                </div>
                            </div>
                            <div data-ng-if="omfComponentListExtends"
                                 class="w-sdc-distribute-omfComponent-block disable-hover">
                                <div class="w-sdc-distribute-row-extends disable-hover">
                                    <div class="disable-hover">
                                        <div class="w-sdc-distribute-row omfComponent-table-head">
                                            <div class="title item-1">Component ID</div>
                                            <div class="title item-2">Artifact Name</div>
                                            <div class="title item-3">URL</div>
                                            <div class="title item-4">Time(UTC)</div>
                                            <div class="title item-5">Status</div>
                                        </div>

                                        <div class="w-sdc-distribute-row omfComponent-table-row"
                                             data-ng-repeat-start="(url,urlList) in ::omfComponentList | orderBy: '-timestamp' |  groupBy:'url'"
                                             data-ng-class="urlListExtends?'extends row-{{$index}}':'row-{{$index}}'">
                                            <div class="w-sdc-distribute-cell item-1"  sdc-smart-tooltip>
                                                <div class="w-sdc-distribution-arrow-btn" data-ng-click="urlListExtends=!urlListExtends"
                                                     data-ng-class="{'extends': urlListExtends}"
                                                     data-ng-init="urlListListExtends=false;urlList[0].displayUrl=getUrlName(urlList[0].url)"
                                                     ></div>
                                                {{urlList[0].omfComponentID}}
                                            </div>
                                            <div class="w-sdc-distribute-cell item-2" sdc-smart-tooltip>
                                                {{urlList[0].displayUrl}}
                                            </div>
                                            <div class="w-sdc-distribute-cell item-3 disable-hover">
                                                <div sdc-smart-tooltip class="distribution-url">{{urlList[0].url}}</div>
                                                <div sdc-smart-tooltip title="Copy url" clipboard text="urlList[0].url"
                                                     class="sprite-new link-btn copy-link disable-hover"></div>
                                            </div>
                                            <div class="w-sdc-distribute-cell item-4"><span
                                                data-ng-bind="urlList[0].timestamp  | date: 'MM/dd/yyyy h:mma':'UTC'"></span>
                                            </div>
                                            <div class="w-sdc-distribute-cell item-5"  sdc-smart-tooltip>
                                                {{urlList[0].status}}
                                            </div>
                                        </div>


                                        <div data-ng-repeat-end data-ng-if="urlListExtends" class="disable-hover" >
                                            <div class="w-sdc-distribute-row extends disable-hover">
                                                <ul data-ng-if="urlListExtends"
                                                    class="w-sdc-distribute-url-block disable-hover">
                                                    <li data-ng-repeat="distributionComponent in ::urlList | orderBy: '-timestamp'"
                                                        class="disable-hover">
                                                        <span
                                                            data-ng-bind="distributionComponent.timestamp | date: 'MM/dd/yyyy h:mma':'UTC'"
                                                            class="disable-hover"></span>
                                                        <span
                                                            class="disable-hover">{{distributionComponent.status}}</span>
                                                           <span
                                                               class="disable-hover reason" data-ng-if="distributionComponent.status == 'NOT_NOTIFIED'">Reason: Component has determined artifact is not needed.</span>
                                                          <span
                                                              class="disable-hover reason" data-ng-if="distributionComponent.errorReason">Reason: {{distributionComponent.errorReason}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </perfect-scrollbar>
</div>
