@import "./../../../../../assets/styles/override";
.service-proxy {
  /deep/.svg-icon.bg-type-circle {
    border: 2px solid @sdcui_color_blue;
  }
}

.element-non-certified {
  position: absolute;
    top: 0.4px;
    left: 0.4px;
}
.sdc-element-icon {
  position: relative;
}

.uncertified-icon-wapper{
      height: 17px;
      width: 17px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      left: -1px;
}