// Inside
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    .bg_b;
    .border-radius(0px);
    opacity: 1;
    width: 6px;
    margin: 0 2px;
}
// Outside
.ps-container > .ps-scrollbar-y-rail{
    .border-radius(0px);
    width: 10px ;
    background-color: rgba(255,255,255,0.5);
    z-index: 1000;
}
