.sprite {
  background-image: url('images/sprites/sprite-global-old.png');
  display: inline-block;
}

.sprite.logo                        { background-position: -50px  -100px; width: 39px; height: 32px;}
.sprite.white-arrow-down            { background-position: -50px  -200px; width: 15px; height: 9px;}
.sprite.white-arrow-up              { background-position: -100px -200px; width: 15px; height: 9px;}
.arrow-left                         { background-position: -262px -4041px; width: 11px; height: 10px;}
.sprite.tab-info                    { background-position: -50px -300px;  width: 18px; height: 20px;}
.sprite.edit                        { background-position: -51px -689px;  width: 31px; height: 30px;}
.sprite.details                     { background-position: -50px -900px;  width: 19px; height: 19px;}
.sprite.structure                   { background-position: -212px -3880px; width: 23px; height: 21px;}
.sprite.artifacts                   { background-position: -50px -1098px; width: 20px; height: 20px;}
.sprite.menu                        { background-position: -50px -1200px; width: 17px; height: 14px;}
.sprite.catalog                     { background-position: -53px -1303px; width: 20px; height: 20px;}
.sprite.distribution                { background-position: -50px -1400px; width: 24px; height: 14px;}
.sprite.support                     { background-position: -50px -1500px; width: 22px; height: 22px;}
.sprite.filter                      { background-position: -50px -1600px; width: 15px; height: 16px;}
.sprite.card-menu                   { background-position: -50px -2000px; width: 4px;  height: 16px;}
.sprite.relationships               { background-position: -50px -2097px; width: 26px; height: 19px;}
.sprite.lifecycle                   { background-position: -50px -2200px; width: 20px; height: 20px;}
.sprite.properties                  { background-position: -50px -2300px; width: 19px; height: 19px;}
.sprite.e-sdc-small-icon-delete     { background-position: -64px -2771px; width: 11px; height: 13px;}
.sprite.magnification-glass         { background-position: -49px -3138px; width: 12px; height: 12px;}
.sprite.clear-text                  { background-position: -104px -4040px; width: 10px; height: 11px;}
/*new tabs icons*/
.sprite.info                        { background-position: -105px -3583px; width: 18px; height: 18px;}
.sprite.information-artifacts       { background-position: -105px -3632px; width: 20px; height: 21px;}
.sprite.deployment-artifacts        { background-position: -105px -3682px; width: 19px; height: 19px;}
.sprite.properties                  { background-position: -105px -3733px; width: 18px; height: 18px;}
.sprite.relations                   { background-position: -105px -3781px; width: 20px;  height: 20px;}
.sprite.inputs                      { background-position: -104px -3887px; width: 18px; height: 14px;}
.sprite.api                         { background-position: -104px -3930px; width: 25px; height: 21px;}

.sprite.NOT_CERTIFIED_CHECKOUT      { background-position: -54px -2887px; width: 13px; height: 13px;}
.sprite.CERTIFICATION_IN_PROGRESS   { background-position: -54px -2934px; width: 13px; height: 16px;}
.sprite.NOT_CERTIFIED_CHECKIN       { background-position: -54px -2985px; width: 13px; height: 15px;}
.sprite.CERTIFIED                   { background-position: -54px -3034px; width: 13px; height: 16px;}
.sprite.READY_FOR_CERTIFICATION     { background-position: -49px -3087px; width: 23px; height: 16px;}

.message-DEBUG                      { background-position: -51px -3187px; width: 47px; height: 47px;}
.message-INFO                       { background-position: -51px -3187px; width: 47px; height: 47px;}
.message-WARNING                    { background-position: -51px -3187px; width: 47px; height: 47px;}
.message-ERROR                      { background-position: -51px -3187px; width: 47px; height: 47px;}

.e-sdc-small-icon-eye               { background-position: -60px -2722px; width: 20px; height: 20px;}
.e-sdc-small-icon-pencil            { background-position: -51px -3339px; width: 12px; height: 12px;}
.e-sdc-small-icon-pad               { background-position: -157px -2772px; width: 15px; height: 12px;}
.sprite.e-sdc-small-icon-trash      { background-position: -48px -300px;  width: 20px; height: 20px;}
.sprite.e-sdc-small-check           { background-position: -48px -399px;  width: 20px; height: 20px;}
.sprite.e-sdc-small-clone           { background-position: -49px -501px;  width: 20px; height: 20px;}
.sprite.e-sdc-small-print-screen    { background-position: -49px -351px;  width: 19px; height: 20px;}
.sprite.e-sdc-small-certification   { background-position: -48px -602px;  width: 20px; height: 20px;}
.sprite.e-sdc-small-download        { background-position: -51px -3390px; width: 12px; height: 11px;}
.sprite.e-sdc-cloud                 { background-position: -51px -3278px; width: 24px; height: 23px;}
.sprite.e-sdc-pencil                { background-position: -53px -2404px; width: 16px; height: 16px;}
.sprite.e-sdc-green-save            { background-position: -157px -4089px; width: 12px; height: 12px;}

/* canvas items non-certified indicator */
.s-sdc-state-non-certified          { background-position: -157px -3386px; width: 15px; height: 15px;}

/* dashboard card main icons */
.s-sdc-service                      { background-position: -60px -2654px; width: 14px; height: 17px;}
.s-sdc-resource                     { background-position: -54px -2585px; width: 16px; height: 16px;}

/* dashboard card statuses icons */
.s-sdc-state.NOT_CERTIFIED_CHECKIN              { background-position: -47px -2839px; width: 20px; height: 19px;}
.s-sdc-state.NOT_CERTIFIED_CHECKIN.green        { background-position: -70px -2839px;}
.s-sdc-state.NOT_CERTIFIED_CHECKIN.red          { background-position: -93px -2839px;}

.s-sdc-state.NOT_CERTIFIED_CHECKOUT             { background-position: -53px -2889px; width: 14px; height: 14px;}
.s-sdc-state.NOT_CERTIFIED_CHECKOUT.green       { background-position: -76px -2889px;}
.s-sdc-state.NOT_CERTIFIED_CHECKOUT.red         { background-position: -99px -2889px;}

.s-sdc-state.CERTIFIED                          { background-position: -53px -3034px; width: 14px; height: 16px;}
.s-sdc-state.CERTIFIED.green                    { background-position: -76px -3034px;}
.s-sdc-state.CERTIFIED.red                      { background-position: -99px -3034px;}

.s-sdc-state.READY_FOR_CERTIFICATION            { background-position: -53px -2985px; width: 14px; height: 16px;}
.s-sdc-state.READY_FOR_CERTIFICATION.green      { background-position: -76px -2985px;}
.s-sdc-state.READY_FOR_CERTIFICATION.red        { background-position: -99px -2985px;}

.s-sdc-state.CERTIFICATION_IN_PROGRESS          { background-position: -53px -2934px; width: 14px; height: 16px;}
.s-sdc-state.CERTIFICATION_IN_PROGRESS.green    { background-position: -76px -2934px;}
.s-sdc-state.CERTIFICATION_IN_PROGRESS.red      { background-position: -99px -2934px; }

.s-sdc-state.DISTRIBUTED                        { background-position: -43px -3087px; width: 24px; height: 14px;}
.s-sdc-state.DISTRIBUTED.green                  { background-position: -76px -3087px;}
.s-sdc-state.DISTRIBUTED.red                    { background-position: -113px -3087px;}

.sprite.e-sdc-small-blue-down-arrow             { background-position: -51px -3262px;  width: 10px; height: 7px;}
.sprite.e-sdc-small-blue-up-arrow               { background-position: -111px -3262px; width: 10px; height: 7px;}

.e-checkbox-unchecked                           { background-position:  -51px -3490px; width: 12px; height: 11px;}
.e-checkbox-checked                             { background-position: -103px -3490px; width: 12px; height: 11px;}
.e-checkbox-unchecked-disabled                  { background-position: -265px -3490px; width: 12px; height: 11px;}

/* viewer modal */
.sprite.x-btn                                   { background-position: -50px -3438px;  width: 14px; height: 13px;}
.sprite.x-btn:hover                             { background-position: -103px -3438px; width: 14px; height: 13px;}
.sprite.x-btn-white                             { background-position: -157px -3437px; width: 14px; height: 13px;}
.sprite.x-btn-white:hover                       { background-position: -211px -3438px; width: 14px; height: 13px;}
.sprite.x-btn-black                             { background-position: -52px -4041px; width: 10px; height: 11px;}
.sprite.x-btn-black:hover                       { background-position: -104px -4041px; width: 10px; height: 11px;}
.sprite.small-x-btn-black                       { background-position: -157px -4044px; width: 8px; height: 8px;}
.sprite.small-x-btn-black:hover                 { background-position: -211px -4044px; width: 8px; height: 8px;}


/* input file upload icons */
.sprite.upload-icon                             { background-position: -51px -3286px;  width: 16px; height: 15px; }
.sprite.upload-icon-hover                       { background-position: -104px -3286px; }
.sprite.uploaded                                { background-position: -143px -3283px; width: 18px; height: 18px; }
.sprite.change-file                             { background-position: -261px -3285px; width: 22px; height: 16px; }
.sprite.change-file-hover                       { background-position: -211px -3285px; }
.sprite.e-sdc-small-icon-upload                 { background-position: -104px -4188px; width: 12px; height: 13px; }

/* error messages icons */
.exclamation-mark-white-icon                    { background-position: -51px  -3990px;  width: 13px; height: 11px; }
.exclamation-mark-red-icon                      { background-position: -212px -3990px;  width: 13px; height: 11px; }
.question-message-icon-gray                     { background-position: -104px -3987px; width: 14px; height: 14px; }
.question-message-icon-white                    { background-position: -158px -3987px; width: 14px; height: 14px; }

/* wizard icons */
.sprite.table-arrow                             { background-position: -57px -4241px; width: 7px; height: 10px; }
.sprite.table-arrow.opened                      { background-position: -54px -4295px; width: 10px; height: 6px; }

.sprite-green-tick                              { background-position: -157px -3290px; width: 15px; height: 11px; }

/* tags category relation icon*/
.sprite.relation-icon                           { background-position:  -100px -4351px; width: 24px; height: 24px; }
.sprite.relation-icon-hover                      { background-position: -52px -4351px; width: 24px; height: 24px; }
