.sprite-product-icons {
    background-image: url('images/sprites/sprite-product-icons.png');
    display: inline-block;
}

.sprite-product-icons.disable               { opacity:0.5;}

.sprite-product-icons.setting               { background-position: -291px -102px;  width: 61px; height: 67px;}
.sprite-product-icons.setting.small         { background-position: -217px -142px;  width: 29px; height: 28px;}
.sprite-product-icons.setting.medium        { background-position: -148px -130px;  width: 41px; height: 40px;}
.sprite-product-icons.setting.large         { background-position: -77px -110px;  width: 60px; height: 60px;}

.sprite-product-icons.cloud                 { background-position: -290px -215px; width: 64px; height: 43px;}
.sprite-product-icons.cloud.small           { background-position: -217px -232px; width: 29px; height: 28px;}
.sprite-product-icons.cloud.medium          { background-position: -148px -220px; width: 41px; height: 40px;}
.sprite-product-icons.cloud.large           { background-position: -77px -200px; width: 60px; height: 60px;}

.sprite-product-icons.security              { background-position: -289px -293px;  width: 50px; height: 57px;}
.sprite-product-icons.security.small        { background-position: -217px -321px;  width: 29px; height: 28px;}
.sprite-product-icons.security.medium       { background-position: -148px -310px;  width: 41px; height: 40px;}
.sprite-product-icons.security.large        { background-position: -77px -290px;  width: 60px; height: 60px;}

.sprite-product-icons.network               { background-position: -290px -383px;  width: 56px; height: 57px;}
.sprite-product-icons.network.small         { background-position: -217px -411px;  width: 29px; height: 29px;}
.sprite-product-icons.network.medium        { background-position: -148px -399px;  width: 41px; height: 41px;}
.sprite-product-icons.network.large         { background-position: -77px -380px;  width: 60px; height: 60px;}

.sprite-product-icons.orphan                { background-position: -290px -478px;  width: 52px; height: 52px;}
.sprite-product-icons.orphan.small          { background-position: -217px -500px; width: 29px; height: 29px;}
.sprite-product-icons.orphan.medium         { background-position: -148px -488px; width: 41px; height: 41px;}
.sprite-product-icons.orphan.large          { background-position: -77px -470px;  width: 60px; height: 60px;}

.sprite-product-icons.defaulticon           { background-position: -290px -478px;  width: 52px; height: 52px;}
.sprite-product-icons.defaulticon.small     { background-position: -217px -500px; width: 29px; height: 29px;}
.sprite-product-icons.defaulticon.medium    { background-position: -148px -488px; width: 41px; height: 41px;}
.sprite-product-icons.defaulticon.large     { background-position: -77px -470px;  width: 60px; height: 60px;}

.sprite-product-icons.vfw                   { background-position: -289px -548px;  width: 73px; height: 73px;}
.sprite-product-icons.vfw.small             { background-position: -217px -591px;  width: 29px; height: 29px;}
.sprite-product-icons.vfw.medium            { background-position: -148px -580px;  width: 41px; height: 41px;}
.sprite-product-icons.vfw.large             { background-position: -77px -560px;  width: 60px; height: 61px;}

.sprite-product-icons.wanx                  { background-position: -290px -664px;  width: 59px; height: 47px;}
.sprite-product-icons.wanx.small            { background-position: -217px -681px;  width: 30px; height: 30px;}
.sprite-product-icons.wanx.medium           { background-position: -148px -670px;   width: 41px; height: 41px;}
.sprite-product-icons.wanx.large            { background-position: -77px -651px;  width: 60px; height: 60px;}

.sprite-product-icons.vrouter               { background-position: -289px -758px;  width: 69px; height: 43px;}
.sprite-product-icons.vrouter.small         { background-position: -217px -772px;  width: 29px; height: 29px;}
.sprite-product-icons.vrouter.medium        { background-position: -148px -760px;  width: 41px; height: 41px;}
.sprite-product-icons.vrouter.large         { background-position: -77px -741px;  width: 60px; height: 60px;}

.sprite-product-icons.ucpe                  { background-position: -289px -832px;  width: 59px; height: 60px;}
.sprite-product-icons.ucpe.small            { background-position: -217px -862px;  width: 28px; height: 29px;}
.sprite-product-icons.ucpe.medium           { background-position: -148px -849px;  width: 41px; height: 41px;}
.sprite-product-icons.ucpe.large            { background-position: -77px -831px;  width: 60px; height: 61px;}

.sprite-product-icons.mobility              { background-position: -288px -919px;  width: 64px; height: 62px;}
.sprite-product-icons.mobility.small        { background-position: -216px -952px;  width: 29px; height: 29px;}
.sprite-product-icons.mobility.medium       { background-position: -147px -940px;  width: 41px; height: 41px;}
.sprite-product-icons.mobility.large        { background-position: -76px -921px;  width: 60px; height: 60px;}

.sprite-product-icons.wanx_customer_managed         { background-position: -290px -1024px;  width: 58px; height: 62px;}
.sprite-product-icons.wanx.small_customer_managed   { background-position: -217px -1041px;  width: 30px; height: 38px;}
.sprite-product-icons.wanx.medium_customer_managed  { background-position: -148px -1030px;   width: 42px; height: 47px;}
.sprite-product-icons.wanx.large_customer_managed   { background-position: -77px -1011px;  width: 61px; height: 66px;}

.sprite-product-icons.wanx_attr_managed         { background-position: -290px -1114px;  width: 59px; height: 62px;}
.sprite-product-icons.wanx.small_att_managed   { background-position: -218px -1131px;  width: 31px; height: 36px;}
.sprite-product-icons.wanx.medium_att_managed  { background-position: -149px -1120px;   width: 42px; height: 47px;}
.sprite-product-icons.wanx.large_att_managed   { background-position: -77px -1101px;  width: 60px; height: 67px;}
