.sdc-app {
  height: 100%;

}
.flex {
  display: flex;
  flex: 1;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.content-area {
  padding: 30px 60px 70px 60px;
  overflow-y: auto;
	overflow-x: hidden;
  height: 100%;
  &.no-padding-content-area {
    padding: 0;
  }
}

.onborading-modal {
  .modal-title {
    text-transform: uppercase;
  }
}
.page-title {
  @extend .heading-1;
  @extend .text-uppercase !optional;
  margin-bottom: 20px;
  color: $blue;
}
