<div class="custom-modal {{input.size}}">
    <div class="ng2-modal-content"
        [ngDraggable]="input.isMovable"
        [handle]="ModalHandle"
        [bounds]="ModalBounds"
        [inBounds]="true"
        [preventDefaultEvent]="false">
        <div #ModalHandle
            class="ng2-modal-header modal-type-{{input.type}}"
            [ngClass]="{'movable': input.isMovable}">
            <span class="title">{{ input.title }}</span>
            <span class="close-button" (click)="close()"></span>
        </div>
        <div class="ng2-modal-body" >
            <div *ngIf="input.content">{{input.content}}</div>
            <div #dynamicContentContainer></div>
        </div>
        
        <div class="ng2-modal-footer">
            <button *ngFor="let button of input.buttons"
                    class="tlv-btn {{button.cssClass}}"
                    [disabled] = "button.getDisabled && button.getDisabled()"
                    [attr.data-tests-id] = "button.text"
                    (click) = "button.callback()">{{button.text}}</button>
        </div>
    </div>
</div>
<div #ModalBounds class="modal-background" [ngClass]="{'transparent': input.isMovable}"></div>
