.w-sdc-modal-resource-instance-name {

    .w-sdc-modal-body {
        overflow: visible;
    }

    .w-sdc-modal-action {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .w-sdc-modal-resource-instance-input {
        .p_1;
        border: solid 1px @color_p;
        height: 45px;
        padding: 0 20px;
        margin: 0 auto 0 auto;
        display: block;
    }
    .w-sdc-modal-body {
        border-bottom: none;
    }

    .w-sdc-form .i-sdc-form-item.error::after {
        top: 13px;
    }

}
