<div class="service-dependencies-editor">
    <form class="w-sdc-form">

        <loader [display]="isLoading" [size]="'large'" [relative]="true"></loader>

        <div class="i-sdc-form-content">
            <div class="rule-builder-content">
                <div class="i-sdc-form-item rule-input-field property">
                    <label class="i-sdc-form-label required">{{currentServiceName}} Property</label>
                    <ui-element-dropdown
                            class="i-sdc-form-select"
                            data-tests-id="servicePropertyName"
                            [values]="ddValueSelectedServicePropertiesNames"
                            [(value)]="currentRule.servicePropertyName"
                            (change)="onServicePropertyChanged()">
                    </ui-element-dropdown>
                </div>

                <div class="i-sdc-form-item rule-input-field operator">
                    <ui-element-dropdown class="i-sdc-form-select" data-tests-id="constraintOperator" [values]="operatorTypes" [(value)]="currentRule.constraintOperator"></ui-element-dropdown>
                </div>
            </div>
            <div class="rule-builder-content">
                <div class="i-sdc-form-item">
                    <label class="i-sdc-form-label required">Value Type</label>
                    <input type="radio" name="sourceType"
                           data-tests-id="value-type-static"
                           [(ngModel)]="selectedSourceType"
                           [value]="SOURCE_TYPES.STATIC.value"
                           (ngModelChange)="onSourceTypeChange()"/> {{SOURCE_TYPES.STATIC.label}}
                    <input type="radio" name="sourceType"
                           data-tests-id="value-type-tosca-function"
                           [(ngModel)]="selectedSourceType"
                           [value]="SOURCE_TYPES.TOSCA_FUNCTION.value"
                           (ngModelChange)="onSourceTypeChange()"/> {{SOURCE_TYPES.TOSCA_FUNCTION.label}}
                </div>
            </div>
            <div class="rule-builder-content" *ngIf="isToscaFunctionSource() && selectedProperty">
                <div class="i-sdc-form-item rule-input-field">
                    <tosca-function [property]="selectedProperty"
                                    [componentInstanceMap]="componentInstanceMap"
                                    [allowClear]="false"
                                    (onValidityChange)="onToscaFunctionValidityChange($event)"
                    >
                    </tosca-function>
                </div>
            </div>
            <div *ngIf="isToscaFunctionSource() && !selectedProperty">
                {{"NODE_FILTER_SELECT_PROPERTY" | translate}}
            </div>
            <div class="rule-builder-content" *ngIf="isStaticSource()">
                <div class="i-sdc-form-item rule-input-field complex-input-field">
                    <dynamic-property
                        *ngIf="isComplexListMapType()"
                        [selectedPropertyId]="selectedProperty.uniqueId"
                        [property]="selectedProperty"
                        [expandedChildId]="selectedProperty.expandedChildPropertyId ?
                                selectedProperty.expandedChildPropertyId : selectedProperty.name"
                        [canBeDeclared]="true"
                        (propertyChanged)="updateComplexListMapTypeRuleValue()"
                        [rootProperty]="selectedProperty"
                        (expandChild)="selectedProperty.updateExpandedChildPropertyId($event)">
                    </dynamic-property>
                    <dynamic-element
                        *ngIf="!isComplexListMapType()"
                        [(value)]="currentRule.value"
                        class="rule-assigned-value"
                        data-tests-id="ruleAssignedValue"
                        (elementChanged)="onValueChange($event.isValid)"
                        [type]="selectedProperty ? selectedProperty.type : 'string'">
                    </dynamic-element>
                </div>
            </div>
        </div>
    </form>
</div>
