<div class="service-dependencies-editor">
    <form class="w-sdc-form">

        <loader [display]="isLoading" [size]="'large'" [relative]="true"></loader>

        <div class="i-sdc-form-content">
            <div class="rule-builder-content">
                <div class="i-sdc-form-item rule-input-field">
                    <label class="i-sdc-form-label required">{{currentServiceName}} Property</label>
                    <ui-element-dropdown
                            class="i-sdc-form-select"
                            data-tests-id="servicePropertyName"
                            [values]="ddValueSelectedServicePropertiesNames"
                            [(value)]="currentRule.servicePropertyName"
                            (change)="onServicePropertyChanged()">
                    </ui-element-dropdown>
                </div>

                <div class="i-sdc-form-item rule-input-field operator">
                    <ui-element-dropdown class="i-sdc-form-select" data-tests-id="constraintOperator" [values]="operatorTypes" [(value)]="currentRule.constraintOperator"></ui-element-dropdown>
                </div>

                <div class="i-sdc-form-item rule-input-field">
                    <label class="i-sdc-form-label required">Function Type</label>
                    <ui-element-dropdown class="i-sdc-form-select" data-tests-id="functionType" [values]="functionTypes" [(value)]="currentRule.sourceType" (elementChanged)="onSelectFunctionType($event.value)"></ui-element-dropdown>
                </div>

                <div class="i-sdc-form-item rule-input-field" *ngIf="isPropertyFunctionSelected()">
                    <label class="i-sdc-form-label required">Source</label>
                    <input class="i-sdc-form-select" data-tests-id="sourceType" [disabled]="true" [(value)]="currentRule.sourceName" type="text">
                </div>

                <div  [ngClass]="isComplexListMapType() && isStaticSource() ? 'complex-input-field' : ''"
                      class="i-sdc-form-item rule-input-field">
                    <label class="i-sdc-form-label required">{{assignedValueLabel}}</label>
                    <dynamic-property
                        *ngIf="isStaticSource() && isComplexListMapType()"
                        [selectedPropertyId]="selectedPropertyObj.uniqueId"
                        [property]="selectedPropertyObj"
                        [expandedChildId]="selectedPropertyObj.expandedChildPropertyId ?
                            selectedPropertyObj.expandedChildPropertyId : selectedPropertyObj.name"
                        [canBeDeclared]="true"
                        (propertyChanged)="updateComplexListMapTypeRuleValue()"
                        [rootProperty]="selectedPropertyObj"
                        (expandChild)="selectedPropertyObj.updateExpandedChildPropertyId($event)">
                    </dynamic-property>
                    <dynamic-element
                            *ngIf="isStaticSource() && !isComplexListMapType()"
                            value="{{currentRule.value | json}}"
                            class="rule-assigned-value"
                            data-tests-id="ruleAssignedValue"
                            (elementChanged)="onValueChange($event.isValid)"
                            [type]="selectedPropertyObj ? selectedPropertyObj.type : 'string'">
                    </dynamic-element>
                    <ui-element-dropdown *ngIf="!isStaticSource()"
                                         class="i-sdc-form-select"
                                         data-tests-id="ruleAssignedValue"
                                         [(value)]="currentRule.value"
                                         [values]="listOfValuesToAssign">
                    </ui-element-dropdown>
                </div>
            </div>
        </div>
    </form>

</div>
