<div class="component-add-element">
    <div class="add-element-selection-container">
        <sdc-dropdown class="add-element-selection" selectedOption="selectedElement" placeHolder="Please choose option"
                      (changed)="onElementSelected($event)" [options]="dropdownOptions"></sdc-dropdown>
        <svg-icon-label class="add-element-button" [class.disabled]="!selectedElement"
                        name="plus-circle-o"
                        mode="primary"
                        size="medium"
                        label="ADD"
                        labelPlacement="right"
                        clickable="{{!!selectedElement}}"
                        (click)="addElement()">
        </svg-icon-label>
    </div>

    <div class="elements-list">
        <ul>
            <li *ngFor="let element of existingElements" class="elements-list-item">
                <span>{{element.name}}</span>
                <svg-icon-label name="trash-o" clickable="true" size="small" class="elements-list-item-delete"
                                data-tests-id="delete_target" (click)="removeElement(element)"></svg-icon-label>
            </li>
        </ul>
        <div *ngIf="existingElements.length===0" class="add-element-no-data">
            <div class="add-element-no-data-title">No {{elementName}} have been added yet.</div>
            <div class="add-element-no-data-content">Begin typing or select {{elementName}} above</div>
        </div>
    </div>

</div>