.workspace-req-and-cap {

    width: 93%;
    display: inline-block;

    .tabs{
        float: left;
        position: relative;
        top: 6px;
        button{
            float: left;
            width: 233px;
            height: 38px;
            background-color: @tlv_color_t;
            border: 1px solid @main_color_o;
            color: black;
            &:nth-child(1){
                border-radius: 10px 0 0 0;
            }
            &:nth-child(2){
                border-radius: 0 10px 0 0;
            }
            &.selected{
                background-color: @main_color_a;
                border: 1px solid @main_color_a;
                color: white;
            }
        }
    }
    .search{
        margin-bottom: 12px;
        float: right;
        ::-webkit-input-placeholder {
            font-style: italic;
        }
        :-moz-placeholder {
            font-style: italic;
        }
        ::-moz-placeholder {
            font-style: italic;
        }
        :-ms-input-placeholder {
            font-style: italic;
        }
        #search-box{
             -webkit-border-radius: 2px 0 0 2px;
             -moz-border-radius: 2px 0 0 2px;
             border-radius: 2px 0 0 2px;
             width: 213px;
             height: 32px;
             line-height: 32px;
             border: 1px solid @main_color_o;
             text-indent: 10px;
             float: left;
        }
        .search-icon-container{
            background-color: @main_color_a;
            height: 32px;
            width: 32px;
            border-radius: 0 2px 2px 0;
            float: left;
            .search-icon{
                position: relative;
                top: 9px;
            }
        }
    }
  .add-button {
    color: @main_color_a;
  }
  .add-button, .expand-collapse-buttons {
        float: right;
        margin-left: 11px;
        margin-top: 10px;
    &, span {
            .hand;
        }
    }



    .table{
        height:490px;
        margin-bottom: 0;
    }

    .arrow-up-small{
        &.opened{
            .arrow-up-small-hover;
        }
    }

    .item-opened{
        background-color: @tlv_color_t;
    }

    .properties-title{
        margin:0;
        font-weight: bold;
    }

    .table-container-flex {
        margin-top: 10px;

        .text{
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
        }

      .editable-table-data {
        max-height: 430px;
      }

      .data-row {
        &:not(.editable-row) {
          background: @tlv_color_t;
          color: @main_color_n;
        }
        &.editable-row {
          cursor: pointer;
        }
        .sprite-new.delete-icon {
          visibility: hidden;
        }
        &:hover {
          .sprite-new.delete-icon {
            visibility: visible;
          }
        }
      }

        &.requirements-table{
            border-top: 4px solid @main_color_a;
            .flex-item:nth-child(1) {
                flex-grow: 20;
            }

            .flex-item:nth-child(2) {
                flex-grow: 20;
            }

            .flex-item:nth-child(3) {
                flex-grow: 20;
            }

            .flex-item:nth-child(4) {
                flex-grow: 20;
            }

            .flex-item:nth-child(5) {
                flex-grow: 20;
            }

            .flex-item:nth-child(6) {
                flex-grow: 20;
            }
        }

        &.capabilities-table{
            border-top: 4px solid @main_color_a;
            .selected{
                .flex-item:nth-child(1) {
                    border-left: 4px solid @main_color_a;
                    padding-right: 11px;
                }
            }
            .flex-item:nth-child(1) {
                flex-grow: 10;
            }

            .flex-item:nth-child(2) {
                flex-grow: 10;
            }

            .flex-item:nth-child(3) {
                flex-grow: 10;
            }

            .flex-item:nth-child(4) {
                flex-grow: 10;
            }

            .flex-item:nth-child(5) {
                flex-grow: 10;
            }

        }

        &.properties-table{
            .table{
                height: auto;
            }

            .flex-item:nth-child(1) {
                flex-grow: 15;
                a{
                    .hand
                }
            }

            .flex-item:nth-child(2) {
                flex-grow: 6;
            }

            .flex-item:nth-child(3) {
                flex-grow: 6;
            }

            .flex-item:nth-child(4) {
                flex-grow: 20;

            }
        }

    }

}

.workspace-req-and-cap-editable {
  .tabs-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid @main_color_o;
    .req-and-cap-tabs {
      display: flex;
      .tab {
        font-family: @font-opensans-regular;
        font-size: 22px;
        padding: 5px;
        .hand;
        &:first-of-type {
          margin-right: 35px;
        }
        &.selected {
          color: @main_color_a;
          border-bottom: 2px solid @main_color_a;
        }
      }
    }
    .buttons-in-right {
      display: flex;
      .search {
        display: flex;
        height: min-content;
        margin-top: 10px;
        padding-right: 11px;
        border-right: 1px solid @main_color_o;
        #search-box {
          border: none;
          border-bottom: 1px solid @main_color_o;
          text-indent: 10px;
          &:focus {
            outline: none;
          }
        }
        .search-icon-container {
          margin-top: 3px;
          padding-top: 4px;
        }

      }
      .add-button-icon-and-label {
        font-size: 14px;
        margin-left: 11px;
        margin-top: 10px;
        padding-top: 5px;
        /deep/ svg-icon {
          vertical-align: bottom;
        }
        &:hover {
          &:not(.disabled) {
            cursor: pointer;
            color: @sdcui_color_light-blue;
          }
        }
      }
    }
  }
  .add-button-icon-and-label {
    .icon-label-txt {
      text-transform: uppercase;
      font-family: @font-opensans-medium;
      color: @main_color_a;
      &:hover {
        &:not(.disabled) {
          color: @sdcui_color_light-blue;
        }
      }
    }
  }
  .empty-list-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .empty-list-add-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid @main_color_o;
      margin-top: 50px;
      height: 229px;
      width: 480px;
      &.disabled {
        pointer-events: none;
      }
      &:hover {
        &:not(.disabled) {
          border: 1px solid @main_color_a;
          cursor: pointer;
        }
      }
      .icon-label-txt {
        margin-top: 15px;
        font-size: 16px;
      }
    }
  }
  .table-container-flex .table {
    .head .head-row {
      text-align: left;
      &.description {
        flex: 2;
      }
      &.other {
        flex: 0.25;
        text-align: center;
      }
      &.occurrences {
        flex: 0.75;
      }
    }
    .body .data-row {
      border-bottom: none;
      border-top: @main_color_o solid 1px;
      .ellipsis-text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:not(.editable-row) {
        background-color: @tlv_color_t;
        cursor: default;
        color: @main_color_n;
      }
      &.editable-row {
        cursor: pointer;
        .table-col-general:hover {
          color: @main_color_b;
        }
      }
      &.selected {
        background-color: @tlv_color_v;
        .name-col {
          color: @main_color_a;
        }
        .sprite-new.arrow-up-small {
          background-position: -858px -137px;
          margin-bottom: 2px;
        }
      }
      .description-col {
        flex: 2;
      }
      .occurrences-col {
        flex: 0.75;
      }
      .other-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.25;
        .trash-icon {
          visibility: hidden;
        }
      }
      &:hover {
        .trash-icon {
          visibility: visible;
        }
      }
      .multiline-ellipsis {
        line-height: 1.5em;
        padding: 1px 0 1px 0;
        /deep/ .ellipsis-directive-more-less {
          float: none;
          margin-left: 5px;
          color: @main_color_a;
        }
      }
    }
  }

  .item-opened.properties-section {
    border: 4px solid @tlv_color_v !important;
    max-height: 263px;
    overflow: auto;
    .properties-title {
      .s_10;
      margin-top: 10px;
    }
    .properties-table {
      &.table-container-flex {
        margin-top: 18px;
      }
      .table {
        .head {
          border-bottom: 1px solid @main_color_o;
        }
        .head, .table-col-general {
          background-color: @main_color_p;
        }
      }
    }
  }
}