
.footer-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    font-family: "Arial";
    font-size: 11px;
    height: @footer_height;
}

.footer-wrapper a {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.divider-footer-bottom {
    margin: 0 auto;
    width: 1020px;
}

.footer-copyright-text {
    display: inline-block;
    width:612px;
    margin-top: 18px;
    margin-left: 50px;
    text-align: left;
    vertical-align: top;
}

.footer-logo1 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 124px;
}

.footer-logo2 {
    margin-top: 22px;
    margin-left: 9px;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
}
