.customized-date-picker {
	margin-bottom: 24px;
	.date-picker-label {
		&.required {
			&:before {
				content: "*";
				color: $red;
				margin: 0 4px 0 0;
			}
		}

		@extend .body-2-semibold;
		color: $dark-gray;
		margin-bottom: 8px;
	}
	.datepicker-custom-input {
		display: flex;
		justify-content: space-between;
		width: 243px;
		height: 30px;
		border-radius: 2px;
		color: $dark-gray;
		border: 1px solid $light-gray;
		padding: 6px 12px;
		&:hover {
			border-color: $gray;
			.clear-input {
				&:before {
					cursor: pointer;
					content: 'x';
				}
			}
		}
		.datepicker-text {
			cursor: pointer;
			width: 170px;
			@extend .body-1;
			&.placeholder {
				color: $light-gray;
			}

		}
		.calendar-input {
			fill: $light-gray;
		}
	}



}

