.dual-list-box {
  display: flex;
  margin: 25px 0 10px 0;
	.svg-icon.search {
		height: 14px;
		width: 14px;
	}

  .dual-search-multi-select-section {
    flex: 1;

    .dual-text-box-search {
      margin: 5px 0 30px 0;
    }
    .dual-list-box-multi-select {
      flex: 1 1;
      display: flex;
      height: 166px;
      margin-bottom: 0;
      select {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        height: inherit;
        option {
          padding: 4px 0 4px 10px;
        }
      }
      option:checked {
        background: $blue linear-gradient(0deg, $blue 0%, $blue 100%);
      }
    }
  }
  .dual-list-options-bar {
    margin: 62px 54px 27px 54px;
    padding-top: 23px;
		.svg-icon {
			width: 14px;
			height: 14px;
		}
    .dual-list-option {
      text-align: center;
      line-height: 10px;
      font-size: 25px;
      width: 20px;
      height: 15px;
      cursor: pointer;
      margin-top: 20px;
      fill: $blue;
    }
  }
}
