.onboarding-overlay {
  z-index: 1000;
  border: 1px solid $light-gray;
  position: absolute;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: -86px;
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background-color: transparent;
    border-bottom: 5px solid $blue;
    margin-left: 114px;
    margin-top: -5px;
  }
  .arrow-border {
    border-top: 5px solid $blue;
  }
}