
.slide-panel {
  transition: left .5s,right .5s;

  .slide-panel-header {
    padding: 10px;
    height: 45px;
    display: table;
    width: 100%;
    .slide-panel-header-title, .collapse-double-icon {
      display: table-cell;
      vertical-align: middle;
    }
    .slide-panel-header-title {
      @extend .body-2;
      text-align: center;
      width: 100%;
      color: $text-black;
    }
    .collapse-double-icon {
      color: $text-black;
      cursor: pointer;
    }
  }

  .slide-panel-content {
    opacity: 1;
    transition: opacity .5s, visibility .5s;

    &.closed {
      opacity: 0;
      visibility: hidden;
    }
  }
}
