@mixin overrideBootstrapClose(){
	opacity: 1;
	float: none;
	&:hover {
		opacity: 1;
	}
}

.svg-icon-wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&.bottom {
		flex-direction: column;
		.svg-icon-label {
			margin-bottom: 5px;
		}
	}
	&.right {
		float: none;
		.svg-icon-label {
			margin-left: 5px;
		}
	}
	&.top {
		flex-direction: column-reverse;;
		.svg-icon-label {
			margin-top: 5px;
		}
	}
	&.left {
		flex-direction: row-reverse;;
		.svg-icon-label {
			margin-right: 5px;
		}
	}
	// bootstrap override
	&.close {
		@include overrideBootstrapClose();
	}
	.close {
	@include overrideBootstrapClose();
	}
	.svg-icon {
		width: 20px;
		height: 20px;
	}
	.svg-icon-label {
		@extend .body-1;
	}
}
