.version-controller-bar {
  display: flex;
  min-height: 57px;
  border-bottom: 1px solid $tlv-light-gray;
  background-color: transparent;
  .vc-container {
    display: flex;
    flex: 1;
    align-self: center;
    background-color: transparent;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 40px;
    .version-status-container {
      display: flex;
      height: 30px;
      .version-selector {
        border: none;
        margin-top: 7px;
        padding-right: 10px;
        margin-right: 15px;
        margin-left: 10px;
        @extend .body-1;
      }
      .version-section {
        .form-group {
          margin-right: 20px;
          .input-options {
            border: none;
            .input-options-select {
              padding-top: 4px;
            }
          }
        }
      }
      .vc-status {
        display: flex;
        padding-left: 20px;
        border-left: $light-gray thin solid;
        .status-text {
          align-self: center;
          margin-top: 2px;
          @extend .heading-5;
          color: $dark-gray;
        }
      }
    }
    .save-submit-cancel-container {
      display: flex;
      height: 30px;
      .action-buttons {
        display: flex;
        padding: 0 13px;
        .version-control-buttons {
          display: flex;
        }
        .action-buttons-svg {
          padding-top: 5px;
          margin-right: 20px;
          padding-bottom: 5px;

          .versionControllerLockClosed {
            fill: $dark-gray;
            width: 21px;
            height: 23px;
            margin-top: -3px;
            &.disabled {
              fill: $light-gray;
            }
            &:hover {
              fill: $black;
            }
          }
          .versionControllerLockOpen {
            fill: $dark-gray;
            width: 24px;
            height: 28px;
            margin-top: -6px;
            &:hover {
              fill: $black;
            }
          }
          .versionControllerSubmit {
            fill: $blue;
            &.disabled {
              fill: $light-gray;
            }
            &:hover {
              fill: $dark-blue;
            }
          }

          .versionControllerRevert {
            fill: $dark-gray;
            &.disabled {
              fill: $light-gray;
            }
            &:hover {
              fill: $black;
            }
          }
          .versionControllerSave {
            fill: $dark-gray;
            &.disabled {
              fill: $light-gray;
            }
            &:hover {
              fill: $black;
            }
          }
        }
      }
      .vc-nav-item-close {
        display: flex;
        padding-left: 18px;
        padding-top: 3px;
        align-self: center;
        @extend .body-1;
        color: $gray;
        cursor: pointer;
        border-left: $gray thin solid;
      }
    }
  }
}
