<div class="top-progress">

    <!--======================= Top progress var =======================-->
    <div data-ng-if="progressValue>0 && progressValue<100">
        <span class="sdc-progress-title">{{progressMessage}}<span class="progress-percentage">{{progressValue}}&nbsp;%</span></span>
        <div class="sdc-progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{progressValue}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: progressValue+'%'}"></div>
        </div>
    </div>

    <div class="sdc-progress-success-wrapper" data-ng-if="progressValue===100">
        <span class="sdc-progress-success"></span>
        <span class="sdc-progress-success-title">{{progressMessage}}</span>
    </div>

    <div class="sdc-progress-error-wrapper" data-ng-if="progressValue===-1">
        <span class="sdc-progress-error"></span>
        <span class="sdc-progress-error-title">{{progressMessage}}</span>
    </div>
    <!--======================= Top progress var =======================-->

</div>
