<nav class="top-nav">

    <div class="asdc-app-title-wrapper">
        <a class="asdc-app-title" translate="PROJECT_TITLE"></a>
        <div class="asdc-version"> v.{{version}}</div>
    </div>

    <ul class="top-menu" data-ng-show="!menuModel">
        <!-- no hierarchy & dropdowns mode -->
        <li data-ng-repeat="item in topLvlMenu.menuItems"
            data-ng-class="{'selected': $index == topLvlMenu.selectedIndex}">
            <a data-ng-click="menuItemClick(topLvlMenu, item)"
               data-tests-id="main-menu-button-{{item.text | lowercase}}">{{item.text}}</a>
        </li>
    </ul>

    <ul class="top-menu" data-ng-show="menuModel">
        <!-- with hierarchy & dropdowns mode -->
        <li data-ng-repeat-start="groupItem in menuModel"
            data-ng-class="{'selected': $last }">
            <a data-ng-click="menuItemClick(groupItem, groupItem.menuItems[groupItem.selectedIndex])"
               data-tests-id="breadcrumbs-button-{{$index}}">
                {{groupItem.menuItems[groupItem.selectedIndex].text}}
            </a>
        </li>
        <li data-ng-repeat-end="" class="triangle-dropdown"
            data-ng-class="{'item-click': groupItem.itemClick}" data-ng-mouseover="groupItem.itemClick = true">
            <div class="triangle"><span class="sprite-new arrow-right"></span></div>
            <perfect-scrollbar scroll-y-margin-offset="15" include-padding="true">
                <ul>
                    <li data-ng-repeat="ddItem in groupItem.menuItems"
                        data-ng-click="menuItemClick(groupItem, ddItem)"
                        data-ng-class="{'selected': $index == groupItem.selectedIndex, 'disabled': ddItem.isDisabled}"
                        data-tests-id="sub-menu-button-{{ddItem.text | lowercase}}">
                        <span sdc-smart-tooltip="">{{ddItem.text}}</span>
                    </li>
                </ul>
            </perfect-scrollbar>
        </li>
    </ul>

    <div class="top-search" data-ng-hide="hideSearch === true">
        <input type="text"
               class="search-text"
               placeholder="Search"
               data-ng-model="searchBind"
               data-tests-id="main-menu-input-search"
               ng-model-options="{ debounce: 500 }" />
        <span class="w-sdc-search-icon magnification"></span>
    </div>

    <div class="notification-icon"  data-ng-disabled= "progress > 0" data-ng-class="{'disabled' : progress > 0}" data-ng-if="user.role === 'DESIGNER' && notificationIconCallback" data-ng-click="notificationIconCallback()" tooltips tooltip-side="left" tooltip-content="Vendor Software Product Repository" data-tests-id="repository-icon"></div>

</nav>
