<sdc-modal modal="modalInstanceProperty" type="classic" class="sdc-add-property" buttons="footerButtons" header="{{isNew ? 'Add' : 'Update' }} Property" show-close-button="true">

    <form novalidate class="w-sdc-form two-columns" name="forms.editForm" >

        <div class="w-sdc-form-columns-wrapper">

            <div class="w-sdc-form-column">

            <div class="i-sdc-form-item" data-ng-class="{error:(forms.editForm.propertyName.$dirty && forms.editForm.propertyName.$invalid)}">
                <label class="i-sdc-form-label" ng-class="{'required': !isService}">Name</label>
                <input class="i-sdc-form-input"
                       data-ng-maxlength="50"
                       data-ng-disabled="!isNew || editPropertyModel.property.readonly"
                       maxlength="50"
                       data-ng-model="editPropertyModel.property.name"
                       type="text"
                       name="propertyName"
                       data-ng-pattern="propertyNameValidationPattern"
                       data-required
                       data-ng-model-options="{ debounce: 200 }"
                       data-tests-id="propertyName"
                       autofocus />

                <div class="input-error" data-ng-show="forms.editForm.propertyName.$dirty && forms.editForm.propertyName.$invalid">
                    <span ng-show="forms.editForm.propertyName.$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Property name' }"></span>
                    <span ng-show="forms.editForm.propertyName.$error.maxlength" translate="VALIDATION_ERROR_MAX_LENGTH" translate-values="{'max': '128' }"></span>
                    <span ng-show="forms.editForm.propertyName.$error.pattern" translate="VALIDATION_ERROR_SPECIAL_CHARS_NOT_ALLOWED"></span>
                </div>
            </div>


            <div class="i-sdc-form-item" data-ng-class="{error:(forms.editForm.schemaType.$dirty && forms.editForm.schemaType.$invalid)}"
                data-ng-if="showSchema()">
                <label class="i-sdc-form-label required">Entry Schema</label>
                <select class="i-sdc-form-select"
                        data-required
                        name="schemaType"
                        data-tests-id="schemaType"
                        data-ng-change="onTypeChange(false)"
                        data-ng-model="editPropertyModel.property.schema.property.type"
                        data-ng-options="type for type in editPropertyModel.simpleTypes">
                    <option value="">Choose Schema Type</option>
                </select>

                <div class="input-error" data-ng-show="forms.editForm.schemaType.$dirty && forms.editForm.schemaType.$invalid">
                    <span ng-show="forms.editForm.schemaType.$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Entry schema' }"></span>
                </div>
            </div>


            <div class="i-sdc-form-item" data-ng-class="{error:(forms.editForm.value.$dirty && forms.editForm.value.$invalid)}">
                <label class="i-sdc-form-label">Default Value</label>
                <input class="i-sdc-form-input"
                       ng-if="!(editPropertyModel.property.type == 'boolean')"
                       data-ng-maxlength="100"
                       data-ng-disableddddddd="editPropertyModel.property.readonly && !isService  && !isPropertyValueOwner()"
                       maxlength="100"
                       data-ng-model="editPropertyModel.property.defaultValue"
                       type="text"
                       name="value"
                       data-custom-validation="" data-validation-func="validateUniqueKeys"
                       data-ng-pattern="getValidation()"
                       data-ng-model-options="{ debounce: 200 }"
                       data-ng-change="!forms.editForm.value.$error.pattern && ('integer'==editPropertyModel.property.type && forms.editForm.value.$setValidity('pattern', validateIntRange(editPropertyModel.property.defaultValue)) || onValueChange())"
                       data-tests-id="defaultValue"
                       autofocus />
                <select class="i-sdc-form-select"
                        ng-if="editPropertyModel.property.type == 'boolean'"
                        data-ng-disabled="editPropertyModel.property.readonly  && !isPropertyValueOwner()"
                        name="value"
                        data-ng-change="onValueChange()"
                        data-ng-model="editPropertyModel.property.defaultValue">
                    <option value=""></option>
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>

                <div class="input-error" data-ng-show="forms.editForm.value.$dirty && forms.editForm.value.$invalid">
                    <span ng-show="forms.editForm.value.$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Property' }"></span>
                    <span ng-show="forms.editForm.value.$error.maxlength" translate="VALIDATION_ERROR_MAX_LENGTH" translate-values="{'max': '100' }"></span>
                    <span ng-show="forms.editForm.value.$error.pattern" translate="{{getValidationTranslate()}}"></span>
                    <span ng-show="forms.editForm.value.$error.customValidation" translate="PROPERTY_EDIT_MAP_UNIQUE_KEYS"></span>
                </div>
            </div>

        </div>

        <div class="w-sdc-form-column">

            <div class="i-sdc-form-item"  data-ng-class="{error:(forms.editForm.type.$dirty && forms.editForm.type.$invalid)}">
                <label class="i-sdc-form-label" ng-class="{'required': !isService}">Type</label>
                <select class="i-sdc-form-select"
                        data-required
                        data-ng-disableddddddd="editPropertyModel.property.readonly"
                        data-tests-id="propertyType"
                        name="type"
                        data-ng-change="onTypeChange(true)"
                        data-ng-model="editPropertyModel.property.type"
                        data-ng-options="type for type in editPropertyModel.types">
                    <option value="">Choose Type</option>
                </select>

                <div class="input-error" data-ng-show="forms.editForm.type.$dirty && forms.editForm.type.$invalid">
                    <span ng-show="forms.editForm.type.$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Type' }"></span>
                </div>
            </div>

            <div class="i-sdc-form-item" data-ng-class="{error:(forms.editForm.description.$dirty && forms.editForm.description.$invalid)}">
                <label class="i-sdc-form-label">Description</label>
              <textarea  class="i-sdc-form-textarea"
                         data-ng-maxlength="256"
                         data-ng-disableddddddd="editPropertyModel.property.readonly"
                         maxlength="256"
                         data-ng-pattern="commentValidationPattern"
                         name="description"
                         data-ng-model="editPropertyModel.property.description"
                         data-ng-model-options="{ debounce: 200 }"
                         data-tests-id="description"
                  ></textarea>

                <div class="input-error" data-ng-show="forms.editForm.description.$dirty && forms.editForm.description.$invalid">
                    <span ng-show="forms.editForm.description.$error.maxlength" translate="VALIDATION_ERROR_MAX_LENGTH" translate-values="{'max': '256' }"></span>
                    <span ng-show="forms.editForm.description.$error.pattern" translate="VALIDATION_ERROR_SPECIAL_CHARS_NOT_ALLOWED"></span>
                    <span ng-show="forms.editForm.description.$error.required" translate="VALIDATION_ERROR_REQUIRED" translate-values="{'field': 'Description' }"></span>
                </div>
            </div>

            </div>

        </div>
    </form>

</sdc-modal>
