<div class="sdc-page-scroller">

    <nav data-ng-if="showNav!==false" class="welcome-nav">
        <div data-ng-if="showCloseButton===true" data-ng-click="onCloseButtonClick()" class="asdc-welcome-close"></div>
        <ul>
            <li data-ng-repeat="slide in slidesData | orderBy:'+position'"><a href="#{{slide.id}}" data-ng-click="onNavButtonClick(slide)" class=""></a></li>
        </ul>
    </nav>

    <div class="nav-previous-next" data-ng-if="showPreviousNext===true">
        <span class="go-prev" data-ng-click="goToPrevSlide()">previous slide</span>
        <span class="go-next" data-ng-click="goToNextSlide()">next slide</span>
    </div>

    <div class="slides-container">
        <section data-ng-repeat="slide in slidesData | orderBy:'+position'" class="slide" id="{{slide.id}}" on-last-repeat>
            <ng-include src="slide.url"></ng-include>
        </section>
    </div>

</div>

