:host ::ng-deep {
    .datatable-row-detail {
       width: 1260px;
      }
      .datatable-body-row {
        cursor: pointer;
    }
}
.expand-collapse-all-rows {
    position: absolute;
    top: 172px;
    left: 890px;
}
.properties-title {
    padding-bottom: 10px;
}