@import './../../../../../../../assets/styles/variables.less';
.remove {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    padding: 0;
}

/deep/ .link-selector {
    select {
        height: 30px;
        border: none;
        stroke: none;
    }

}


