/* Fonts */

$base-font-regular: omnes-regular, Arial, sans-serif;
$base-font-light: omnes-light, Arial, sans-serif;
$base-font-medium: omnes-medium, Arial, sans-serif;
$base-font-bold: omnes-bold, Arial, sans-serif;
