/* Fonts */

$base-font-regular: OpenSans, OpenSans-Regular, 'Open Sans',omnes-regular, Arial, sans-serif;
$base-font-light: OpenSans-Light, 'Open Sans', omnes-light, Arial, sans-serif;
$base-font-medium: OpenSans-Semibold, 'Open Sans', omnes-medium, Arial, sans-serif;
$base-font-bold: OpenSans-Bold, 'Open Sans', omnes-bold, Arial, sans-serif;
