.catalog-filter {
    .catalog-filter-by-vendor-view {
        margin-left: 18px;
        margin-right: 18px;
    }
    .empty-block {
        height: 34px;
        width: 100%;
    }
    .catalog-filter-items-type {
        width: 100%;
        background-color: $tlv-light-gray;
        height: 34px;
        color: $blue;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .sdc-accordion {
        padding-left: 18px;
        padding-right: 18px;
    }
    .first-line {
        margin-top: 40px;
    }
}
