<div class="icons-step" data-ng-controller="Sdc.ViewModels.Wizard.IconsStepViewModel">

    <form novalidate class="w-sdc-form" name="iconForm">
        <label class="i-sdc-form-label icons-label required">Icons</label>
        <div class="selected-icon-container">
            <div class="i-sdc-form-item-suggested-icon medium selected-icon {{iconSprite}} {{component.icon}}"
                 ng-model="component.icon"
                 tooltips tooltip-content='{{component.icon | translate}}'
                >
            </div>
        </div>

        <label class="i-sdc-form-label icons-label required">Select one of the icons below for the asset</label>
        <div class="i-sdc-form-item suggested-icons-container">
          <div class ="suggested-icon-wrapper" ng-class="component.icon==='{{iconSrc}}' ? 'selected' : '' "  data-ng-repeat="iconSrc in icons track by $index">
              <div class="i-sdc-form-item-suggested-icon  medium {{iconSprite}} {{iconSrc}}" data-ng-class="component.isAlreadyCertified()? 'disable':'hand'"
                 ng-model="component.icon"
                 data-tests-id="{{iconSrc}} iconBox"
                 data-ng-click="!component.isAlreadyCertified() && setComponentIcon(iconSrc)"
                 tooltips tooltip-content='{{iconSrc | translate}}'
                >
            </div>
          </div>
        </div>
    </form>
</div>
