uebServers:
   - uebsb91sfdc.it.att.com
   - uebsb92sfdc.it.att.com
   - uebsb93sfdc.it.att.com

# prev Kansas City Sandbox uebPublicKey: 8F3MDAtMSBwwpSMy 
uebPublicKey: sSJc5qiBnKy2qrlc

# prev Kansas City Sandbox uebSecretKey: gzFmsTxSCtO5RQfAccM6PqqX
uebSecretKey: 4ZRPzNJfEUK0sSNBvccd2m7X

distributionNotifTopicName: ASDC-DISTR-NOTIF-TOPIC
distributionStatusTopicName: ASDC-DISTR-STATUS-TOPIC

kafkaBootStrapServers: kafka-bootstrap:9092

initRetryIntervalSec: 5
initMaxIntervalSec: 60

distribNotifServiceArtifactTypes:
  info:
      - MURANO-PKG

distribNotifResourceArtifactTypes:
  lifecycle:
      - HEAT
      - DG-XML

environments:
   - PROD_TEST

distributionStatusTopic:
   pollingIntervalSec: 60
   fetchTimeSec: 15
   consumerGroup: asdc
   consumerId: asdc-id

distributionNotificationTopic:
   minThreadPoolSize: 0
   maxThreadPoolSize: 10
   maxWaitingAfterSendingSeconds: 5


createTopic:
   partitionCount: 1
   replicationCount: 1

startDistributionEngine: true

useHttpsWithDmaap: true
   
opEnvRecoveryIntervalSec: 180
allowedTimeBeforeStaleSec: 300

aaiConfig:
   httpRequestConfig:
      serverRootUrl: https://aai-uint3.test.att.com:8443
      resourceNamespaces:
         operationalEnvironments: /aai/v12/cloud-infrastructure/operational-environments

   httpClientConfig:
      timeouts:
         readTimeoutMs: 5000
         connectTimeoutMs: 1000
      clientCertificate:
         keyStore: /app/jetty/opt/base/be/etc/non-prod.jks
         keyStorePassword: hmXYcznAljMSisdy8zgcag==
      headers:
         X-FromAppId: asdc
      numOfRetries: 3

msoConfig:
   httpRequestConfig:
      serverRootUrl: http://127.0.0.1:8080/onap/mso/infra/modelDistributions/v1
      resourceNamespaces:
         distributions: /distributions

   httpClientConfig:
       timeouts:
          readTimeoutMs: 2000
          connectTimeoutMs: 500
       basicAuthorization:
          userName: asdc
          password: OTLEp5lfVhYdyw5EAtTUBQ==
       numOfRetries: 3
       
