.workspace-attributes {

    width: 93%;
    display: inline-block;
    .w-sdc-classic-btn {
        float: right;
        margin-bottom: 10px;
    }

    .table{
        height:490px;
        margin-bottom: 0;
    }

    .table-container-flex {
        margin-top: 27px;

        .text{
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
        }

        .flex-item:nth-child(1) {
            flex-grow: 15;

            .hand;
            span.table-arrow {
                margin-right: 7px;
            }
        }

        .flex-item:nth-child(2) {
            flex-grow: 6;
        }

        .flex-item:nth-child(3) {
            flex-grow: 9;
        }

        .flex-item:nth-child(4) {
            flex-grow: 3;
            padding-top: 10px;
        }

        .flex-item:nth-child(5) {
            flex-grow: 1;

        }

    }

}
