

//This was done as a fix for the wrong dispaly that was in every ui-tile.
//All other styles located in mail.less

.sdc-tile {
  display: block;

  .sdc-tile-content {
    overflow: visible;
    height: 80%;
    .sdc-tile-content-icon {
    }
  }
}
