:host ::ng-deep {
    .ngx-datatable {
        > div {
            min-height: 5px;
        }
    }
}

.datatable-header-cell {
    text-align: left;
    color: red;
}

.statusHeaderTable {
    color: #000000;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.status {
    padding-right: 30px;
    color: #5a5a5a;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
}

.distributionIDBlock {
    display: inline-block;
}

.distributionRowContainer{
    background-color: #eaeaea;
    text-align: center;
}

.distributionRowLabel {
    overflow: hidden;
    padding-top: 10px;
    color: #000000;
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.distributionRowValue {
    color: #263d4d;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
}

.urlValue {
    float: left;
    color: #263d4d;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
}

.urlCopyIcon {
    float: right;
    width: 8%;
}

.ellipsisCell {
    width: 92%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}








