<!-- only one line, shut up logback ! -->
<configuration >
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
