.red {
    color: red;
}

.green {
  color: green;
}

.msoStatus {
  padding-left: 5px;
}

.blue {
  color: #009fdb;
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 14px;
}

.rightVerticalSeperator {
        border-right: 1px solid #d2d2d2;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
}

.rightVerticalSeperatorComponent {
  border-right: 1px solid #d2d2d2;
  padding-left: 5px;
  padding-right: 5px;
}

.floatRight{
    float: right;
}

.distributionSummary {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eaeaea;
    padding-left: 25px;
    padding-right: 25px;
}

.componentSummary {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eaeaea;
    padding-left: 25px;
    padding-right: 25px;
}

.componentShiftLeft {
  margin-left: 15px;
}

.titleSummaryFontSettings {
  color: #191919;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
}




