<div class="i-sdc-designer-sidebar-capabilities-requirements">
        <div class="i-sdc-designer-sidebar-section-content-item-relations-group">
            <div class="i-sdc-designer-sidebar-section-content-item-relations"
                 *ngFor="let requirement of requirements">
                <div class="i-sdc-designer-sidebar-section-content-item-relations-details">
                    <div class="i-sdc-designer-sidebar-section-content-item-relations-details-name">{{requirement.name}}&nbsp;</div>
                    <div class="i-sdc-designer-sidebar-section-content-item-relations-details-desc">{{requirement.node}}
                        <div *ngIf="getRelation(requirement) != null">
                            <div class="i-sdc-designer-sidebar-section-content-item-relations-details-indent-box"></div>
                            <div class="i-sdc-designer-sidebar-section-content-item-relations-details-child">
                                <span class="i-sdc-designer-sidebar-section-content-item-relations-details-desc">{{getRelation(requirement).type}} <br/></span>
                                <span class="i-sdc-designer-sidebar-section-content-item-relations-details-name">{{getRelation(requirement).requirementName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    