<div class="sdc-admin-container">

    <!--<ecomp-header menu-data="menuItems" version="{{version}}" clickable-logo="false"></ecomp-header>-->

    <nav class="sdc-admin-top-bar-menu">
        <button class="sdc-admin-top-bar-menu-tab" data-tests-id="usermanagmenttab"
                data-ng-class="{'selected': isSelected('USER_MANAGEMENT')}"
                data-ng-click="moveToTab('USER_MANAGEMENT')"
                translate="USER_MANAGEMENT">
        </button>
        <button class="sdc-admin-top-bar-menu-tab" data-tests-id="categorymanagmenttab"
                data-ng-class="{'selected': isSelected('CATEGORY_MANAGEMENT')}"
                data-ng-click="moveToTab('CATEGORY_MANAGEMENT')"
                translate="CATEGORY_MANAGEMENT">
        </button>
        <a href={{monitorUrl}} target="_blank" ng-show="monitorUrl!=''" >
            <button class="sdc-admin-top-bar-menu-monitor-btn" translate="MONITOR" data-tests-id="monitor"></button>
        </a>
    </nav>

    <div class="sdc-admin-body">
        <ng-include src="templateUrl"  ng-if="true"></ng-include>
    </div>

</div>
