.edit-module-name-btn{
    float:right;
    margin-left: 10px;
    margin-bottom: 20px;
}
.save-button {
    margin-left: 30px;
}
.cancel-button {
    margin-left: 20px;
}
.edit-module-name-heatName {
    margin-bottom: 15px;
}
.edit-module-name-label {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
}
