/deep/
.component-details-panel-header {
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;

    .icon {
        margin: 0 20px;
        display:flex;
    }

    .title {
        font-size: 16px;
        text-overflow: ellipsis;
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
    }

    .rename-instance {
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
    }

    .delete-instance {
        position: absolute;
        top: 14px;
        right: 40px;
        cursor: pointer;
    }


    .non-certified {
        position: absolute;
        background-image: url('../../../../../../assets/styles/images/sprites/sprite-global-old.png');
        background-position: -157px -3386px; width: 15px; height: 15px;
    
        &.smaller-icon {
            left: 35px;
            bottom: -14px;
        }
    }
    
    
}