sphinx>=4.2.0  # BSD
sphinx-rtd-theme>=1.0.0  # MIT
sphinxcontrib-blockdiag  # BSD
sphinxcontrib-seqdiag # BSD
sphinxcontrib-spelling
sphinxcontrib-plantuml
six
Pillow<10.0.0  # Required for blockdiag compatibility (textsize removed in Pillow 10)
