.req-and-cap-filter {
    width: 336px;
    float: right;
    margin-right: 10px;
}

.addTitle {
    float: right;
    text-transform: uppercase;
    font-family: OpenSans-Semibold, sans-serif;
    color: #009fdb;
    cursor: pointer;
}

:host ::ng-deep .sdc-tabs {
    .sdc-tab-content {
        margin-top: 0;
    }
}
