@import './../../../../../../assets/styles/variables.less';
.service-path-selector {
	margin: 10px 35px 10px 0;
	display: flex;
	font-size: 12px;

	/deep/ .path-dropdown {
		width: 150px;
		select {
			font-size: 14px;
			font-family: @font-opensans-regular;
			padding: 4px 10px;
		}
	}

	label {
		margin-right: 10px;
		align-self: center;
		font-size: 14px;
		font-family: @font-opensans-regular;
		font-weight: normal;
		margin-bottom: initial;
	}
}
