label.tlv-checkbox {
    font-weight: normal;
}

/*
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    margin-right: 6px;
    vertical-align: text-bottom;
    .sprite-new;
    .checkbox_unchecked;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    vertical-align: text-bottom;
    .sprite-new;
    .checkbox_checked;
}

input[type="checkbox"]:focus + label span {
    vertical-align: text-bottom;
    .sprite-new;
    .checkbox_focus;
}

input[type="checkbox"][disabled] + label{
    vertical-align: text-bottom;
    .sprite-new;
    .checkbox_disabled;
}
*/
