.edit-name-popover{
    max-width: none;
    width: 310px;
    left: initial !important;
    right: 10px;
    z-index: 100;

    .arrow {
        left: 95% !important;
        border-width: 7px;
        bottom: -8px !important;
    }
}

.popover {
    border-radius: 0;

    .top > .arrow {
        bottom: -8px !important;
    }

    .popover-title {
        background-color: transparent;
        border-bottom: 2px solid #40b7e4;
        margin-left: 20px;
        margin-right: 20px;
        padding: 8px 14px 8px 0px;
        font-family: @font-opensans-medium;
        font-weight: bold;
    }

    .popover-content {
        width: inherit;
        padding: 9px 20px;
    }

    .form-group {
        margin-top: 9px;
    }

    .popover-btn {
        float:right;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .close-popover-btn {
        position: absolute;
        top: 11px;
        right: 25px;
    }

    .close-popover-btn:hover {
        cursor: pointer;
    }

    .popover-input {
        height: 47px;
        margin-bottom:5px;
    }

    .popover-label {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        margin-bottom: 10px;
        font-family: @font-opensans-medium;
        color: @main_color_l;
    }

    .w-sdc-form .i-sdc-form-item {
        margin-bottom: 0px;
    }
}
