.main-wrap{
    text-align: center;
    .header{
        background-color: @tlv_color_w;
        height: 42px;
        border-bottom: 1px solid rgba(0, 159, 219, 0.6);
        border-top: 1px solid rgba(0, 159, 219, 0.6);
        .title{
            .f-type._14_m;
            color: @main_color_l;
            font-weight: 400;
            line-height: 42px;
            padding-left: 18px;
            float: left;
        }
        .buttons{
            float: right;
            padding-right: 11px;
            line-height: 42px;
            span{
                vertical-align: middle;
            }
            .search,.order-by{
                margin-right: 5px;
            }
            //temporary///
            .search{
                display: none;
            }
            //////////////
        }
    }

    .search-box{
        border-radius: 2px;
        height: 30px;
        width:275px;
        border: 1px @tlv_color_x solid;
        margin: 8px 0;
        padding: 0 5px;
    }
}

