.sdc-tag{

    background-color:#F2F2F2 ;
    .border-radius(4px);
    min-width:150px;
    height:30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 2px;

    .tag{
        display: inline-block;
    }

    .category{
        margin-right: 4px;
        margin-left: 25px;
        width: 25px;

    }
    .relation-categoty-icon{
        .sprite;
        .sprite.relation-icon;
        .hand;
        vertical-align: middle;

    }

    .relation-categoty-icon:hover{
        .sprite;
        .sprite.relation-icon-hover;
    }

    .delete{

    }
    .delete-icon{
        .sprite;
        .sprite.x-btn-black;
        .hand;
        vertical-align: middle;
    }
}

.tag-tooltip-wrap {
    background-color: rgba(80, 99, 113, 0.9);
    position: relative;
    display: inline-block;
    margin: -5px -14px 0px -14px;
}
