.w-sdc-classic-top-line-modal {

    .w-sdc-modal-head {
        //   border-bottom: none;
    }
    .w-sdc-distribution-view {
        .actions-buttons {
            height: 29px;
            padding: 0 25px 0 0px;
            span{
                float: right;
            }
        }

        .w-sdc-distribution-view-content {
            height: 500px;
        }

        .w-sdc-distribution-view-content-section {

            .w-sdc-distribute-parent-block {
                .w-sdc-distribute-components-block {

                    .omf-component-row {
                        .w-sdc-distribute-status-block {
                            margin-left: 0;
                        }

                    }
                    div {
                        padding-left: 0;
                    }
                }

            }

        }
    }
}

