<div class="w-sdc-component-viewer-right-properties">

    <h4 class="w-sdc-resource-viewer-right-title">General Information</h4>
    <div class="w-sdc-resource-viewer-right-content-section">
        <div class='sdc-resource-viewer-sidebar-section-content-column-1'>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_TYPE"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" >Resource</span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_RESOURCE_TYPE"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.resourceType | resourceTypeName"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_VERSION"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.version"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_CATEGORY"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" tooltips tooltip-content="{{component.categories[0].name}}" data-ng-bind="component.categories[0].name"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_SUB_CATEGORY"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" tooltips tooltip-content="{{component.categories[0].subcategories[0].name}}" data-ng-bind="component.categories[0].subcategories[0].name"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_CREATION_DATE"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.creationDate | date: 'MM/dd/yyyy'"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_AUTHOR"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.creatorFullName"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_VENDOR_NAME"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.vendorName"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_VENDOR_RELEASE"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.vendorRelease"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_CONTACT_ID"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.contactId"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label">Life Cycle Status:</span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value">
                    {{sdcMenu.LifeCycleStatuses[component.lifecycleState].text}}
                </span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label">System Name:</span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" tooltips tooltip-content="{{component.systemName}}" data-ng-bind="component.systemName"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_LICENSE_TYPE"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.licenseType"></span>
            </div>
        </div>
        <div class='sdc-resource-viewer-sidebar-section-content-column-2'>
            <div class="sdc-resource-viewer-sidebar-section-content-item description">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_DESCRIPTION"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-item-value" data-ng-bind="component.description"></span>
            </div>
            <div class="sdc-resource-viewer-sidebar-section-content-item">
                <span class="sdc-resource-viewer-sidebar-section-content-item-label" translate="GENERAL_LABEL_TAGS"></span>
                <span class="sdc-resource-viewer-sidebar-section-content-tags" data-ng-repeat="(tag, tagName) in component.tags" tooltips tooltip-content="{{component.tags.join(', ')}}">{{tagName}}{{$last ? '' : ','}}</span>
            </div>
        </div>
    </div>

    <h4 class="w-sdc-resource-viewer-right-title">Additional Information</h4>

    <div class="sdc-properties-container w-sdc-resource-viewer-right-content-section">
        <table class="w-sdc-resource-viewer-right-table" data-ng-show="additionalInformations.length">
            <thead class="w-sdc-resource-viewer-right-table-head">
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-2">Key</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-2">Value</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="additionalInformation in additionalInformations">
                <td><span class="ellipsis-cols2" tooltips tooltip-content="{{additionalInformation.key}}">{{additionalInformation.key}}</span></td>
                <td><span class="ellipsis-cols2" tooltips tooltip-content="{{additionalInformation.value}}">{{additionalInformation.value}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="w-sdc-resource-viewer-right-title">Properties</h4>
    <div class="sdc-properties-container w-sdc-resource-viewer-right-content-section">
        <table class="w-sdc-resource-viewer-right-table" data-ng-show="component.properties.length">
            <thead class="w-sdc-resource-viewer-right-table-head">
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-2">Name</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3">Type (Constraints)</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3">Default Value</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="property in component.properties">
                <td><span class="ellipsis-cols2" data-tests-id="{{property.name}}" tooltips tooltip-content="{{property.name}}">{{property.name}}</span></td>
                <td><span data-tests-id="{{property.type}}">{{property.type}}</span></td>
                <td><span class="ellipsis-cols3" data-tests-id="{{property.defaultValue}}" tooltips tooltip-content="{{property.defaultValue}}">{{property.defaultValue}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="w-sdc-resource-viewer-right-title">Requirements</h4>
    <div class="sdc-requirements-container w-sdc-resource-viewer-right-content-section" >
        <table class="w-sdc-resource-viewer-right-table" data-ng-show="hasItems(component.requirements)">
            <thead  class="w-sdc-resource-viewer-right-table-head">
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-1">Type</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="(key, value) in component.requirements">
                <td>{{value[0].name}}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <h4 class="w-sdc-resource-viewer-right-title">Deployment Artifacts</h4>

    <div class="sdc-information-container w-sdc-resource-viewer-right-content-section" >
        <table class="w-sdc-resource-viewer-right-table" data-ng-show="hasItems(component.deploymentArtifacts)">
            <thead  class="w-sdc-resource-viewer-right-table-head">
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-2">Name</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3">File</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3">Version</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3"></th>
            </thead>
            <tbody>
            <tr data-ng-repeat="(artifactLogicName, artifact) in component.deploymentArtifacts">
                <td><span class="ellipsis-cols2" data-tests-id="{{artifact.artifactDisplayName}}" tooltips tooltip-content="{{artifact.artifactDisplayName}}">{{artifact.artifactDisplayName}}</span></td>
                <td><span class="ellipsis-cols3"  data-tests-id="{{artifact.artifactName}}" tooltips tooltip-content="{{artifact.artifactName}}">{{artifact.artifactName}}</span></td>
                <td><span class="ellipsis-cols3"  data-tests-id="{{artifact.artifactVersion}}" tooltips tooltip-content="{{artifact.artifactVersion}}" data-ng-if="artifact.esId">{{artifact.artifactVersion}}</span></td>
                <td class="cols-3">
                    <download-artifact class="sdc-information-artifacts-icon download" data-ng-if="artifact.artifactName" component="component" artifact="artifact"></download-artifact>
                    <!--span class="sdc-information-artifacts-icon preview"></span-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="w-sdc-resource-viewer-right-title">Information Artifacts</h4>
    <div class="sdc-information-container w-sdc-resource-viewer-right-content-section" >
        <table class="w-sdc-resource-viewer-right-table" data-ng-show="hasItems(component.artifacts)">
            <thead  class="w-sdc-resource-viewer-right-table-head">
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-2">Name</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3">File</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3">Version</th>
                <th class="w-sdc-resource-viewer-right-table-head-cell cols-3"></th>
            </thead>
            <tbody>
            <tr data-ng-repeat="(artifactLogicName, artifact) in component.artifacts">
                <td><span class="ellipsis-cols2"  data-tests-id="{{artifact.artifactDisplayName}}" tooltips tooltip-content="{{artifact.artifactDisplayName}}">{{artifact.artifactDisplayName}}</span></td>
                <td><span class="ellipsis-cols3"  data-tests-id="{{artifact.artifactName}}" tooltips tooltip-content="{{artifact.artifactName}}">{{artifact.artifactName}}</span></td>
                <td><span class="ellipsis-cols3"  data-tests-id="{{artifact.artifactVersion}}" tooltips tooltip-content="{{artifact.artifactVersion}}" data-ng-if="artifact.esId">{{artifact.artifactVersion}}</span></td>
                <td class="cols-3">
                    <download-artifact class="sdc-information-artifacts-icon download" data-ng-if="artifact.artifactName" component="component" artifact="artifact"></download-artifact>
                    <!--span class="sdc-information-artifacts-icon preview"></span-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
